html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}
body {
  margin: 0
}
main {
  display: block
}
h1 {
  font-size: 2em;
  margin: .67em 0
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}
pre {
  font-family: monospace,monospace;
  font-size: 1em
}
a {
  background-color: transparent
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}
b,
strong {
  font-weight: bolder
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
img {
  border-style: none
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}
button,
input {
  overflow: visible
}
button,
select {
  text-transform: none
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText
}
fieldset {
  padding: .35em .75em .625em
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}
progress {
  vertical-align: baseline
}
textarea {
  overflow: auto
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}
details {
  display: block
}
summary {
  display: list-item
}
[hidden],
template {
  display: none
}
html {
  box-sizing: border-box
}
*,
::after,
::before {
  box-sizing: inherit
}
.author-box::before,
.clearfix::before,
.entry-content::before,
.entry::before,
.footer-widgets::before,
.nav-primary::before,
.nav-secondary::before,
.pagination::before,
.site-container::before,
.site-footer::before,
.site-header::before,
.site-inner::before,
.widget::before,
.wrap::before {
  content: " ";
  display: table
}
.author-box::after,
.clearfix::after,
.entry-content::after,
.entry::after,
.footer-widgets::after,
.nav-primary::after,
.nav-secondary::after,
.pagination::after,
.site-container::after,
.site-footer::after,
.site-header::after,
.site-inner::after,
.widget::after,
.wrap::after {
  clear: both;
  content: " ";
  display: table
}
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased
}
body {
  background-color: #fff;
  color: #333;
  font-family: "Source Sans Pro",sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.625;
  margin: 0;
  overflow-x: hidden
}
.button,
.gallery img,
button,
input:focus,
input[type=button],
input[type=reset],
input[type=submit],
textarea:focus {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}
a {
  color: #0073e5;
  text-decoration: underline;
  -webkit-transition: color .2s ease-in-out,background-color .2s ease-in-out;
  transition: color .2s ease-in-out,background-color .2s ease-in-out
}
a:focus,
a:hover {
  color: #333;
  text-decoration: none
}
p {
  margin: 0 0 30px;
  padding: 0
}
ol,
ul {
  margin: 0;
  padding: 0
}
li {
  list-style-type: none
}
hr {
  border: none;
  border-collapse: collapse;
  border-top: 1px solid #eee;
  clear: both;
  margin: 30px 0
}
b,
strong {
  font-weight: 700
}
blockquote,
cite,
em,
i {
  font-style: italic
}
mark {
  background: #ddd;
  color: #333
}
blockquote {
  margin: 30px
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro",sans-serif;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 0 20px
}
h1 {
  font-size: 30px
}
h2 {
  font-size: 27px
}
h3 {
  font-size: 24px
}
h4 {
  font-size: 20px
}
.entry-content h3,
.entry-content h4 {
  font-weight: 600
}
.entry-content h4 {
  margin-top: 40px
}
h5 {
  font-size: 18px
}
h6 {
  font-size: 16px
}
.wp-caption,
embed,
iframe,
img,
object,
video {
  max-width: 100%
}
img {
  height: auto;
  vertical-align: top
}
figure {
  margin: 0
}
.gallery {
  overflow: hidden
}
.gallery img {
  border: 1px solid #eee;
  height: auto;
  padding: 4px
}
.gallery img:focus,
.gallery img:hover {
  border: 1px solid #999;
  outline: 0
}
.gallery-columns-1 .gallery-item {
  width: 100%
}
.gallery-columns-2 .gallery-item {
  width: 50%
}
.gallery-columns-3 .gallery-item {
  width: 33%
}
.gallery-columns-4 .gallery-item {
  width: 25%
}
.gallery-columns-5 .gallery-item {
  width: 20%
}
.gallery-columns-6 .gallery-item {
  width: 16.6666%
}
.gallery-columns-7 .gallery-item {
  width: 14.2857%
}
.gallery-columns-8 .gallery-item {
  width: 12.5%
}
.gallery-columns-9 .gallery-item {
  width: 11.1111%
}
.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
  clear: left
}
.gallery-item {
  float: left;
  margin: 0 0 30px;
  text-align: center
}
input,
select,
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;
  font-size: 18px;
  font-weight: 400;
  padding: 15px;
  width: 100%
}
input:focus,
textarea:focus {
  border: 1px solid #999;
  outline: 0
}
input[type=checkbox],
input[type=image],
input[type=radio] {
  width: auto
}
::-ms-input-placeholder {
  color: #333;
  opacity: 1
}
:-ms-input-placeholder {
  color: #333;
  opacity: 1
}
::-webkit-input-placeholder {
  color: #333;
  opacity: 1
}
::-moz-placeholder {
  color: #333;
  opacity: 1
}
::placeholder {
  color: #333;
  opacity: 1
}
.button,
.site-container div.wpforms-container-full .wpforms-form button[type=submit],
.site-container div.wpforms-container-full .wpforms-form input[type=submit],
button,
input[type=button],
input[type=reset],
input[type=submit] {
  background-color: #333;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  white-space: normal;
  width: auto
}
.button:focus,
.button:hover,
.site-container div.wpforms-container-full .wpforms-form button[type=submit]:focus,
.site-container div.wpforms-container-full .wpforms-form button[type=submit]:hover,
.site-container div.wpforms-container-full .wpforms-form input[type=submit]:focus,
.site-container div.wpforms-container-full .wpforms-form input[type=submit]:hover,
button:focus,
button:hover,
input[type=button]:focus,
input[type=button]:hover,
input[type=reset]:focus,
input[type=reset]:hover,
input[type=submit]:focus,
input[type=submit]:hover {
  background-color: #0073e5;
  border-width: 0;
  color: #fff
}
.entry-content .button:focus,
.entry-content .button:hover {
  color: #fff
}
.button {
  display: inline-block
}
.site-container button:disabled,
.site-container button:disabled:hover,
.site-container input:disabled,
.site-container input:disabled:hover,
.site-container input[type=button]:disabled,
.site-container input[type=button]:disabled:hover,
.site-container input[type=reset]:disabled,
.site-container input[type=reset]:disabled:hover,
.site-container input[type=submit]:disabled,
.site-container input[type=submit]:disabled:hover {
  background-color: #eee;
  border-width: 0;
  color: #777;
  cursor: not-allowed
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button {
  display: none
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 40px;
  table-layout: fixed;
  width: 100%;
  word-break: break-all
}
tbody {
  border-bottom: 1px solid #eee
}
td,
th {
  text-align: left;
  vertical-align: top
}
td {
  border-top: 1px solid #eee;
  padding: 10px
}
th {
  font-weight: 600;
  padding: 0 10px 10px
}
td:first-child,
th:first-child {
  padding-left: 0
}
td:last-child,
th:last-child {
  padding-right: 0
}
.screen-reader-shortcut,
.screen-reader-text,
.screen-reader-text span {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  overflow: hidden;
  position: absolute!important;
  width: 1px;
  word-wrap: normal!important
}
.screen-reader-shortcut:focus,
.screen-reader-text:focus,
.widget_search input[type=submit]:focus {
  background: #fff;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
  clip: auto!important;
  color: #333;
  display: block;
  font-size: 1em;
  font-weight: 700;
  height: auto;
  padding: 15px 23px 14px;
  text-decoration: none;
  width: auto;
  z-index: 100000
}
.more-link {
  display: inline-block;
  position: relative;
  margin-bottom: 30px
}
.site-container {
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
  word-wrap: break-word
}
@-webkit-keyframes fadein {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
@keyframes fadein {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
.site-inner {
  clear: both;
  margin: 0 auto;
  padding: 15px 15px 0
}
.avatar {
  border-radius: 50%;
  float: left
}
.alignleft .avatar,
.author-box .avatar {
  margin-right: 20px
}
.alignright .avatar {
  margin-left: 20px
}
.comment .avatar {
  margin: 0 15px 20px 0
}
.after-entry,
.archive-description,
.author-box {
  margin-bottom: 40px
}
.after-entry {
  box-shadow: 0 0 20px rgba(0,0,0,.05);
  padding: 20px 30px
}
.after-entry .widget:last-of-type {
  margin-bottom: 0
}
.breadcrumb {
  border-bottom: 1px solid #eee;
  font-size: 16px;
  margin-bottom: 20px;
  padding-bottom: 10px
}
.genesis-title-hidden .breadcrumb {
  margin-top: 40px
}
.archive-description p:last-child,
.author-box p:last-child {
  margin-bottom: 0
}
.search-form {
  overflow: hidden
}
.entry-content .search-form {
  margin-bottom: 40px;
  width: 50%
}
.post-password-form input[type=submit],
.search-form input[type=submit] {
  margin-top: 10px
}
.widget_search input[type=submit] {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px
}
.faq-filter-image-link figure {
  width: 100%;
  margin: 0 0;
  float: none!important;
  clear: both
}
.archive-description .entry-title,
.archive-title,
.author-box-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px
}
.entry-title {
  font-size: 30px;
  margin-bottom: 10px
}
.entry-title a,
.sidebar .widget-title a {
  color: #333;
  text-decoration: none
}
.entry-title a:focus,
.entry-title a:hover {
  color: #0073e5
}
.widget-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px
}
.genesis-title-hidden .site-inner {
  padding-top: 0
}
a.aligncenter img {
  display: block;
  margin: 0 auto
}
a.alignnone {
  display: inline-block
}
.alignleft {
  float: left;
  text-align: left
}
.alignright {
  float: right;
  text-align: right
}
a.alignleft,
a.alignnone,
a.alignright {
  max-width: 100%
}
.aligncenter,
.singular-image,
img.centered {
  display: block;
  margin: 0 auto 30px
}
.alignnone,
img.alignnone {
  margin-bottom: 15px
}
.wp-caption.alignleft,
a.alignleft,
img.alignleft {
  margin: 0 20px 20px 0
}
.wp-caption.alignright,
a.alignright,
img.alignright {
  margin: 0 0 20px 20px
}
.gallery-caption,
.wp-caption-text {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  text-align: center
}
.entry-content p.wp-caption-text {
  margin-bottom: 0
}
.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
  margin: 0 0 30px
}
.widget p:last-child,
.widget ul > li:last-of-type {
  margin-bottom: 0
}
.widget ul > li {
  margin-bottom: 10px
}
.widget ul > li:last-of-type {
  padding-bottom: 0
}
.widget ol > li {
  list-style-position: inside;
  list-style-type: decimal;
  padding-left: 20px;
  text-indent: -20px
}
.widget li li {
  border: 0;
  margin: 0 0 0 30px;
  padding: 0
}
.widget_calendar table {
  width: 100%
}
.widget_calendar td,
.widget_calendar th {
  text-align: center
}
.featured-content .entry {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px
}
.featured-content .entry:last-of-type {
  border-bottom: none;
  margin-bottom: 0
}
.featured-content .entry-title {
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 10px
}
.container {
  max-width: 1140px;
  padding: 0 30px;
  margin: 0 auto;
  width: 100%
}
.after-entry .enews {
  text-align: center;
  padding: 10px
}
.sidebar .enews {
  background-color: #f5f5f5;
  padding: 30px
}
.enews-widget input {
  font-size: 16px;
  margin-bottom: 10px
}
.after-entry .enews-widget input {
  text-align: center
}
.enews-widget input[type=submit] {
  margin: 0;
  width: 100%
}
.enews form + p {
  margin-top: 20px
}
.gs-faq__question {
  background: 0 0;
  border-bottom: 1px solid #eee;
  color: #333;
  padding-left: 0;
  padding-right: 0
}
.gs-faq__question:focus,
.gs-faq__question:hover {
  background: 0 0;
  color: #0073e5
}
.gs-faq__question::after {
  content: "\f132";
  font-family: dashicons;
  float: right
}
.gs-faq__question.gs-faq--expanded::after {
  content: "\f460"
}
.entry-content .wpforms-container {
  margin-bottom: 40px
}
.entry-content .wpforms-form .wpforms-field {
  clear: both;
  margin: 20px 0;
  overflow: hidden
}
.site-container .wpforms-container .wpforms-form .wpforms-field input {
  border-radius: 0;
  height: auto;
  padding: 15px
}
.site-container .entry-content .wpforms-form .wpforms-field-label {
  font-weight: 600
}
.site-container .entry-content .wpforms-form .wpforms-field-sublabel {
  font-size: 14px;
  font-weight: 300
}
.entry-content .wpforms-form .wpforms-field-hp {
  display: none!important;
  left: -9000px!important;
  position: absolute!important
}
.site-container .entry-content .wpforms-form textarea {
  padding: 15px
}
.site-container .entry-content .wpforms-form textarea.wpforms-field-small {
  height: 120px
}
.site-container .entry-content .wpforms-form textarea.wpforms-field-medium {
  height: 200px
}
.site-container .entry-content .wpforms-form textarea.wpforms-field-large {
  height: 300px
}
.genesis-skip-link {
  margin: 0
}
.genesis-skip-link .skip-link-hidden {
  display: none;
  visibility: hidden
}
.genesis-skip-link li {
  height: 0;
  list-style: none;
  width: 0
}
:focus {
  color: #333;
  outline: #ccc solid 1px
}
.site-header {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,.05);
  padding: 0 30px
}
.title-area {
  float: left;
  padding-bottom: 25px;
  padding-top: 5px
}
.wp-custom-logo .title-area {
  max-width: 350px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%
}
.wp-custom-logo .title-area img {
  width: auto
}
.site-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 0
}
.site-title a,
.site-title a:focus,
.site-title a:hover {
  color: #333;
  text-decoration: none
}
.site-description,
.wp-custom-logo .site-title {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  overflow: hidden;
  position: absolute!important;
  width: 1px;
  word-wrap: normal!important
}
.genesis-nav-menu {
  clear: both;
  line-height: 1;
  width: 100%
}
.genesis-nav-menu .menu-item {
  display: block;
  float: none;
  position: relative
}
.genesis-nav-menu a {
  color: #333;
  display: block;
  font-size: 15px;
  font-weight: 400;
  outline-offset: -1px;
  padding-bottom: 12px;
  padding-top: 12px;
  text-decoration: none
}
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.genesis-nav-menu a:focus,
.genesis-nav-menu a:hover {
  color: #0073e5;
  text-decoration: none
}
.genesis-nav-menu .sub-menu,
.genesis-nav-menu .sub-menu a {
  width: 100%
}
.genesis-nav-menu .sub-menu {
  clear: both;
  display: none;
  left: -9999px;
  margin: 0;
  opacity: 1;
  padding-left: 15px;
  position: static;
  z-index: 99
}
.genesis-nav-menu .sub-menu a {
  background-color: #fff;
  font-size: 14px;
  position: relative;
  word-wrap: break-word
}
.genesis-nav-menu .menu-item:focus,
.genesis-nav-menu .menu-item:hover {
  position: relative
}
.genesis-nav-menu .menu-item:hover > .sub-menu {
  display: block;
  left: auto;
  opacity: 1
}
.menu .menu-item:focus {
  position: static
}
.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
  left: auto;
  opacity: 1
}
.genesis-responsive-menu {
  display: none;
  position: relative
}
.genesis-responsive-menu .genesis-nav-menu .menu-item:hover > .sub-menu {
  display: none
}
.menu-toggle,
.sub-menu-toggle {
  background-color: transparent;
  border-width: 0;
  color: #333;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  visibility: visible
}
.menu-toggle:focus,
.menu-toggle:hover,
.sub-menu-toggle:focus,
.sub-menu-toggle:hover {
  background-color: transparent;
  border-width: 0;
  color: #0073e5
}
.menu-toggle {
  float: right;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 15px 0;
  position: relative;
  z-index: 1000
}
.menu-toggle.activated::before {
  content: "\f335"
}
.site-header .menu-toggle::before {
  float: left;
  margin-right: 5px;
  position: relative;
  text-rendering: auto;
  top: 1px
}
.sub-menu-toggle {
  float: right;
  padding: 9px 10px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100
}
.sub-menu .sub-menu-toggle {
  padding: 12px 10px
}
.sub-menu-toggle::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: -webkit-transform .25s ease-in-out;
  transition: -webkit-transform .25s ease-in-out;
  transition: transform .25s ease-in-out;
  transition: transform .25s ease-in-out,-webkit-transform .25s ease-in-out
}
.sub-menu-toggle.activated::before {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}
.nav-primary {
  clear: both;
  padding-bottom: 5px;
  padding-top: 0;
  width: 100%;
  text-align: center
}
.nav-primary .sub-menu {
  text-align: left
}
.archive-entry-content-thumbnail {
  width: 200px;
  margin: 8px 20px 20px 0;
  height: 165px
}
figcaption {
  max-width: 300px;
  display: block;
  font-style: italic;
  font-size: 14px;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: .5rem
}
figure.alignright {
  margin-left: 20px
}
.archive-entry-content-thumbnail img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}
.nav-phone-number {
  float: right;
  text-align: right
}
.nav-secondary {
  margin-top: 10px
}
.nav-secondary .genesis-nav-menu {
  line-height: 1.5
}
.nav-secondary .menu-item {
  display: inline-block
}
.nav-secondary a {
  margin-left: 10px;
  margin-right: 10px;
  padding: 0
}
.entry {
  margin-bottom: 40px
}
.entry-content ol,
.entry-content ul {
  margin-bottom: 30px;
  padding-left: 40px
}
.entry-content ol > li {
  list-style-type: decimal
}
.entry-content ul > li {
  list-style-type: disc
}
.entry-content ol ul > li,
.entry-content ul ul > li {
  list-style-type: circle
}
.entry-content ol ol,
.entry-content ul ul {
  margin-bottom: 0
}
.entry-content code {
  background-color: #f5f5f5
}
.content .sticky {
  background-color: #f5f5f5;
  padding: 30px
}
p.entry-meta {
  font-size: 16px;
  margin-bottom: 0
}
.entry-header .entry-meta {
  margin-bottom: 20px
}
.entry-footer .entry-meta {
  border-top: 1px solid #eee;
  padding-top: 20px
}
.entry-categories,
.entry-tags {
  display: block
}
.entry-comments-link::before {
  content: "\2014";
  margin: 0 6px 0 2px
}
.pagination {
  clear: both;
  margin: 60px 0
}
.adjacent-entry-pagination {
  margin-bottom: 0
}
.archive-pagination li {
  display: inline
}
.archive-pagination li a {
  background-color: #f5f5f5;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
  padding: 8px 12px;
  text-decoration: none
}
.archive-pagination li a:focus,
.archive-pagination li a:hover,
.archive-pagination li.active a {
  background-color: #333;
  color: #fff
}
.comment-respond,
.entry-comments,
.entry-pings {
  margin-bottom: 40px
}
.comment-list li {
  padding: 40px 0 0 30px
}
.comment-list .depth-1 {
  padding-left: 0
}
.comment-header {
  margin-bottom: 30px
}
.comment-content {
  clear: both
}
.comment-content ul > li {
  list-style-type: disc
}
.comment-respond input[type=email],
.comment-respond input[type=text],
.comment-respond input[type=url] {
  width: 50%
}
.comment-respond label {
  display: block;
  margin-right: 12px
}
.comment-header p {
  margin-bottom: 0
}
.entry-pings .reply {
  display: none
}
.comment-form-cookies-consent label {
  display: inline;
  padding-left: 10px
}
.sidebar {
  font-size: 16px;
  line-height: 1.5
}
.sidebar .widget-wrap {
  padding: 0 0 30px 0
}
.sidebar p {
  margin-bottom: 20px
}
.footer-widgets {
  border-top: 1px solid #eee;
  background-color: #fff;
  clear: both;
  padding: 60px 0
}
.footer-widgets .wrap {
  margin-left: auto;
  margin-right: auto
}
.footer-widget-area {
  margin-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px
}
.footer-widget-area:last-child,
.footer-widgets .widget:last-child {
  margin-bottom: 0
}
.site-footer {
  background: #f1f1f1;
  border-top: 1px solid #eee;
  font-size: 15px;
  line-height: 1.5;
  padding: 30px;
  text-align: center
}
.site-footer p {
  margin-bottom: 0
}
.footer-columns {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap
}
.footer-columns .footer-columns__column {
  min-width: 260px;
  margin: 0 auto;
  width: 33%;
  text-align: left
}
.copyright {
  text-align: center;
  font-size: 14px;
  padding: 10px 0
}
.content-sidebar-wrap {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start
}
.content-sidebar-wrap aside {
  width: 30%
}
.content-sidebar-wrap main {
  padding-right: 30px;
  width: 70%
}
.home .content-sidebar-wrap main {
  padding-right: 0
}
p.rs-content-cta {
  background: #333;
  color: #f1f1f1;
  text-align: center!important;
  font-size: 28px;
  font-weight: 500;
  padding: 20px 10px;
  clear: both
}
p.rs-content-cta-small {
  font-size: 26px
}
p.rs-content-cta:not(.rs-content-cta-small) a {
  font-weight: 700;
  font-size: 53px;
  display: block;
  text-align: center;
  line-height: 1.1;
  margin-top: 10px;
  color: #fff;
  text-decoration: none
}
@media screen and (max-width:1024px) {
  p.rs-content-cta:not(.rs-content-cta-small) a {
    font-size: 40px
  }
}
p.rs-content-cta a {
  color: #5b91ce;
  text-decoration: none
}
p.rs-content-cta a:hover {
  text-decoration: underline
}
.rs-areas-list li {
  float: left;
  width: 50%;
  margin-left: 0!important;
  padding: 0 0 0 .5em;
  list-style-position: inside!important
}
.rs-areas-list:after {
  content: '';
  clear: both;
  display: table
}
.hc-map .hc-map-inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between
}
.single-entry-content-thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.alignleft {
  float: left;
  margin-right: 30px;
  margin-bottom: 30px
}
.related-videos {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between
}
.related-videos > .related-video {
  width: 45%;
  min-width: 300px
}
.related-videos a {
  display: block;
  text-align: center;
  margin-bottom: 20px
}
.related-videos img {
  float: none!important;
  margin: 0 0 10px!important;
  width: 100%;
  clear: both;
  display: block
}
.related-articles {
  margin-top: 50px;
  border-top: 5px solid #b4262d
}
.related-videos img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
@media screen and (max-width:768px) {
  h2 {
    font-size: 30px
  }
}
.content-sidebar-wrap h2 {
  font-size: 26px;
  margin-top: 35px
}
.alignleft {
  float: left;
  margin-right: 30px;
  margin-bottom: 30px
}
.related-articles > .related-video {
  margin-bottom: 20px
}
.related-articles > .related-video .img-wrp {
  width: 190px;
  height: 150px;
  float: left;
  overflow: hidden;
  margin: 0 20px 20px 0
}
.related-articles > .related-video .img-wrp img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.related-articles {
  margin-top: 50px;
  border-top: 5px solid #b4262d
}
@media only screen and (min-width:480px) {
  table {
    table-layout: auto;
    word-break: normal
  }
}
@media only screen and (min-width:992px) {
  .home .content-sidebar-wrap main {
    width: 100%
  }
  .site-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999
  }
  .admin-bar .site-header {
    top: 32px
  }
  .genesis-nav-menu .menu-item {
    display: inline-block
  }
  .genesis-nav-menu .menu-item:focus,
  .genesis-nav-menu .menu-item:hover {
    position: relative
  }
  .genesis-nav-menu > .menu-bold > a {
    font-weight: 700
  }
  .genesis-nav-menu > .menu-highlight > a {
    background-color: #333;
    border-radius: 3px;
    color: #fff;
    font-weight: 600;
    margin-left: 15px;
    padding-left: 20px;
    padding-right: 20px
  }
  .genesis-nav-menu > .menu-highlight > a:focus,
  .genesis-nav-menu > .menu-highlight > a:hover {
    background-color: #0073e5
  }
  .genesis-nav-menu .sub-menu,
  .genesis-nav-menu .sub-menu a {
    width: 180px
  }
  .genesis-nav-menu .sub-menu {
    border-top: 1px solid #eee;
    opacity: 0;
    padding-left: 0;
    position: absolute;
    -webkit-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out
  }
  .genesis-nav-menu .sub-menu a {
    border: 1px solid #eee;
    border-top: 0;
    padding-bottom: 15px;
    padding-top: 15px
  }
  .genesis-nav-menu .sub-menu .sub-menu {
    margin: -46px 0 0 179px
  }
  .genesis-responsive-menu {
    display: block;
    padding-top: 15px
  }
  .menu-toggle,
  .sub-menu-toggle {
    display: none;
    visibility: hidden
  }
  .nav-primary .genesis-nav-menu a {
    padding-left: 15px;
    padding-right: 15px
  }
  .site-inner {
    max-width: 1140px
  }
  .sidebar-content .content {
    float: right
  }
  .full-width-content .content {
    float: none;
    margin-left: auto;
    margin-right: auto
  }
  .sidebar {
    float: right;
    width: 30%
  }
  .sidebar-content .sidebar {
    float: left
  }
  .author-box {
    background-color: #f5f5f5;
    padding: 30px
  }
  .after-entry {
    padding: 40px 60px
  }
  .after-entry .enews {
    padding-left: 30px;
    padding-right: 30px
  }
  .five-sixths,
  .four-sixths,
  .one-fourth,
  .one-half,
  .one-sixth,
  .one-third,
  .three-fourths,
  .three-sixths,
  .two-fourths,
  .two-sixths,
  .two-thirds {
    float: left;
    margin-left: 2.564102564102564%
  }
  .one-half,
  .three-sixths,
  .two-fourths {
    width: 48.717948717948715%
  }
  .one-third,
  .two-sixths {
    width: 31.623931623931625%
  }
  .four-sixths,
  .two-thirds {
    width: 65.81196581196582%
  }
  .one-fourth {
    width: 23.076923076923077%
  }
  .three-fourths {
    width: 74.35897435897436%
  }
  .one-sixth {
    width: 14.52991452991453%
  }
  .five-sixths {
    width: 82.90598290598291%
  }
  .first {
    clear: both;
    margin-left: 0
  }
  .after-entry,
  .archive-description,
  .author-box,
  .comment-respond,
  .entry,
  .entry-comments,
  .entry-pings {
    margin-bottom: 60px
  }
  .footer-widgets .wrap {
    max-width: 1140px
  }
  .footer-widget-area {
    float: left;
    margin-bottom: 0;
    width: calc(100% / 3)
  }
}
@media screen and (max-width:992px) {
  .content-sidebar-wrap main {
    padding-right: 0
  }
}
@media print {
  *,
  ::after,
  ::before {
    background: 0 0!important;
    box-shadow: none!important;
    color: #333!important;
    text-shadow: none!important
  }
  a,
  a:visited {
    text-decoration: underline
  }
  a[href]::after {
    content: " (" attr(href) ")"
  }
  abbr[title]::after {
    content: " (" attr(title) ")"
  }
  .site-title > a::after,
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: ""
  }
  thead {
    display: table-header-group
  }
  img,
  tr {
    page-break-inside: avoid
  }
  img {
    max-width: 100%!important
  }
  @page {
    margin: 2cm .5cm
  }
  h2,
  h3,
  p {
    orphans: 3;
    widows: 3
  }
  blockquote,
  pre {
    border: 1px solid #999;
    page-break-inside: avoid
  }
  .content,
  .content-sidebar {
    width: 100%
  }
  .breadcrumb,
  .comment-edit-link,
  .comment-form,
  .comment-list .reply a,
  .comment-reply-title,
  .edit-link,
  .entry-comments-link,
  .entry-footer,
  .genesis-box,
  .header-widget-area,
  .hidden-print,
  .home-top,
  .nav-primary,
  .nav-secondary,
  .post-edit-link,
  .sidebar,
  button,
  input,
  select,
  textarea {
    display: none!important
  }
  .title-area {
    text-align: center;
    width: 100%
  }
  .site-title > a {
    margin: 0;
    text-decoration: none;
    text-indent: 0
  }
  .site-inner {
    padding-top: 0;
    position: relative
  }
  .author-box {
    margin-bottom: 0
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    orphans: 3;
    page-break-after: avoid;
    page-break-inside: avoid;
    widows: 3
  }
  img {
    page-break-after: avoid;
    page-break-inside: avoid
  }
  blockquote,
  pre,
  table {
    page-break-inside: avoid
  }
  dl,
  ol,
  ul {
    page-break-before: avoid
  }
}
.text-18 {
  font-size: 1.125rem
}
@media (max-width:992px) {
  .text-18 {
    font-size: 1rem
  }
}
.form-info {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin: 0 auto;
  width: 100%
}
.form-info__label {
  position: relative;
  margin-bottom: .9375rem;
  width: 100%;
  height: 3.125rem
}
.form-info__label:before {
  content: none;
  position: absolute;
  right: .625rem;
  top: 50%;
  color: green;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}
.form-info__label .icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: .625rem;
  width: .9375rem;
  height: .9375rem;
  fill: #a9a9a9
}
.form-info__input {
  border-radius: .25rem;
  border: 1px solid #ada8ab;
  padding: 0 1.875rem;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}
.form-info__input:hover {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border: 1px solid #da6009
}
.form-info__textarea-env {
  position: relative;
  margin-bottom: .9375rem;
  width: 100%;
  height: 9.375rem
}
.form-info__textarea-env .icon {
  position: absolute;
  top: .9375rem;
  left: .625rem;
  width: .9375rem;
  height: .9375rem;
  fill: #a9a9a9
}
.form-info__textarea {
  border-radius: .25rem;
  border: 1px solid #ada8ab;
  padding: .625rem 1.875rem;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  resize: none
}
.form-info__textarea:hover {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border: 1px solid #da6009
}
.form-info__button-submit .button-submit {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border: none;
  border-radius: .25rem;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 3.75rem;
  background: #da6009;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase
}
.form-info__button-submit .button-submit:hover {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: #a94a07
}
@media (max-width:992px) {
  .form-info__button-submit .button-submit {
    width: 16.875rem
  }
}
@media (max-width:768px) {
  .form-info__button-submit .button-submit {
    width: 15rem
  }
}
.sidebar-contact-form__subheading {
  padding: 0 0 15px 0;
  text-align: center;
  font-size: 22px
}
.sidebar-contact-form__phone-heading {
  display: block;
  text-align: center;
  font-size: 22px;
  padding-bottom: 15px;
  text-transform: uppercase
}
.sidebar-contact-form__phone-heading a {
  padding: 0 0 15px 0;
  font-weight: 700;
  color: #001a4a
}
.sidebar-contact-form {
  padding: 20px;
  margin-bottom: 0;
  box-shadow: 0 3px 5px rgba(0,0,0,.2)
}
.sidebar .faq-page-listing {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  border: .0625rem solid #e8e8e8;
  border-radius: .25rem;
  margin-bottom: 30px
}
.faq-filter-portfolio-wrapper .faq-meta {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: .9375rem
}
.faq-page__link-env {
  position: relative;
  text-decoration: none
}
.faq-page__link-env:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  background: rgba(255,255,255,.3);
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 60
}
.faq-page__link-env:hover:before {
  opacity: 1;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}
.faq-filter-portfolio-wrapper .faq-meta a {
  font-size: 12px;
  color: #333;
  text-decoration: none
}
.faq-page__title {
  margin: 0;
  padding: .9375rem;
  text-align: center;
  color: #333
}
.faq-page-listing figure {
  display: -webkit-box;
  display: flex;
  margin: 0;
  position: relative;
  width: 100%;
  height: 12.5rem;
  float: none;
  z-index: 20
}
.widget-title {
  display: block;
  text-align: center;
  margin: 0;
  padding: 15px;
  color: #fff;
  background: #0c2a3a
}
.widget-wrap ul li {
  border-bottom: 1px solid #e8e8e8;
  margin: 0
}
.widget-wrap ul li a {
  display: -webkit-box;
  display: flex;
  text-transform: capitalize;
  text-decoration: none;
  background: #e0e0e0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 10px;
  color: #0c2a3a;
  font-size: 16px
}
.widget-wrap ul li:nth-of-type(even) a {
  background: #f0f0f0
}
.widget-wrap ul li a:hover {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #fff;
  background: #da6009
}
.location-widget-links .single-location-link:nth-of-type(even) a {
  background: #f0f0f0
}
.location-widget-links .single-location-link a {
  display: -webkit-box;
  display: flex;
  text-transform: capitalize;
  text-decoration: none;
  background: #e0e0e0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 10px;
  color: #0c2a3a;
  font-size: 16px
}
.location-widget-links .single-location-link a:hover {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #fff;
  background: #da6009
}
.location-widget-inner {
  padding: 0 0 30px 0
}
.location-widget-links .single-location-link {
  margin: 0
}
.hc-map__inner {
  display: -webkit-box;
  display: flex;
  border: 1px solid #e8e8e8
}
.hc-map__office-title {
  margin-bottom: 15px;
  display: block;
  padding: 10px 0 15px 0;
  font-size: 22px;
  border-bottom: 1px solid #f37b24
}
.hc-map__address {
  padding: 10px;
  width: 50%
}
.hc-map__map-embed {
  padding: 0 0 0 10px;
  width: 50%
}
.hc-map__map-embed .map-container {
  width: 100%;
  height: 85%
}
.hc-map__map-embed .map-container iframe {
  width: 100%;
  height: 100%
}
.hc-map address {
  font-style: normal;
  font-size: 14px
}
.hc-map .address__link {
  display: block;
  font-size: 14px
}


.full-width-content main.content {
  width: 100%;
}


.faq-filter-items .faq-meta {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: .9375rem
}
.faq-filter-items .faq-page-listing figure {
  display: -webkit-box;
  display: flex;
  margin: 0;
  position: relative;
  width: 100%;
  /*height: 12.5rem;*/
  float: none;
  z-index: 20;
  height: 200px;
  object-fit: cover;
}


.faq-filter-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;
}

.faq-filter-items .faq-page-listing {
  max-width: 340px;
  border: 1px solid #cacaca;
  border-radius: 4px;
  margin-bottom: 30px;
  width: 100%;
  opacity: .85;
}

.faq-filter-items .faq-page-listing:hover {
  opacity: 1;
}

.faq-filter-items .faq-page-listing h4 {
  margin-top: 0;
}

.faq-filter-items .faq-meta a {
  color: #777;
  font-size: .8rem;
  text-decoration: none;
}

.faq-filter-items .faq-meta a:hover {
  text-decoration: underline;
}
div#filters {
  text-align: center;
}
div#filters {
  margin: 0 auto;
  padding: 20px 40px;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
div#filters a {
  display: inline-block;
  margin: 0 5px;
  padding: 7px 0 0px;
  font-size: 1rem;
  color: #666;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

div#filters a.filter-active,
div#filters a:hover{
  border-bottom: 2px solid #054d64;
}

@media (max-width:992px) {
  .hc-map__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column
  }
  .hc-map__address {
    width: 100%
  }
  .hc-map__map-embed {
    padding: 0;
    width: 100%
  }
  .hc-map__map-embed .map-container {
    height: 21.875rem
  }
  .content-sidebar-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column
  }
  .content-sidebar-wrap main.content {
    width: 100%
  }
  .content-sidebar-wrap aside.sidebar {
    width: 100%
  }
  .faq-page-listing figure {
    height: 21.875rem
  }
}
@media (max-width:576px) {
  .faq-page-listing figure {
    height: 15.625rem
  }
}