/*----------------------------
Attorney and About Us Styles
-----------------------------*/


.attorney-list  {

    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin-left: 0;

    li {
        width: 100%;

        display: block;
        font-size: 20px;
        text-align: center;
        padding: 10px;
        list-style-type: none;
        margin: 0  0 20px 0 !important;

        @media (min-width: 768px) {
            width: 50%;
        }
    }

    a {
        text-decoration: none;
        display: block;
        padding: 10px;
        border: 1px solid #ccc;
        box-shadow: 0 2px 4px rgba(0,0,0,0.3);
        border-radius: 4px;
        background: #f0f0f0;
        transition: 0.2s;

        &:hover {
            text-decoration: none;
            border-color: #d0d0d0;
            background: #e0e0e0;
        }
    }

    img {
        display: block;
        max-width: 200px;
        border-radius: 4px;
        border: none;
        margin: 0 auto 20px auto;
        padding: 0;
    }

} //End .attorney-list