/***********************************************************
Homepage Styles
**********************************************************-*/

/*-----------------------------------------
General Homepage Styles
------------------------------------------*/

body.page-template-page-homepage-php {

        font-size: 16px;

        #container {
            padding-top: 0 !important;
        }


        h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
            font-family: $alt-serif;
        }


} //End Main Template Wrapper


.homepage-section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.homepage-section-title {
    font-family: "Cormorant Garamond", $serif;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
    font-size: 2.2em;
    text-align: center;

    @media screen and (min-width: 1320px){
        font-size: 3.5em;
    }
}

/*-----------------------------------------
Homepage Section 1 (Top) Styles
------------------------------------------*/

.homepage-section-1 {

    padding-top: 20px;
    padding-bottom: 0;
    background: #666 url(../images/homepage/homepage-top-bg.jpg) no-repeat top center;
    background-size: cover;
    position: relative;
    z-index: 0;

    @media screen and (min-width: 768px) {
        padding-top: 240px;
        padding-bottom: 20px;
    }

    //Overlay
    &:after {
        content: '';
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        position: absolute;
        background: rgba(0,0,0,0.7);
    }

    &__inner {
        position: relative;
        z-index: 10;
    }


    .row {
        @media screen and (min-width: 768px) {
            display: flex;
        }
    }

    //Grid

    &__far-left {
        display: none;

        @media screen and (min-width: 1200px) {
            width: 33%;
            float: left;
            display: block;
            position: relative;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            width:  33%;
            float: left;
            display: block;
            padding-right: 15px;
            position: relative;
        }
    }

    &__left {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;

        @media screen and (min-width: 1200px) {
            width: 33%;
            float: left;
            padding-right: 15px;
            padding-left: 15px;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            width:  calc(100% - 400px);
            float: left;
            padding-right: 15px;
            padding-left: 15px;
        }
    }

    &__right {
        width: 100%;
        text-align: center;
        position: relative;
        overflow: hidden;


        @media screen and (min-width: 768px) and (max-width: 1199px) {
            width: 33%;
            float: left;
            padding-left: 15px;
            overflow: visible;
        }


        @media screen and (min-width: 1200px) {
            width: 33%;
            float: left;
            padding-left: 15px;
            overflow: visible;
        }
    }

    //Content Styles
    &__quote {
        color: #fff;
        font-family: "Cormorant Garamond", $serif;
        font-size: 2.1em;
        font-weight: 600;
        font-style: italic;
        display: block;
        text-align: left;
        margin-bottom: 10px;
        position: relative;
        line-height: 1.3;
        margin-bottom: 14px;

        @media screen and (max-width: 767px) {
            font-size: 1.5em;
        }

         @media screen and (min-width: 768px) and (max-width: 1199px) {
            display: none;
         }


/*         //Quote Symbols to the Left and Right
&:before {
    font-family: "Cormorant Garamond", $serif;
    content: "“";
    font-weight: 600;
    font-style: italic;
    color: rgba(255,255,255, 0.3);
    display: block;
    position: absolute;
    font-size: 3em;
    left: 4em;
    top: 0;

    @media screen and (max-width: 1400px) {
        display: none;
    }
}

 &:after {
    font-family: "Cormorant Garamond", $serif;
    content: "“";
    font-weight: 600;
    font-style: italic;
    color: rgba(255,255,255, 0.3);
    display: block;
    position: absolute;
    font-size: 3em;
    right: 0;
    bottom: 0;

    @media screen and (max-width: 1400px) {
        display: none;
    }
} */
    }

    &__quote-author {
        display: block;
        text-align: right;
        font-family: "Exo 2", $sans-serif;
        color: #fff;
        font-size: 1.1em;
        margin-bottom: 30px;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            display: none;
         }
    }

    &__button-wrapper {
        @include clearfix();
        @media screen and (min-width: 768px) {
            text-align: center;
        }
    }

    &__testimonials-button {
        font-size: 1em;

        @media screen and (min-width: 768px) {
            font-size: 0.8em;
            float: none;
        }
        @media screen and (min-width: 1200px) {
            float: none;
        }
    }

    //Logo Wrapper
    &__logos {
        margin-top: 40px;
        text-align: left;
        clear: both;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @media screen and (min-width: 768px) {
            justify-content: center;
            align-content: center;
        }

        @media screen and (min-width: 1200px) {
            justify-content: center;
        }

         img {
            @media screen and (min-width: 768px) and (max-width: 1199px){
                &:nth-last-of-type(1), &:nth-last-of-type(2) {
                    display: none;
                }
            }
        }


    }

    //Single Logo
    &__logo {
        padding-right: 14px;
        align-self: center;

        &:nth-last-of-type(1) {
            padding-right: 0;
        }
    }


    //Right Column Portrait and Signature
    &__db-portrait {
        position: absolute;
        width: 90%;
        bottom: 0;
        right: 0;
        z-index: 5;

        @media screen and (max-width: 767px) {
            position: relative;
            top: 5px;
            display: none;

            &.combined {
                display: block;
            }
        }


        @media screen and (min-width: 768px) {
            display: block;

            &.combined {
                display: none;
            }
        }

    }

    &__tom-portrait {
        position: absolute;
        width: 90%;
        bottom: 0;
        left: 0;
        z-index: 5;

        @media screen and (max-width: 767px) {
            position: relative;
            top: 5px;
        }

        @media screen and (min-width: 1200px) {
            display: block;
        }
    }

    &__db-signature {
        position: absolute;
        bottom: 30px;
        z-index: 10;
        max-width: 170px;
        background: rgba(0,0,0,0.4);
        width: 100%;
        display: block;
        left: 70%;
        transform: translateX(-42%);
        opacity: 0.8;
        color: #fff;
        font-size: 14px;
        text-align: center;
        font-weight: bold;
        font-shadow: 0 1px 1px rgba(0,0,0,0.5);

        @media screen and (max-width: 767px) {
            left: 50%;
            transform: translateX(-50%);
            display: none;
        }

         @media screen and (min-width: 768px) and (max-width: 1200px) {
            right: 0;
            transform: none;
            left: auto;
        }

    }

     &__tm-signature {
        position: absolute;
        bottom: 30px;
        z-index: 10;
        max-width: 170px;
        background: rgba(0,0,0,0.7);
        width: 100%;
        display: block;
        left: 20%;
        transform: translateX(-42%);
        opacity: 0.8;
        text-align: center;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        font-shadow: 0 1px 1px rgba(0,0,0,0.5);

        @media screen and (min-width: 768px) and (max-width: 1200px) {
            left: 0;
            transform: none;
        }


        @media screen and (max-width: 767px) {
            left: 50%;
            transform: translateX(-50%);
            display: none;
        }

    }


    //Tablet Styles For Homepage Quote
    &__tablet-quote-wrapper {
        @include clearfix();
        margin-bottom: 30px;
        display: none;

         @media screen and (min-width: 768px) and (max-width: 1199px) {
            display: block;
         }
    }

    &__quote-tablet {
        display: none;
         @media screen and (min-width: 768px) and (max-width: 1199px) {
            display: block;
            text-align: center;
         }
    }

    &__quote-author-tablet {
        display: none;
         @media screen and (min-width: 768px) and (max-width: 1199px) {
            display: block;
            text-align: center;
         }
    }


    //Testimionial Slider Styles
    .homepage-testimonial-slider {
        background: transparent;
        border: none;
        border-radius: 0;
        margin-bottom: 0;

        @media screen and (min-width: 1200px) {
            width: calc(100% + 300px);
            transform: translateX(-19%);
        }
    }

} //End .homepage-section-1



/*-----------------------------------------
Homepage Section 2 Styles
------------------------------------------*/

.homepage-section-2 {

    position: relative;
    background: #fff;

    &__intro {
        max-width: 700px;
        margin: 0 auto 20px auto;
    }


    .homepage-section-title {
        position: relative;
        color: #282828;
        margin-bottom: 40px;

        &:before {
            height: 1px;
            background: #BABABA;
            background: rgba(150,150,150,0.2);
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            z-index: 1;
            width: 100%;

            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        &__inner {
            display: inline-block;
            background: #fff;
            padding-left: 30px;
            padding-right: 30px;
            position: relative;
            z-index: 10;

            @media screen and (max-width: 768px) {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    &__subtitle {
        color: $bressman-orange;
        font-family: "Cormorant Garamond", $serif;
        display: block;
        font-size: 1.9em;
        text-align: left;
        margin-bottom: 20px;
    }

    &__guarantee-image {
        position: relative;
        top: -5px;
    }

    .row {
        margin-bottom: 30px;

        @media screen and (max-width: 767px) {
            margin-left: auto;
            margin-right: auto;

            .one-half {
                max-width: 500px;
                margin: 20px auto;
                float: none;
            }
        }
    }

    .button-orange {
        font-size: 0.85em;
    }


    //Contact Form General Styles, Note <form> styles are in _forms.scss

    &__contact-form {
        display: block;
        text-align: center;
        border-radius: 4px;
        background: $bressman-dark-blue;
        padding: 10px;
    }

    &__contact-form-evaluation-text {
        display: inline-block;
        vertical-align: top;
        font-family: "Cormorant Garamond", $serif;
        text-transform: uppercase;
        color: #fff;
        font-size: 2.0em;
        width: 100%;
        line-height: 1.1;
    }

    &__contact-form-title {
        display: inline-block;
        vertical-align: top;
        font-family: "Cormorant Garamond", $serif;
        color: #fff;
        font-size: 2.0em;
        margin-bottom: 10px;
        width: 100%;
        line-height: 1.1;

        a {
            font-family: 'Times New Roman', serif;
            text-decoration: none;
            color: #fff;

            &:hover {
                color: #fff;
                text-decoration: none;
            }
        }
    }

    &__contact-form-subtitle {
        display: inline-block;
        vertical-align: top;
        font-size: 1.3em;
        margin-bottom: 15px;
        color: #fff;
        font-family: "Cormorant Garamond", $serif;
    }

    //Actual CF7 Contact Form Styles
    .homepage-contact-form {

        font-family: 'Exo 2', $sans-serif;
        font-weight: bold;

        .row {
            margin-bottom: 0;
        }

        br {
            display: none;
        }

        p {
            margin-bottom: 0;
        }

        textarea {
            height: 128px;
        }

        input[type="submit"]{
            background: transparent !important;
            padding: 0 !important;
            border: none !important;
            margin: none !important;
            display: inline-block !important;
            width: auto !important;
            text-align: center !important;
            color: #fff !important;
            text-transform: uppercase !important;
        }

    } //End .homepage-contact-form

    //Row Specific Styles
    &__row-1 {

        margin-bottom: 50px !important;

        @media screen and (min-width: 768px) {
            padding-bottom: 50px;
            margin-bottom: 50px;
            border-bottom: 1px solid #e8e8e8;

        }
    }


    &__row-2 {
        img {
            width: 100%;
            max-width: 100%;
        }
    }


    //Next Arrow Styles

    &__next-arrow-outer {
        position: absolute;
        bottom: -20px;
        height: 20px;
        width: 100%;
        z-index: 10;
        overflow: hidden;

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    &__next-arrow-center {
        position: relative;
        background: #fff;
        margin: 0 auto;
        z-index: 10;
        text-align: center;
        display: block;
        height: 20px;


        @media screen and (max-width: 768px) {
            display: none;
        }

        @media screen and (min-width: 768px) and (max-width: 1319px) {
            width:  20vw;
        }

        @media screen and (min-width: 1320px) {
            width:  12vw;
        }

    }

    &__next-arrow-left-triangle {
          width: 0;
          height: 0;
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-right: 20px solid #fff;
          position: absolute;
          left: -20px;
          top: -20px;
    }

    &__next-arrow-right-triangle {
          width: 0;
          height: 0;
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-left: 20px solid #fff;
          position: absolute;
          right: -20px;
          top: -20px;
    }

    &__next-arrow-inner {
        position: relative;


        &:before {
            height: 20px;
            background: transparent;
            //background: rgba(150,150,150,0.2);
            content: '';
            display: block;
            position: absolute;
            left: 0;
            width: 20vw;
            top: 50%;
            z-index: 1;


            @media screen and (max-width: 768px) {
                display: none;
            }

            @media screen and (min-width: 768px) and (max-width: 1319px) {
                width:  40vw;
            }

            @media screen and (min-width: 1320px) {
                width:  44vw;
            }
        }

        &:after {
            height: 20px;
            background: transparent;
            //background: rgba(150,150,150,0.2);
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            width: 20vw;
            z-index: 1;


            @media screen and (max-width: 768px) {
                display: none;
            }

            @media screen and (MIN-width: 768px) and (max-width: 1319px) {
                width:  40vw;
            }

            @media screen and (min-width: 1320px) {
                width:  44vw;
            }
        }

    } //End next-arrow-inner

    &__next-arrow-icon {
        position: relative;
        top: -3px;
        color: #ccc;
        text-decoration: none;
        transition: 0.2s;

    }


    //Prev Arrow Styles

    &__prev-arrow-outer {
        position: absolute;
        top: -20px;
        height: 20px;
        width: 100%;
        z-index: 10;
        overflow: hidden;

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    &__prev-arrow-center {
        position: relative;
        background: transparent;
        margin: 0 auto;
        z-index: 10;
        text-align: center;
        display: block;
        height: 20px;


        @media screen and (max-width: 768px) {
            display: none;
        }

        @media screen and (min-width: 768px) and (max-width: 1319px) {
            width:  20vw;
        }

        @media screen and (min-width: 1320px) {
            width:  12vw;
        }

    }

    &__prev-arrow-left-triangle {
          width: 0;
          height: 0;
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-left: 20px solid #fff;
          position: absolute;
          left: 6px;
          top: 0;
    }

    &__prev-arrow-right-triangle {
          width: 0;
          height: 0;
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-right: 20px solid #fff;
          position: absolute;
          right: 6px;
          top: 0;
    }

    &__prev-arrow-inner {
        position: relative;


        &:before {
            height: 20px;
            background: #fff;
            //background: rgba(150,150,150,0.2);
            content: '';
            display: block;
            position: absolute;
            left: 0;
            width: 20vw;
            top: 50%;
            z-index: 1;


            @media screen and (max-width: 768px) {
                display: none;
            }

            @media screen and (min-width: 768px) and (max-width: 1319px) {
                width:  40vw;
            }

            @media screen and (min-width: 1320px) {
                width:  44vw;
            }
        }

        &:after {
            height: 20px;
            background: #fff;
            //background: rgba(150,150,150,0.2);
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            width: 20vw;
            z-index: 1;


            @media screen and (max-width: 768px) {
                display: none;
            }

            @media screen and (MIN-width: 768px) and (max-width: 1319px) {
                width:  40vw;
            }

            @media screen and (min-width: 1320px) {
                width:  44vw;
            }
        }

    } //End prev-arrow-inner

    &__prev-arrow-icon {
        position: relative;
        top: -3px;
        color: #ccc;
        text-decoration: none;
        transition: 0.2s;

    }




    //Scholarship Section Styles

    &__row-3 {
        padding-top: 30px;
        margin-top: 30px;
        border-top: 1px solid #e8e8e8;
    }

    &__scholarship-title {
        font-family: "Cormorant Garamond", $serif;
        font-weight: bold;
        display: block;
        margin-bottom: 20px;
        font-size: 1.8em;
        text-align: center;
        line-height: 1.3;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: 1320px){
            font-size: 2.1em;
        }
    }

    &__scholarship-subtitle {
        max-width: 900px;
        margin-bottom: 20px;
        font-size: 1.4em;
        text-align: center;
        line-height: 1.3;
        margin-left: auto;
        margin-right: auto;


        @media screen and (min-width: 1320px){
            font-size: 1.4em;
        }
    }

    &__scholarship-button-wrapper {
        text-align: center;
    }

    &__scholarship-button {
        font-size: 1.5em;
    }




} //End .homepage-section-2


/*-----------------------------------------
Homepage Section 3 Styles (Practice Areas)
------------------------------------------*/

.homepage-section-3 {

    //background: #333 url(../images/homepage/practice-areas/practice-areas-bg.jpg) no-repeat center center;
    //background-size: cover;
    background: transparent;
    position: relative;
    z-index: 3;

    @media screen and (min-width: 768px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    //Overlay
    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        background: rgba(0,0,0,0.85);
    }

    &__inner {
        position: relative;
        z-index: 10;

    }

    .homepage-section-title {
        color: #fff;
        color: rgba(255,255,255,0.5);
        display: block;
        text-align: center;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        text-transform: uppercase;
        font-size: 1.6em;
        line-height: 1.3;

        @media screen and (min-width: 1320px){
            font-size: 2.8em;
        }

        &:before {
            height: 1px;
            background: #BABABA;
            background: rgba(150,150,150,0.2);
            content: '';
            display: block;
            position: absolute;
            left: 0;
            width: 20vw;
            top: 50%;
            z-index: 1;


            @media screen and (max-width: 768px) {
                display: none;
            }

            @media screen and (MIN-width: 768px) and (max-width: 1319px) {
                width:  13vw;
            }

            @media screen and (min-width: 1320px) {
                width:  154px;
            }
        }

        &:after {
            height: 1px;
            background: #BABABA;
            background: rgba(150,150,150,0.2);
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            width: 20vw;
            z-index: 1;


            @media screen and (max-width: 768px) {
                display: none;
            }

            @media screen and (MIN-width: 768px) and (max-width: 1319px) {
                width:  13vw;
            }

            @media screen and (min-width: 1320px) {
                width:  154px;
            }
        }

        &__inner {
            display: inline-block;
            background: transparent;
            padding-left: 30px;
            padding-right: 30px;
            position: relative;
            z-index: 10;

            @media screen and (max-width: 768px) {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    &__callout {
        color: #fff;
        font-family: $alt-serif;
        font-size: 1.5em;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        font-weight: 600;
        font-style: italic;

        @media screen and (min-width: 768px){
            font-size: 2.3em;
            line-height: 1.1;
            margin-top: 70px;
            margin-bottom: 70px;
        }
    }

    &__practice-area-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }


    //Single Homepage Practice Area
    .homepage-practice-area {

        padding: 10px;
        width: 320px;
        margin-bottom: 30px;
        display: block;
        text-decoration: none;
        color: rgba(255,255,255,0.4);

        &__title {
            color: #fff;
            color: rgba(255,255,255,0.4);
            transition: all 0.34s;
            font-family: $alt-serif;
            font-size: 1.6em;
            margin-bottom: 10px;
            display: inline-block;
            letter-spacing: 1px;
        }

        &__image {
            transition: all 0.34s;
            border: 1px solid #4e4e4e;
            max-width: 100%;
            height: auto;
            display: inline-block;
            vertical-align: top;
            margin-bottom: 10px;
            filter: grayscale(100%);
        }

        &__description {
            transition: all 0.34s;
            color: rbga(255,255,255,0.4);
            text-decoration: none;
        }

        .button-orange {
            transition: all 0.34s;
            filter: grayscale(100%);
            font-size: 0.95em;
            padding: 0.55em 1.5em;
            opacity: 0.7;

        }

        &:hover {

            cursor: pointer;
            color: rbga(255,255,255,0.4);

            .homepage-practice-area__title {
                color: $bressman-orange;
                color: #f47a20 !important;
            }

            .homepage-practice-area__image {
                border: 1px solid $bressman-orange;
                filter: grayscale(0%);
            }

            .homepage-practice-area__description {
                color: #fff;
                text-decoration: none;
            }

            .button-orange {
                filter: grayscale(0);
                opacity: 1;
            }

        } //End Hover styles

    }

} //End. homepage-section-3


/*-----------------------------------------
Homepage Section 4 Styles (Locations)
------------------------------------------*/

.homepage-section-4 {

    background: #f3f3f3;
    position: relative;

    &__inner {

    }

    .homepage-section-title {
        display: block;
        text-align: center;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        text-transform: uppercase;
        font-size: 1.6em;
        line-height: 1.3;
        color: #404040;

        @media screen and (min-width: 1320px){
            font-size: 2.9em;
        }

        &:before {
            height: 1px;
            background: #BABABA;
            background: rgba(150,150,150,0.2);
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            z-index: 1;
            width: 100%;

            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        &__inner {
            display: inline-block;
            background: #f3f3f3;
            padding-left: 30px;
            padding-right: 30px;
            position: relative;
            z-index: 10;

            @media screen and (max-width: 768px) {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }


    &__callout {
        color: #000;
        font-family: $alt-serif;
        font-size: 1.5em;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        font-weight: 600;
        font-style: italic;
        display: block;

        @media screen and (min-width: 768px){
            font-size: 2.3em;
            line-height: 1.1;
            margin-top: 60px;
            margin-bottom: 60px;
        }
    }

    .homepage-city-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .homepage-city {

        padding: 10px;
        text-decoration: none;
        width: 264px;
        margin-bottom: 20px;

        &__title {
            color: #999999;
            transition: all 0.34s;
            font-family: $alt-serif;
            font-size: 1.6em;
            margin-bottom: 10px;
            display: inline-block;
            letter-spacing: 1px;
        }

        &__image {
            transition: all 0.34s;
            border: 1px solid #ccc;
            max-width: 100%;
            height: auto;
            display: inline-block;
            vertical-align: top;
            margin-bottom: 10px;
            filter: grayscale(100%);
            position: relative;


        }

        &__description {
            transition: all 0.34s;
            color: #929292;
            text-decoration: none;

        }

        .button-orange {
            transition: all 0.34s;
            filter: grayscale(100%);
            font-size: 0.95em;
            padding: 0.55em 1.5em;
            opacity: 0.7;
        }


        &:hover {

            cursor: pointer;
            color: rbga(255,255,255,0.4);

            .homepage-city__title {
                color: $bressman-orange;
                color: #f47a20 !important;
            }

            .homepage-city__image {
                border: 1px solid $bressman-orange;
                filter: grayscale(0%);
            }

            .homepage-city__description {
                color: #010101;
                text-decoration: none;
            }

            .button-orange {
                filter: grayscale(0);
                opacity: 1;
            }

        } //End .homepage-city-hover

    } //End .homepage-city

    &__city-service-link-wrapper {
        text-align: center;
        display: block;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;

        @media screen and (min-width: 768px) {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }

    &__city-service-link {
        display: inline-block;
        margin: 0 auto;
        text-align: center;
    }

    //Lower Dropdown Styles

    &__next-arrow-outer {
        position: absolute;
        bottom: -20px;
        height: 20px;
        width: 100%;
        z-index: 10;
        overflow: hidden;

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    &__next-arrow-center {
        position: relative;
        background: #f3f3f3;
        margin: 0 auto;
        z-index: 10;
        text-align: center;
        display: block;
        height: 20px;


        @media screen and (max-width: 768px) {
            display: none;
        }

        @media screen and (min-width: 768px) and (max-width: 1319px) {
            width:  20vw;
        }

        @media screen and (min-width: 1320px) {
            width:  12vw;
        }

    }

    &__next-arrow-left-triangle {
          width: 0;
          height: 0;
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-right: 20px solid #f3f3f3;
          position: absolute;
          left: -20px;
          top: -20px;
    }

    &__next-arrow-right-triangle {
          width: 0;
          height: 0;
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-left: 20px solid #f3f3f3;
          position: absolute;
          right: -20px;
          top: -20px;
    }

    &__next-arrow-inner {
        position: relative;


        &:before {
            height: 20px;
            background: transparent;
            //background: rgba(150,150,150,0.2);
            content: '';
            display: block;
            position: absolute;
            left: 0;
            width: 20vw;
            top: 50%;
            z-index: 1;


            @media screen and (max-width: 768px) {
                display: none;
            }

            @media screen and (min-width: 768px) and (max-width: 1319px) {
                width:  40vw;
            }

            @media screen and (min-width: 1320px) {
                width:  44vw;
            }
        }

        &:after {
            height: 20px;
            background: transparent;
            //background: rgba(150,150,150,0.2);
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            width: 20vw;
            z-index: 1;


            @media screen and (max-width: 768px) {
                display: none;
            }

            @media screen and (MIN-width: 768px) and (max-width: 1319px) {
                width:  40vw;
            }

            @media screen and (min-width: 1320px) {
                width:  44vw;
            }
        }

    } //End next-arrow-inner

    &__next-arrow-icon {
        position: relative;
        top: -3px;
        color: #ccc;
        text-decoration: none;
        transition: 0.2s;
    }


    //Prev Arrow Styles

    &__prev-arrow-outer {
        position: absolute;
        top: -20px;
        height: 20px;
        width: 100%;
        z-index: 10;
        overflow: hidden;

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    &__prev-arrow-center {
        position: relative;
        background: transparent;
        margin: 0 auto;
        z-index: 10;
        text-align: center;
        display: block;
        height: 20px;


        @media screen and (max-width: 768px) {
            display: none;
        }

        @media screen and (min-width: 768px) and (max-width: 1319px) {
            width:  20vw;
        }

        @media screen and (min-width: 1320px) {
            width:  12vw;
        }

    }

    &__prev-arrow-left-triangle {
          width: 0;
          height: 0;
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-left: 20px solid #f3f3f3;
          position: absolute;
          left: 6px;
          top: 0;
    }

    &__prev-arrow-right-triangle {
          width: 0;
          height: 0;
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-right: 20px solid #f3f3f3;
          position: absolute;
          right: 6px;
          top: 0;
    }

    &__prev-arrow-inner {
        position: relative;


        &:before {
            height: 20px;
            background: #f3f3f3;
            //background: rgba(150,150,150,0.2);
            content: '';
            display: block;
            position: absolute;
            left: 0;
            width: 20vw;
            top: 50%;
            z-index: 1;


            @media screen and (max-width: 768px) {
                display: none;
            }

            @media screen and (min-width: 768px) and (max-width: 1319px) {
                width:  40vw;
            }

            @media screen and (min-width: 1320px) {
                width:  44vw;
            }
        }

        &:after {
            height: 20px;
            background: #f3f3f3;
            //background: rgba(150,150,150,0.2);
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            width: 20vw;
            z-index: 1;


            @media screen and (max-width: 768px) {
                display: none;
            }

            @media screen and (MIN-width: 768px) and (max-width: 1319px) {
                width:  40vw;
            }

            @media screen and (min-width: 1320px) {
                width:  44vw;
            }
        }

    } //End prev-arrow-inner

    &__prev-arrow-icon {
        position: relative;
        top: -3px;
        color: #ccc;
        text-decoration: none;
        transition: 0.2s;

    }



} //End .homepage-section-4


/*-----------------------------------------
Homepage Section 5 (Verdicts)
------------------------------------------*/

.homepage-section-5 {

    //background: #333 url(../images/homepage/homepage-verdict-bg.jpg) no-repeat center center;
    //background-size: cover;
    position: relative;
    z-index: 5;

    @media screen and (min-width: 768px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    //Overlay
    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        background: rgba(0,0,0,0.65);
    }

    &__inner {
        position: relative;
        z-index: 10;

    }


    .homepage-section-title {
        color: #c8c8c8;
        opacity: 0.8;
        font-size: 1.6em;
        text-transform: uppercase;
        position: relative;

        @media screen and (min-width: 1320px) {
            font-size: 2.5em;
        }

        &:before {
            height: 1px;
            background: #BABABA;
            background: rgba(150,150,150,0.2);
            content: '';
            display: block;
            position: absolute;
            left: 0;
            width: 10vw;
            top: 50%;
            z-index: 1;


            @media screen and (max-width: 768px) {
                display: none;
            }

            @media screen and (MIN-width: 768px) and (max-width: 1319px) {
                width:  7vw;
            }

            @media screen and (min-width: 1320px) {
                width:  81px;
            }
        }

        &:after {
            height: 1px;
            background: #BABABA;
            background: rgba(150,150,150,0.2);
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            width: 20vw;
            z-index: 1;


            @media screen and (max-width: 768px) {
                display: none;
            }

            @media screen and (MIN-width: 768px) and (max-width: 1319px) {
                width:  7vw;
            }

            @media screen and (min-width: 1320px) {
                width:  81px;
            }
        }
    }

    &__callout {
        color: #fff;
        font-family: $alt-serif;
        font-size: 1.5em;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        font-weight: 600;
        font-style: italic;
        display: block;

        @media screen and (min-width: 768px){
            font-size: 2.3em;
            line-height: 1.1;
            margin-top: 48px;
            margin-bottom: 48px;
        }
    }

    .hompage-case-results-list {

    }

    //Single Case Result
    .homepage-case-result {

        display: block;
        position: relative;
        margin-bottom: 3px;
        background: rgba(0,0,0,0.3);
        cursor: pointer;

        &__description {
            position: relative;
            display: block;
            width: 100%;
            background: #000;
            color: #f47a20;
            font-family: 'Exo 2', $sans-serif;
            font-style: italic;
            font-weight: 900;
            font-size: 1.4em;
            text-align: center;
            padding-top: 5px;
            padding-bottom: 5px;
            height: 0;
            transition: 0.2s;
            opacity: 0;

            @media screen and (max-width: 767px) {
                height: auto;
                padding-bottom: 10px;
                opacity: 1;
            }
        }

        &__verdict {
            color: #fefefe;
            font-family: 'Exo 2', $sans-serif;
            font-style: italic;
            font-weight: 900;
            font-size: 2.3em;
            line-height: 1.2;
            display: block;
            text-transform: uppercase;
            padding-top: 5px;
            padding-bottom: 5px;
            position: relative;
            text-align: center;
        }

        &:hover {
            @media screen and (min-width: 768px) {
                .homepage-case-result__description {
                    height: 43px;
                    opacity: 1;
                }
            }
        }

    } //End single case result

    &__button-wrapper {
        display: block;
        margin-top: 30px;
        text-align: center;
    }

    .button-orange {
        font-size: 0.9em;
        padding-top: 0.85em;
        padding-bottom: 0.85em;
    }

} //End .homepage-section-5

/*-----------------------------------------
Homepage Section 6 Styles (Reviews)
------------------------------------------*/

.homepage-section-6 {

    background: #f8f8f8;
    padding-bottom: 40px;
    position: relative;

    &__inner {

    }

    .homepage-section-title {
        text-transform: uppercase;
        color: #404040;
        font-size: 1.6em;
        margin-bottom: 40px;
        position: relative;

        @media screen and (min-width: 1320px) {
            font-size: 3.2em;
        }

        @media screen and (min-width: 768px){
            margin-bottom: 60px;
        }

       &:before {
            height: 1px;
            background: #BABABA;
            background: rgba(150,150,150,0.2);
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            z-index: 1;
            width: 100%;

            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        &__inner {
            display: inline-block;
            background: #f8f8f8;
            padding-left: 30px;
            padding-right: 30px;
            position: relative;
            z-index: 10;

            @media screen and (max-width: 768px) {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    &__review-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    //Single Review Styles

    .single-review {
        width: 320px;
        padding: 10px;
    }


    img.single-review-image {
      max-width: 85px;
      border: 1px solid #e66e0f;
      border-radius: 2px;
      padding: 5px;
    }
    h3.review-name-content{
      margin-bottom: 0;
      margin-top: 5px;
      display: block;
      width: 100%;
    }
    .review-date {
        font-size: 10px;
    }

    .review-video-tagLine{
      padding-bottom: 20px;
    }

    .review-video-wrapper{
     position: relative;
      height: 0;
      overflow: hidden;
    padding-bottom: 56.25%;
    }

    .review-video-wrapper iframe {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    @media screen and (min-width: 767px){
      .span4.sidebar-wrapper.review-sidebar{
        top: 60px;
      }
      .review-footerStatement {
        max-width: 600px;
      }
      img.single-review-image {
        float: left;
        margin-right: 10px;
      }
      .review-name {

      }
      .review-rating {
        display: block;
        width: 100%;
        margin-bottom: 5px;
      }

      p.review-content {
        padding: 10px 5px;
        display: block;
        margin-top: 10px;
        clear: both;
      }
    }

    @media screen and (max-width: 767px){
      p.review-content{
        text-align: justify;
        font-size: 1.15em;
      }
    }



    //Closing Button Styles
    &__button-wrapper {
        display: block;
        margin-top: 30px;
        text-align: center;
    }

    .button-orange {
        font-size: 0.9em;
        padding-top: 0.85em;
        padding-bottom: 0.85em;
    }

    //Lower Dropdown Styles

    &__next-arrow-outer {
        position: absolute;
        bottom: -20px;
        height: 20px;
        width: 100%;
        z-index: 10;
        overflow: hidden;

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    &__next-arrow-center {
        position: relative;
        background: #f8f8f8;
        margin: 0 auto;
        z-index: 10;
        text-align: center;
        display: block;
        height: 20px;


        @media screen and (max-width: 768px) {
            display: none;
        }

        @media screen and (min-width: 768px) and (max-width: 1319px) {
            width:  20vw;
        }

        @media screen and (min-width: 1320px) {
            width:  12vw;
        }

    }

    &__next-arrow-left-triangle {
          width: 0;
          height: 0;
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-right: 20px solid #f8f8f8;
          position: absolute;
          left: -20px;
          top: -20px;
    }

    &__next-arrow-right-triangle {
          width: 0;
          height: 0;
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-left: 20px solid #f8f8f8;
          position: absolute;
          right: -20px;
          top: -20px;
    }

    &__next-arrow-inner {
        position: relative;


        &:before {
            height: 20px;
            background: transparent;
            //background: rgba(150,150,150,0.2);
            content: '';
            display: block;
            position: absolute;
            left: 0;
            width: 20vw;
            top: 50%;
            z-index: 1;


            @media screen and (max-width: 768px) {
                display: none;
            }

            @media screen and (min-width: 768px) and (max-width: 1319px) {
                width:  40vw;
            }

            @media screen and (min-width: 1320px) {
                width:  44vw;
            }
        }

        &:after {
            height: 20px;
            background: transparent;
            //background: rgba(150,150,150,0.2);
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            width: 20vw;
            z-index: 1;


            @media screen and (max-width: 768px) {
                display: none;
            }

            @media screen and (MIN-width: 768px) and (max-width: 1319px) {
                width:  40vw;
            }

            @media screen and (min-width: 1320px) {
                width:  44vw;
            }
        }

    } //End next-arrow-inner

    &__next-arrow-icon {
        position: relative;
        top: -3px;
        color: #ccc;
        text-decoration: none;
        transition: 0.2s;

    }

      //Prev Arrow Styles

    &__prev-arrow-outer {
        position: absolute;
        top: -20px;
        height: 20px;
        width: 100%;
        z-index: 10;
        overflow: hidden;

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    &__prev-arrow-center {
        position: relative;
        background: transparent;
        margin: 0 auto;
        z-index: 10;
        text-align: center;
        display: block;
        height: 20px;


        @media screen and (max-width: 768px) {
            display: none;
        }

        @media screen and (min-width: 768px) and (max-width: 1319px) {
            width:  20vw;
        }

        @media screen and (min-width: 1320px) {
            width:  12vw;
        }

    }

    &__prev-arrow-left-triangle {
          width: 0;
          height: 0;
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-left: 20px solid #f8f8f8;
          position: absolute;
          left: 6px;
          top: 0;
    }

    &__prev-arrow-right-triangle {
          width: 0;
          height: 0;
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-right: 20px solid #f8f8f8;
          position: absolute;
          right: 6px;
          top: 0;
    }

    &__prev-arrow-inner {
        position: relative;


        &:before {
            height: 20px;
            background: #f8f8f8;
            //background: rgba(150,150,150,0.2);
            content: '';
            display: block;
            position: absolute;
            left: 0;
            width: 20vw;
            top: 50%;
            z-index: 1;


            @media screen and (max-width: 768px) {
                display: none;
            }

            @media screen and (min-width: 768px) and (max-width: 1319px) {
                width:  40vw;
            }

            @media screen and (min-width: 1320px) {
                width:  44vw;
            }
        }

        &:after {
            height: 20px;
            background: #f8f8f8;
            //background: rgba(150,150,150,0.2);
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            width: 20vw;
            z-index: 1;


            @media screen and (max-width: 768px) {
                display: none;
            }

            @media screen and (MIN-width: 768px) and (max-width: 1319px) {
                width:  40vw;
            }

            @media screen and (min-width: 1320px) {
                width:  44vw;
            }
        }

    } //End prev-arrow-inner

    &__prev-arrow-icon {
        position: relative;
        top: -3px;
        color: #ccc;
        text-decoration: none;
        transition: 0.2s;

    }
} //End .homepage-section-6