/*--------------------------------------------
Testimonial/Review Page Styles
----------------------------------------------*/

.page-template-page-testimonials-php {

    .single-review {
        margin-bottom: 37px;
    }

    img.single-review-image {
      max-width: 85px;
      border: 1px solid #e66e0f;
      border-radius: 2px;
      padding: 5px;
    }
    h3.review-name-content{
      margin-bottom: 0;
      margin-top: 5px;
    }
    .review-date {
        font-size: 10px;
    }

    .review-video-tagLine{
      padding-bottom: 20px;
    }

    .review-video-wrapper{
     position: relative;
      height: 0;
      overflow: hidden;
    padding-bottom: 56.25%;
    }

    .review-video-wrapper iframe {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    @media screen and (min-width: 767px){
      .span4.sidebar-wrapper.review-sidebar{
        top: 60px;
      }
      .review-footerStatement {
        max-width: 600px;
      }
      img.single-review-image {
        float: left;
        margin-right: 30px;
      }
      .review-name {
        display: inline-flex;
      }
      .review-rating {
        margin: 5px 0 0 15px;
      }
      p.review-content {
        display: flex;
        padding: 10px 5px;
      }
    }

    @media screen and (max-width: 767px){
      .single-review{
        text-align: center;
      }
      p.review-content{
        text-align: justify;
        font-size: 1.15em;
      }
    }


} //End .page-template-page-testimonials-php