/******************************************************************
Theme Footer Styles
******************************************************************/


.footer {
    clear: both;
    background-color: $footer-background;
    color: $light-gray;
    position: relative;
    z-index: 9;
}

#inner-footer {
    padding: 15px 10px 0 15px;
    text-align: center;

    .footer-icons {
        a{
            text-decoration: none;
            margin-right: 15px;

            &:nth-last-of-type(1) {
                margin-right: 0;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }

    a {
        color: #fff;
        &:hover {
            color: #aaa;
        }
    }
}

.copyright {}



/*--------------------------------------------
Mobile Footer Popup Box
---------------------------------------------*/


.mobile-contact-box{
    display: none;
    opacity: 0;
    position: fixed;
    bottom: -87px;
    left: 0;
    right: 0;
    background: #333;
    background: rgba(0,0,0,0.7);
    height: 87px;
    text-align: center;
    font-size: 16px;
    z-index: 50;
    color: white;
    padding-top: 10px;
    //transition: all 0.5s;

    &.visible{
        display: block;
        opacity: 1;
        bottom: 0;
    }

    &.closed{
        display: none !important;
    }


    @media screen and (min-width: 768px){
        display: none !important;
    }
}
.mobile-contact-button{
    display: block;
    background: $footer-phone-main-bg;
    padding: 3px 7px;
    font-size: 18px;
    width: 80%;
    max-width: 180px;
    color: white;
    text-decoration: none;
    margin: 4px auto 0 auto;
    transition: all 0.2s;
}

.mobile-contact-button:hover{
    background: $footer-phone-hover-bg;
    color: #000;
    text-decoration: none;
}


.mobile-contact-close{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 2px;
    right: 10px;
    color: white;
    font-size: 25px;
    cursor: pointer;

}


//Phone Icon Styles

.footer-phone-circle{
    display: none;
    transition: all 0.2s;

    @media screen and (max-width: 767px){
       &.visible{
            display: block;
            position: fixed;
            bottom: 60px;
            right: 10px;
            z-index: 1000;
            height: 65px;
            background: $bressman-orange;
            width: 65px;
            text-decoration: none !important;
            border-radius: 50px;
            text-align: center;
            font-size: 45px;
            color: white;
            box-shadow: 0px 0px 6px rgba(0,0,0,0.7);
            border: 1px solid white;

            &:hover{
                color: #fff;
                background: $bressman-dark-blue;
            }

            i{
                position: relative;
                top: -1px;
            }
       }
    }
}


/*--------------------------------------
General Footer Styles
--------------------------------------*/

.page-footer {

    background: #333 url(../images/footer-bg.jpg) no-repeat center center;
    background-size: cover;
    position: relative;

    //Overlay
    &:before {
        content: '';
        display: block;
        position: absolute;
        z-index: 4;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,0.8);
    }

    &__inner {
        position: relative;
        z-index: 10;
    }

     &__social-icons {
        text-align: center;
        width: 95%;
        margin-bottom: 10px;
        display: block;
        margin-top: 10px;

        @media (min-width: 768px){
            text-align: right;
        }
    }
     &__social-intro-text {
        font-size: 18px;
        font-family: "Exo 2", $sans-serif;
        color: #e0e0e0;
        text-transform: uppercase;
        margin-right: 9px;
        transition: 0.2s;
        @media screen and (max-width: 480px) {
            font-size: 16px;
        }
    }
    &__social-icon {
        margin-right: 10px;
        display: inline-block;
        vertical-align: top;
        border-radius: 3px;
        padding: 2px 8px;
        text-decoration: none;
        color: #fff;
        transition: all 0.2s;
        background: #5b7084;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        &:nth-last-of-type(1) {
            margin-right: 0;
        }
        i {
            color: #fff;
            font-size: 14px;
        }
        &:hover {
            background: darken(#5b7084, 5%);
            i {
                color: #e0e0e0;
            }
        }
    }

    &__section-title {
        font-family: $alt-serif;
        color: #fff;
        color: rgba(255,255,255,0.6);
        display: block;
        position: relative;
        text-align: center;
         &__social-intro-text {
        font-size: 18px;
        font-family: "Exo 2", $sans-serif;
        color: #e0e0e0;
        text-transform: uppercase;
        margin-right: 9px;
        transition: 0.2s;
        @media screen and (max-width: 480px) {
            font-size: 16px;
        }
    }
    &__social-icon {
        margin-right: 10px;
        display: inline-block;
        vertical-align: top;
        border-radius: 3px;
        padding: 2px 8px;
        text-decoration: none;
        color: #fff;
        transition: all 0.2s;
        background: #5b7084;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        &:nth-last-of-type(1) {
            margin-right: 0;
        }
        i {
            color: #fff;
            font-size: 14px;
        }
        &:hover {
            background: darken(#5b7084, 5%);
            i {
                color: #e0e0e0;
            }
        }
    }
        margin-top: 30px;
        text-transform: uppercase;
        margin-bottom: 30px;

        @media screen and (min-width: 1320px){
            font-size: 2.5em;
        }

        @media screen and (min-width: 768px) {
            margin-top: 105px;
            margin-bottom: 85px;
        }

            &:before {
                height: 1px;
                background: #BABABA;
                background: rgba(150,150,150,0.2);
                content: '';
                display: block;
                position: absolute;
                left: 0;
                width: 10vw;
                top: 50%;
                z-index: 1;


                @media screen and (max-width: 768px) {
                    display: none;
                }

                @media screen and (MIN-width: 768px) and (max-width: 1100px) {
                    width:  7vw;
                }

                @media screen and (min-width: 1320px) {
                    width:  140px;
                }
            }

            &:after {
                height: 1px;
                background: #BABABA;
                background: rgba(150,150,150,0.2);
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                right: 0;
                width: 20vw;
                z-index: 1;


                @media screen and (max-width: 768px) {
                    display: none;
                }

                @media screen and (MIN-width: 768px) and (max-width: 1100px) {
                    width:  7vw;
                }

                @media screen and (min-width: 1320px) {
                    width:  140px;
                }
            }

    }

    /*--------------------------------------
    Address Box Styles
    --------------------------------------*/

    &__address-box {
        text-align: left;
        background: rgba(0,0,0,0.5);
        padding: 15px;
        max-width: 450px;
        line-height: 1.6;
        margin: 20px auto;

        @media screen and (min-width: 768px) {
            margin: 0;
        }
    }

    &__address-name {
        color: $bressman-orange;
        font-weight: bold;
        display: block;
        font-size: 1.1em;
        margin-bottom: 5px;
    }

    &__address-location {

    }

    &__map-embed {
        margin-top: 20px;
    }


    /*--------------------------------------
    Bottom Footer Styles
    --------------------------------------*/

    &__disclaimer-section {
        @include clearfix();
        margin-top: 35px;
        padding: 20px 0;
        text-align: center;
        position: relative;
        z-index: 10;
        background: rgba(0,0,0,0.7);

        //Full Width From Inside Container
          width: 100vw;
          position: relative;
          left: 50%;
          right: 50%;
          margin-left: -50vw;
          margin-right: -50vw;

          @media screen and (min-width: 768px) {
            margin-top: 80px;
          }
    }

    &__footer-logo {
        width: 100%;
        padding: 10px;
        max-width: 500px;
        display: block;
        margin: 0 auto;

        @media screen and (min-width: 768px) {
            float: left;
            max-width: 400px;
            width: 400px;
            padding-right: 20px;
        }
    }

    &__disclaimer-text {
        width: 100%;
        padding: 10px;
        text-align: center;
        display: block;
        margin: 20px auto;
        color: #666;
        font-size: 13px;

        a {
            color: #666 !important;
            text-decoration: none;

            &:hover {
                color: #dadada !important;
                text-decoration: underline;
            }
        }

        @media screen and (min-width: 768px) {
            float: right;
            padding-left: 20px;
            text-align: right;
            line-height: 50px;
            margin-top: 0;
            width: calc(100% - 400px);
        }
    }


} //End .page-footer


 //Actual CF7 Contact Form Styles
.footer-contact-form {

    font-family: 'Exo 2', $sans-serif;
    font-weight: bold;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        max-width: 642px;
    }

    .row {
        margin-bottom: 0;
    }

    br {
        display: none;
    }

    p {
        margin-bottom: 0;
    }

    textarea {
        height: 128px;
    }

    input[type="submit"]{
        background: transparent !important;
        padding: 0 !important;
        border: none !important;
        margin: none !important;
        display: inline-block !important;
        width: auto !important;
        text-align: center !important;
        color: #fff !important;
        text-transform: uppercase !important;
    }

    .button-orange {
        font-size: 1em;
        display: block;
        width: 100%;
        padding: 0.55em 1.5em;
        text-align: center;
    }

} //End .footer-contact-form



