/******************************************************************
Theme Header Styles
******************************************************************/

.header {
    width: 100%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    z-index: 20;
    height: auto;
    //background: #111;
    background: $bressman-dark-blue;
    position: relative;
}

.desktop-header {
    display: none;
}

#sb-site .header {
    display: none;
}

#inner-header.wrap {
    width: 100%;
}

#inner-header .fa {font-family: fontawesome;}

#mobile-logo {
    margin: 0;
    line-height: $headerheight;
    text-align: center;
    padding: 5px 10px;
    width: 100%;
    a {
        color: #fff;
        sup {
            font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
            color: #1abc9c;
            .white {
                color: $white;
            }
        }
    }
    img {
        margin-top: 0;
        max-width: 280px;
        max-height: none;
    }
}

//Mobile Font Resizer Styles
.font-resizer {

    background: #f0f0f0;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);

    p {
        margin-bottom: 0 !important;
    }

    &__heading {
        display: block;
        margin-top: 0;
        width: 100%;
        margin-bottom: 0;
        line-height: 1;
        text-align: center;
        font-weight: bold;
        color: #333;
    }
    .screen-reader-text {
        font-size: 14px !important;
        text-decoration: none;
        padding: 5px;
        display: inline-block;
        &:hover {
            text-decoration: underline;
        }
    }

} //End .font-resizer

//Mobile Header Styles
.mobile-header {
    padding-top: 10px;
    font-size: 16px;
    //Logo
    &__logo {
        text-align: center;
        img {
            display: inline-block;
            vertical-align: top;
            max-width: 480px;
            width: 80%;
        }
    }
    //Right Interior Layout
    &__social-icons {
        text-align: center;
        width: 95%;
        margin-bottom: 10px;
        display: block;
        margin-top: 10px;
    }
    &__social-intro-text {
        font-size: 18px;
        font-family: "Exo 2", $sans-serif;
        color: #e0e0e0;
        text-transform: uppercase;
        margin-right: 9px;
        transition: 0.2s;
        @media screen and (max-width: 480px) {
            font-size: 16px;
        }
    }
    &__social-icon {
        margin-right: 10px;
        display: inline-block;
        vertical-align: top;
        border-radius: 3px;
        padding: 2px 8px;
        text-decoration: none;
        color: #fff;
        transition: all 0.2s;
        background: #5b7084;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        &:nth-last-of-type(1) {
            margin-right: 0;
        }
        i {
            color: #fff;
            font-size: 14px;
        }
        &:hover {
            background: darken(#5b7084, 5%);
            i {
                color: #e0e0e0;
            }
        }
    }
    &__contact-text {
        text-align: center;
        width: 95%;
        display: block;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    &__contact-intro-text {
        color: #e0e0e0;
        font-family: "Exo 2", $sans-serif;
        font-size: 18px;
        line-height: 26px;
        text-transform: uppercase;
        margin-right: 8px;
        //Not sure why line height wasn't working
        position: relative;
        top: -3px;
        transition: 0.2s;
        @media screen and (max-width: 480px) {
            font-size: 16px;
            line-height: 22px;
        }
    }
    &__contact-phone-number {
        color: #fff;
        font-family: "Exo 2", $sans-serif;
        text-decoration: none;
        font-size: 26px;
        line-height: 1;
        &:hover {
            text-decoration: underline;
            color: #fff;
        }
        @media screen and (max-width: 480px) {
            font-size: 22px;
        }
    }
} //End .mobile-header

/******************************************************************
Begin Tablet/Desktop Styles
******************************************************************/

@media screen and (min-width: 768px) {
    .desktop-header {
        @include clearfix();
        position: fixed;
        top: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        //background: #111;
        background: $bressman-dark-blue;
        transition: 0.2s;
        display: block;
        z-index: 1000;
        font-size: 16px;
        //Scrolled Styles
        &.scrolled {
            //background: #111;
            background: $bressman-dark-blue;
            .desktop-header__contact-intro-text,
            .desktop-header__social-intro-text {
                color: #e0e0e0;
            }
            .top-nav-wrapper {
                border-top: 1px solid #425469 !important;
            }
        }
        //Interior Layout & General Styles
        &__left {
            width: 40%;
            text-align: left;
            float: left;
            img {
                max-width: 480px;
                width: 90%;
                display: inline-block;
            }
        }
        &__right {
            width: 60%;
            display: flex;
            flex-wrap: wrap;
            float: right;
            padding-top: 1em;
            justify-content: flex-end;
        }
        //Right Interior Layout
        &__social-icons {
            text-align: left;
            width: 50%;
        }
        &__social-intro-text {
            font-size: 18px;
            font-family: "Exo 2", $sans-serif;
            color: #e0e0e0;
            text-transform: uppercase;
            margin-right: 9px;
            transition: 0.2s;
        }
        &__social-icon {
            margin-right: 10px;
            display: inline-block;
            vertical-align: top;
            border-radius: 3px;
            padding: 2px 8px;
            text-decoration: none;
            color: #fff;
            transition: all 0.2s;
            background: #5b7084;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            &:nth-last-of-type(1) {
                margin-right: 0;
            }
            i {
                color: #fff;
                font-size: 14px;
            }
            &:hover {
                background: darken(#5b7084, 5%);
                i {
                    color: #e0e0e0;
                }
            }
        }
        &__contact-text {
            text-align: right;
            width: 50%;
        }
        &__contact-intro-text {
            color: #e0e0e0;
            font-family: "Exo 2", $sans-serif;
            font-size: 18px;
            line-height: 26px;
            text-transform: uppercase;
            margin-right: 8px;
            //Not sure why line height wasn't working
            position: relative;
            top: -3px;
            transition: 0.2s;
        }
        &__contact-phone-number {
            color: #fff;
            font-family: "Exo 2", $sans-serif;
            text-decoration: none;
            font-size: 26px;
            line-height: 1;
            &:hover {
                text-decoration: underline;
                color: #fff;
            }
        }
        .top-nav-wrapper {
            width: 100%;
        }
    }
    .logged-in {
        .desktop-header {
            top: 32px;
        }
    }
    //Homepage Header Styles
    .page-template-page-homepage-php {
        .desktop-header {
            background: rgba(0, 0, 0, 0.4);
            &__contact-intro-text {
                color: #6d7780;
            }
            &__social-intro-text {
                color: #6d7780;
            }
            //Scrolled Styles
            &.scrolled {
                background: $bressman-dark-blue;
                .desktop-header__contact-intro-text,
                .desktop-header__social-intro-text {
                    color: #e0e0e0;
                }
                .top-nav-wrapper {
                    border-top: 1px solid #425469 !important;
                }
            }
        }
    } //End Homepage Wrapper
} //End Media Query
//Scrolled Nav Styles
.desktop-scrolled-header {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 1000;
    transition: opacity 0.3s;
    border-bottom: none !important;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    @media screen and (max-width: 767px) {
        display: none !important;
    }
    &.scrolled {
        display: block;
        opacity: 1;
        visibility: visible;
    }
    .phone-number {
        text-align: center;
        float: right;
        a {
            display: block;
            color: white;
            background: transparent !important;
            text-decoration: none;
            padding: 6px 10px 0;
            border-bottom: 0;
            text-decoration: none;
            transition: background .2s, color .2s;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: bold;
            &:hover {
                color: white;
                text-decoration: none;
            }
        }
    }
} // End .desktop-scrolled-header
//Responsive Header Styles
@media screen and (min-width: 768px) and (max-width: 1100px) {
    .nav.top-nav {
        li {
            &:nth-of-type(1) {
                display: none;
            }
            a {
                padding: 0.3em !important;
                font-size: 0.8em;
            }
            &.menu-parent-item a {
                padding-right: 1.8em !important;
            }
        }
        .desktop-downarrow:after {
            font-size: 16px;
            top: -3px;
        }
    }
    .desktop-header {
        &__left {
            width: 55%;
        }
        &__right {
            width: 45%;
        }
        &__social-icons {
            display: none;
        }
        &__contact-text {
            width: 100%;
        }
    }
}

.logged-in {
    .desktop-scrolled-header {
        top: 32px;
    }
}
