/******************************************************************
Theme Mobile Navigation Styles
******************************************************************/

nav.wrap {
    margin: 0;
    width: 100%;
}

.nav.top-nav {
    display: none;
}

#sb-site {
    transition: all 400ms ease;
}

.slidebar-header {
    display: block;
    padding: 0.5em 0 0.5em 11px;
    background: $slideNavHeaderBackgroundColor;
    color: $slidNavHeaderTextColor;
    margin: 0;
    position: relative;
}

.sb-active-right #sb-site {
    box-shadow: 0px 5px 10px #000;
}

.sb-active-right .mobile-header {
    box-shadow: 0px -6px 10px #000;
}

.nav.slideout-nav {
    border-bottom: 0;
    margin: 0;

    li {

        position: relative;
        border-bottom: 1px solid $slideNavLinkBottomBorder;

        &:nth-last-of-type(1) {
            border-bottom: 0;
        }

        a {
            display: block;
            color: $slideNavtopLevelLinkColor;
            background: $slideNavtopLevelBackgroundColor;
            text-decoration: none;
            padding: 0.75em;


            &:hover, &:focus {
                color: $slideNavtopLevelLinkHoverColor;
                background: $slideNavtopLevelBackgroundHoverColor;
            }

        }

        &:first-child {}

        &:last-child {}

        &:hover {
            .nav-clickClosed, .nav-clickOpen {
                color: $slideNavsecondLevelLinkHoverColor;
                }
            }

        /*Begin Submenu*/

        ul.sub-menu,
        ul.children {
            margin: 0;
            border-top: 1px solid $slideNavLinkBottomBorder;

            li {

                a {
                    padding-left: 30px;
                    color: $slideNavsecondLevelLinkColor;
                    background: $slideNavsecondLevelBackgroundColor;

                    &:hover,
                    {
                        color: $slideNavsecondLevelLinkHoverColor;
                        background: $slideNavsecondLevelBackgroundHoverColor;
                    }

                    &:focus {
                        color: $slideNavsecondLevelLinkColor;
                        background: $slideNavsecondLevelBackgroundColor;

                    }

                    &:link {}

                }


                &:first-child {}

                &:last-child {}

            }

        }

    } /* end .menu li */

    /* highlight current page */
    li.current-menu-item,
    li.current_page_item,
    li.current-page-ancestor {

        a {}

    }  /* end current highlighters */

} /* end .nav */

.li-icon-hover-bg {
    background: $topLevelBackgroundHoverColor;
}

a.no-background {
    background: none !important;
    color: $topLevelLinkHoverColor !important;
}

//wpadmin bar fixes
div#wpadminbar {
    position: fixed !important;
}

.admin-bar .sb-slidebar {
    top: 46px;
}



/*--------------------------------------------
Begin Mobile Nav Outside Appearance
---------------------------------------------*/

.mobile-nav-menu-box {
    display: block;
    cursor: pointer;
    height: 100%;
    min-height: 50px;
    width: 100%;
    background: $mobileNavBoxBackgroundColor;
    color: $mobileNavBoxLinkColor;
    position: relative;
    margin-top: 0;
    font-size: 20px;
    text-align: left;
    padding: 0 0 0 10px;
    line-height: 50px;
}


.mobile-nav-menu-box:hover, .mobile-menu-active, .mobile-search-box:hover {
    color: $mobileNavBoxLinkHoverColor;
    background: $mobileNavBoxBackgroundHoverColor;
}

.mobile-nav-box-close {
    width: 50%;
    height: 100%;
    float: right;
    display: block;
    position: relative;
    cursor: pointer;
}

.mobile-nav-box-close:before {
    position: absolute;
    top: -2px;
    right: 0;
    width: 50%;
    cursor: pointer;
    font-size: 30px;
    content: '\f00d';
    text-align: right;
    padding-right: 17px;
    padding-top: 0;
    padding-bottom: 14px;
    font-family: fontawesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mobile-nav-box-open:before {
    content: '\f0c9';
    position: absolute;
    top: 1px;
    right: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 32px;
    text-align: right;
    padding-right: 10px;
    padding-top: 0;
    font-family: fontawesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.mobile-search-box {
    display: block;
    cursor: pointer;
    height: 100%;
    width: 50px;
    background: $mobileNavBoxBackgroundColor;
    color: $mobileNavBoxLinkColor;
    position: relative;
    margin-top: 0;
    margin-left: 10px;
    float: right;
    min-height: 50px;
}

.search-icon:before {
    content: '\f002';
    position: absolute;
    top: 4px;
    left: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 30px;
    text-align: left;
    padding-right: 2%;
    padding-top: 0;
    font-family: fontawesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*--------------------------------------------
Default Navigation Styles
---------------------------------------------*/

.nav {
    border-bottom: 0;
    margin: 0;
    list-style-type: none;

    li {

        a {
            display: block;
            color: $white;
            text-decoration: none;
            padding: 0.75em;


            &:hover, &:focus {
            }
        }

        &:first-child {}

        &:last-child {}

        ul.sub-menu,
        ul.children {

            li {

                a {
                    padding-left: 30px;

                    &:hover,
                    &:focus {}

                    &:link {}

                }

                &:first-child {}

                &:last-child {}

            }

        }

    } /* end .menu li */

    /* highlight current page */
    li.current-menu-item,
    li.current_page_item,
    li.current-page-ancestor {

        a {}

    }  /* end current highlighters */

} /* end .nav */


/******************************************************************
Begin Tablet/Desktop Navigation
******************************************************************/


@media screen and (min-width: 768px){

    /*--------------------------------------------
    Toggle Mobile and Desktop Nav Styles
    ---------------------------------------------*/

    .mobile-nav-menu-box, .mobile-search-box, .mobile-search  {
        display: none !important;
    }

    .top-nav, .sub-menu {
        display: block;
    }

    .desktop-downarrow {
        position: relative;
    }

    .desktop-downarrow:after {
        content: '\f107';
        font-family: fontawesome;
        float: right;
        position: absolute;
        top: -2px;
        right: -1.0em;
        font-size: 18px;
    }

    ul.sub-menu .desktop-downarrow, .nav-click  {
        display: none;
    }

    .top-nav-wrapper {
        width: 100%;
        background: $navbarBackgroundColor; //This is set from the _baseNav.scss file
        padding-top: 10px;
        border-top: 1px solid #6c8194;
        text-align: right;


    }


    /*--------------------------------------------
    Top Level Desktop Navigation Styles
    ---------------------------------------------*/

    .nav.top-nav {
        border: 0;
        margin: 0;
        display: inline-block;
        vertical-align: top;
        text-align: center;

        ul {
            background:$black;
            margin-top:0;
        }

        li {
            float: left;

            a {
                display: block;
                color: $topLevelLinkColor;
                background: $topLevelBackgroundColor;
                text-decoration: none;
                padding: 0.75em;

                border-bottom: 0;
                text-decoration: none;
                transition: background 0.2s, color 0.2s;
                font-family: "Exo 2", $sans-serif;
                font-weight: bold;
                text-transform: uppercase;
                position: relative;

                 &:after {
                    width: 0;
                    background-color: $topLevelLinkHoverColor;
                    display: block;
                    height: 1px;
                    content: "";
                    transition: width .2s linear;
                    margin: 0 auto 0 auto;
                    position: relative;
                    top: 0.75em;
                }



                &:hover, &:focus {
                    color: $topLevelLinkHoverColor;
                    background: $topLevelBackgroundHoverColor;
                    text-decoration: none;


                    &:after {
                        width: 100%;
                    }
                }
            }

            &:first-child {}
            &:last-child {}

            &:hover {
                .nav-clickClosed, .nav-clickOpen {
                    color: $secondLevelLinkHoverColor;
                }
            }

        } /* End  li */

        /* Highlight Current Page */
        li.current-menu-item,
        li.current_page_item,
        li.current-page-ancestor {
            a {
                color: $topLevelCurrentMenuItemLinkColor;
                background: $topLevelCurrentMenuItemBackgroundColor;

                &:hover {
                    color: $topLevelCurrentMenuItemLinkHoverColor;
                    background: $topLevelCurrentMenuItemBackgroundHoverColor;
                }

               &:after {
                    width: 100%;
                }
            }
        }  /* End Current Highlighters */

    } /* End .top-nav */


    /*--------------------------------------------
    Submenu/Paren Desktop Navigation Styles
    ---------------------------------------------*/

    .nav.top-nav li.menu-parent-item {

        a {
            padding-right: 1.8em;
        }

        &:hover {
            background: $secondLevelBackgroundColor;
            color:  $secondLevelLinkColor;

            a {
                background: none;
                color: inherit;

                &:hover {
                    background: $topLevelBackgroundHoverColor;
                    color:  $topLevelLinkHoverColor;
                }
            }

            ul.sub-menu, ul.children {
                margin: 0;

                li {

                    a {
                        padding-left: 30px;
                        color: $secondLevelLinkColor;
                        background: $secondLevelBackgroundColor;
                        font-weight: normal;
                        text-transform: none;
                        text-align: left;
                        font-size: 14px;

                        &:after {
                            display: none !important;
                        }

                        &:hover,
                        &:focus {
                            color: $secondLevelLinkHoverColor;
                            background: $secondLevelBackgroundHoverColor;

                        }
                        &:link {}
                    }

                    &:first-child {}

                    &:last-child {}

                }
            }

            /* Show/Hide Submenu */
            &:hover > ul {
                top: auto;
                visibility:visible;
                transition: visibility 0.2s;
            }
        }
    }


    /*--------------------------------------------
    Generic Navigation Styles/Functionality
    ---------------------------------------------*/

    .nav {
        border: 0;
        ul {
            background:$black;
            margin-top:0;
        }
        li {
            float: left;
            position: relative;

            a {
                border-bottom: 0;

                &:hover, &:focus {
                    color: $white;
                    text-decoration: underline;
                }
            }

            ul.sub-menu,
            ul.children {
                margin-top: 0;

                border-top: 0;
                position: absolute;
                visibility: hidden;
                z-index: 8999;

                li {

                    a {
                        padding-left: 10px;
                        border-right: 0;
                        display: block;
                        width: 210px;
                   }

                    ul {
                        top:0;
                        left:100%;
                    }
                }
            }

            /* Showing sub-menus */
            &:hover > ul {
                top: auto;
                visibility:visible;
            }

        } /* End .menu ul li */

    } /* End .nav */


} //End 768px Media Query



