/******************************************************************
Theme Sidebar Styles
******************************************************************/


.sidebar {}

.widgettitle {
    font-size: 1.325em;
    margin-top: 0;
    margin-bottom: 1em;
}

.widget {
    margin: 1.5em 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);

    &:nth-of-type(1) {
        margin-top: 0;
    }
    &:nth-last-of-type(1) {
        margin-bottom: 0;
    }

    ul {

        li {

            &:first-child {}

            &:last-child {}

            a {}

            /* deep nesting */
            ul {}

        }

    }

}

.no-widgets {
    background-color: $white;
    padding: 1.5em;
    text-align: center;
    //border: 1px solid $border-color;
    border-radius: 2px;
    margin-bottom: 1.5em;
}


/******************************************************************
Desktop/Tablet Sidebar Styles
******************************************************************/

.sidebar {
    margin-top: 0;
}

.widgettitle {
    margin-bottom: 0.75em;
}

.widget {
    padding: 0;
    margin: 1.8em 0;
    &:nth-of-type(1) {
        margin-top: 0;
    }
    &:nth-last-of-type(1) {
        margin-bottom: 0;
    }

    ul {
        li {
            margin-bottom: 2px;

            &:first-child {}
            &:last-child {}
            a {}
            /* deep nesting */

            ul {
                margin-top: 0.75em;
                padding-left: 1em;
            }
        }
    }
}

/*--------------------------------------
Sidebar Location Listing Boxes
---------------------------------------*/

#custom_post_widget-2{
    //Removing Box Shadow
    box-shadow: none;
}

.sidebar-location-listing {

    display: block;
    padding: 13px;
    border-radius: 4px;
    background: #111;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);

    &__link {
        color: #fff;
        text-decoration: none;
        transition: all 0.2s;
        display: block;
        text-align: left;
        font-size: 1.3em;
        color: $bressman-orange;
        margin-bottom: 13px;

        &:hover {
            color: #fff;
            text-decoration: underline;
        }
    }

    &__address {
        display: block;
        color: #fff;
        margin-bottom: 13px;
        position: relative;
        padding-left: 33px;

        &:before {
            font-family: fontawesome;
            position: absolute;
            left: 6px;
            top: 0;
            color: #525252;
            font-size: 22px;
            content: '\f041';
        }
    }

    &__phone {
        color: #fff;
        position: relative;
        padding-left: 33px;

        &:before {
            font-family: fontawesome;
            position: absolute;
            left: 6px;
            top: -4px;
            color: #525252;
            font-size: 22px;
            content: '\f095';
        }

        a{
            color: #fff;
            text-decoration: underline;

            &:hover {
                text-decoration: underline;
            }
        }
    }

} //End .sidebar-location-listing


/*--------------------------------------
Sidebar Recent Blog Post Widget
---------------------------------------*/


.widget_recent_entries {

    padding: 13px;
    border-radius: 4px;
    background: #1e2e41;

    .widgettitle {
        color: #fff;
        font-family: $sans-serif;
        text-align: center;
        padding-bottom: 13px;
        margin-bottom: 13px;
        display: block;
        border-bottom: 1px solid #fff;
    }

    ul {

        list-style-type: disc;
        list-style-position: outside;
        color: #fff;

        li {
            margin-left: 1.5em;
            margin-bottom: 10px;

            a{
                color: #fff;
                text-decoration: none;
                transition: all 0.2s;
                line-height: 1.5;


                &:hover {
                    color: #e0e0e0;
                    text-decoration: underline;
                }
            }
        }
    }

} //End .widget_recent_entries


/*--------------------------------------
Sidebar Chat Live Button
---------------------------------------*/

.sidebar-chat-button {

    padding: 18px 13px;
    border-radius: 4px;
    background: $bressman-orange;
    color: #fff;
    padding-left: 50px;
    transition: all 0.2s;
    cursor: pointer;
    position: relative;

    &:hover {
        background: $bressman-dark-blue;
        color: #fff;
    }

    &:before {
        font-family: fontawesome;
        position: absolute;
        line-height: 30px;
        font-size: 30px;
        top: 50%;
        left: 13px;
        transform: translateY(-50%);
        display: block;
        color: #fff;
        content: '\f0e5';
    }

    &__inner {
        text-align: center;
    }

} //End .sidebar-chat-button
