/***************************************************
** STYLES FOR WIDGET
***************************************************/
.location-widget-outer {
  background: #1e2e41;
  padding: 0;
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }

.location-widget-inner .location-widget-title {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  border-radius: 8px 8px 0 0;
  font-family: "Cormorant Garamond", "Georgia", Cambria, Times New Roman, Times, serif;
  padding: 10px 15px;
  color: #fff;
  background: #e46a10;
  border-bottom: 1px solid #0e151e; }

.location-widget-inner .location-widget-links {
  display: block;
  position: relative;
  border-radius: 0 0 8px 8px;
  margin: 0;
  padding: 0; }
  .location-widget-inner .location-widget-links li {
    display: block;
    padding: none;
    list-style-type: none;
    margin: 0; }
    .location-widget-inner .location-widget-links li:nth-last-of-type(1) {
      border-radius: 0 0 8px 8px; }
      .location-widget-inner .location-widget-links li:nth-last-of-type(1) a {
        border-radius: 0 0 8px 8px;
        border-bottom: none; }
  .location-widget-inner .location-widget-links a {
    text-decoration: none;
    color: #fff;
    background: #1e2e41;
    display: block;
    padding: 10px 15px;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    font-size: 17px;
    border-bottom: 1px solid #0e151e; }
    .location-widget-inner .location-widget-links a:hover {
      background: #0e151e;
      color: #fff; }
