/***************************************************
** STYLES FOR WIDGET
***************************************************/

//Fonts
$location-widget-primary-font: "Helvetica Neue",Helvetica,Arial,sans-serif;
$location-widget-header-font: 'Cormorant Garamond', "Georgia", Cambria, Times New Roman, Times, serif;

//Colors
$location-widget-primary-color: #1e2e41; //Blue
$location-widget-secondary-color: #e46a10; //Orange
$location-widget-background-color: #1e2e41; //Blue
$location-widget-link-color: #fff; //White
$location-widget-header-color: #fff; //White

.location-widget-outer{
    background: $location-widget-background-color;
    padding: 0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
} //End .location-widget-outer

.location-widget-inner{

    .location-widget-title{
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-size: 22px;
        border-radius: 8px 8px 0 0;
        font-family: $location-widget-header-font;
        padding: 10px 15px;
        color: $location-widget-header-color;
        background: $location-widget-secondary-color;
        border-bottom: 1px solid darken($location-widget-background-color, 10%);
    }

    .location-widget-links{
        display: block;
        position: relative;
        border-radius: 0 0 8px 8px;
        margin: 0;
        padding: 0;

        li{
            display: block;
            padding: none;
            list-style-type: none;
            margin: 0;

            &:nth-last-of-type(1){
                border-radius: 0 0 8px 8px;

                a{
                    border-radius: 0 0 8px 8px;
                    border-bottom: none;
                }
            }
        }

        a{
            text-decoration: none;
            color: $location-widget-link-color;
            background: $location-widget-background-color;
            display: block;
            padding: 10px 15px;
            transition: all 0.1s;
            font-size: 17px;
            border-bottom: 1px solid darken($location-widget-background-color, 10%);

            &:hover{
                background: darken($location-widget-background-color, 10%);
                color: $location-widget-link-color;
            }
        }
    }


} //End .location-widget-inner