/*-------------------------------------------------------------------------------------------------------
        0. Entypo Fonts - http://www.entypo.com/
-------------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: 'EntypoRegular';
    src: url('../../css/font/entypo-webfont.eot');
    src: url('../../css/font/entypo-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../css/font/entypo-webfont.woff') format('woff'),
        url('../../css/font/entypo-webfont.ttf') format('truetype'),
        url('../../css/font/entypo-webfont.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon:before {
    vertical-align: -5px;
    font-family: 'EntypoRegular';
    font-style: normal;
    font-weight: normal;
    margin-right: 6px;
    font-size: 40px;
    min-width: 24px;
    text-align: center;
    text-transform: none;
}

ul.entypo-icon-list {
    position: relative;
}

ul.entypo-icon-list > li {
    margin-left: 0;
    list-style-type: none;
    /*line-height: 1em;*/
    overflow: visible;
}

ul.entypo-icon-list li span.icon-bg {
    display: none;
    visibility: collapse;
}

ul.entypo-icon-list.has-circle {
    padding-left: 44px;
}

ul.entypo-icon-list li span.icon-wrapper {
    display: inline;
    line-height: 1em;
}

ul.entypo-icon-list.has-circle span.icon-bg {
    position: absolute;
    display: block;
    visibility: visible;
    width: 37px;
    height: 37px;
    border-radius: 18px;
    top: -0.55em;
    left: 0;


    background-repeat: no-repeat;
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
    background-image: -ms-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
    background-image: linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
    border: 1px solid rgba(0, 0, 0, 0.2);
/*  -ms-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;*/
    -ms-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.3);
/*  padding: 0;*/
    text-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px;
}

ul.entypo-icon-list.has-circle span.icon-wrapper {
    width: 0;
    display: inline-block;
    overflow: hidden;
}

ul.entypo-icon-list.has-circle span.icon-bg > i {
    display: block;
    margin-top: 4px;
}

ul.entypo-icon-list.has-circle span.icon-bg > i:before {
    display: block;
    margin: 0;
    padding: 0;
    width: 36px;
    height: 36px;
    text-align: center;
    /*line-height: 36px;*/
    vertical-align: middle;
    padding-bottom: 10px;
}

.phone.icon:before {
    content: "\0021"
}

.smartphone.icon:before {
    content: "\0022"
}

.mouse.icon:before {
    content: "\0023"
}

.roadsign.icon:before {
    content: "\0024"
}

.mail.icon:before {
    content: "\0025"
}

.write.icon:before {
    content: "\0026"
}

.attachment.icon:before {
    content: "\0027"
}

.back.icon:before {
    content: "\0028"
}

.doubleback.icon:before {
    content: "\0029"
}

.forward.icon:before {
    content: "\002A"
}

.user.icon:before {
    content: "\002B"
}

.usergroup.icon:before {
    content: "\002C"
}

.adduser.icon:before {
    content: "\002D"
}

.profile.icon:before {
    content: "\002E"
}

.newwindow.icon:before {
    content: "\002F"
}

.mappin.icon:before {
    content: "\0030"
}

.map.icon:before {
    content: "\0031"
}

.compass.icon:before {
    content: "\0032"
}

.compasshand.icon:before {
    content: "\0033"
}

.crosshair.icon:before {
    content: "\0034"
}

.link.icon:before {
    content: "\0035"
}

ul.entypo-icon-list.has-circle span.icon-bg > .link.icon:before {
    position: absolute;
    top: 4px;
    right: 0;
}


.heart.icon:before {
    content: "\0036"
}

.star.icon:before {
    content: "\0037"
}

.thumbsup.icon:before {
    content: "\0038"
}

.conversation.icon:before {
    content: "\0039"
}

.comment.icon:before {
    content: "\003A"
}

.rightquote.icon:before {
    content: "\003B"
}

.printer.icon:before {
    content: "\003C"
}

.bell.icon:before {
    content: "\003D"
}

.brokenlink.icon:before {
    content: "\003E"
}

.flag.icon:before {
    content: "\003F"
}

.gear.icon:before {
    content: "\0040"
}

.flashlight.icon:before {
    content: "\0041"
}

.trophy.icon:before {
    content: "\0042"
}

.tag.icon:before {
    content: "\0043"
}

.camera.icon:before {
    content: "\0044"
}

.moon.icon:before {
    content: "\0045"
}

.palette.icon:before {
    content: "\0046"
}

.envato.icon:before {
    content: "\0047"
}

.musicnote.icon:before {
    content: "\0048"
}

.bag.icon:before {
    content: "\0049"
}

.airplane.icon:before {
    content: "\004A"
}

.lifesaver.icon:before {
    content: "\004B"
}

.rings.icon:before {
    content: "\004C"
}

.eye.icon:before {
    content: "\004D"
}

.clock.icon:before {
    content: "\004E"
}

.microphone.icon:before {
    content: "\004F"
}

.calender.icon:before {
    content: "\0050"
}

.bolt.icon:before {
    content: "\0051"
}

.hourglass.icon:before {
    content: "\0052"
}

.rss.icon:before {
    content: "\0053"
}

.signal.icon:before {
    content: "\0054"
}

.lock.icon:before {
    content: "\0055"
}

.unlock.icon:before {
    content: "\0056"
}

.checkmark.icon:before {
    content: "\0057"
}

.xmark.icon:before {
    content: "\0058"
}

.minuscircle.icon:before {
    content: "\0059"
}

.pluscircle.icon:before {
    content: "\005A"
}

.xmarkcircle.icon:before {
    content: "\005B"
}

.minus.icon:before {
    content: "\005C"
}

.plus.icon:before {
    content: "\005D"
}

.cancel.icon:before {
    content: "\005E"
}

.info.icon:before {
    content: "\005F"
}

.infocircle.icon:before {
    content: "\0060"
}

.questionmark.icon:before {
    content: "\0061"
}

.questioncircle.icon:before {
    content: "\0062"
}

.caution.icon:before {
    content: "\0063"
}

.clockwise.icon:before {
    content: "\0064"
}

.counterclockwise.icon:before {
    content: "\0065"
}

.crosspaths.icon:before {
    content: "\0066"
}

.backarrow.icon:before {
    content: "\0067"
}

.looparrow.icon:before {
    content: "\0068"
}

.list.icon:before {
    content: "\0069"
}

.listadd.icon:before {
    content: "\006A"
}

.window.icon:before {
    content: "\006B"
}

.document.icon:before {
    content: "\006C"
}

.portrait.icon:before {
    content: "\006D"
}

.copydocument.icon:before {
    content: "\006E"
}

.landscape.icon:before {
    content: "\006F"
}

.photos.icon:before {
    content: "\0070"
}

.video.icon:before {
    content: "\0071"
}

.music.icon:before {
    content: "\0072"
}

.folder.icon:before {
    content: "\0073"
}

.cabinet.icon:before {
    content: "\0074"
}

.trash.icon:before {
    content: "\0075"
}

.upload.icon:before {
    content: "\0076"
}

.download.icon:before {
    content: "\0077"
}

.hdd.icon:before {
    content: "\0078"
}

.cloud.icon:before {
    content: "\0079"
}

.cloudupload.icon:before {
    content: "\007A"
}

.play.icon:before {
    content: "\007B"
}

.pause.icon:before {
    content: "\007C"
}

.record.icon:before {
    content: "\007D"
}

.stop.icon:before {
    content: "\007E"
}

.creativecommons.icon:before {
    content: "\00A9"
}

.widewindow.icon:before {
    content: "\00AE"
}

.nexttrack.icon:before {
    content: "\00C4"
}

.previoustrack.icon:before {
    content: "\00C5"
}

.beginningtrack.icon:before {
    content: "\00C7"
}

.endtrack.icon:before {
    content: "\00C9"
}

.zoomout.icon:before {
    content: "\00D1"
}

.zoomin.icon:before {
    content: "\00D6"
}

.volume.icon:before {
    content: "\00DC"
}

.volumeoff.icon:before {
    content: "\00E0"
}

.volumeon.icon:before {
    content: "\00E1"
}

.leftarrow.icon:before {
    content: "\00E2"
}

.uparrow.icon:before {
    content: "\00E3"
}

.downarrow.icon:before {
    content: "\00E4"
}

.rightarrow.icon:before {
    content: "\00E5"
}

.leftarrowsmall.icon:before {
    content: "\00E7"
}

.uparrowsmall.icon:before {
    content: "\00E8"
}

.downarrowsmall.icon:before {
    content: "\00E9"
}

.rightarrowsmall.icon:before {
    content: "\00EA"
}

.leftarrowcircle.icon:before {
    content: "\00EB"
}

.uparrowcircle.icon:before {
    content: "\00EC"
}

.downarrowcircle.icon:before {
    content: "\00ED"
}

.rightarrowcircle.icon:before {
    content: "\00EE"
}

.home.icon:before {
    content: "\00EF"
}

.bookmark.icon:before {
    content: "\00F1"
}

.maximize.icon:before {
    content: "\00F2"
}

ul.entypo-icon-list.has-circle span.icon-bg > i.opendocument.icon {
    margin-top: 5px;
}

.opendocument.icon:before {
    content: "\00F3";
}

.search.icon:before {
    content: "\00F4"
}

.ellipsis.icon:before {
    content: "\00F6"
}

/*-------------------------------------------------------------------------------------------------------
        1. Font Awesome Fonts - http://fortawesome.github.com/Font-Awesome/
-------------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: 'FontAwesome';
    src: url('../../css/font/fontawesome-webfont.eot?v=3.0.1');
    src: url('../../css/font/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('../../css/font/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('../../css/font/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
}

.icon-large:before {
    font-size: 1.3333333333333333em;
}

.btn [class^="icon-"], .btn [class*=" icon-"] {
    line-height: .9em;
}

li .icon-large[class^="icon-"], li .icon-large[class*=" icon-"] {
    width: 1.875em;
}

li[class^="icon-"], li[class*=" icon-"] {
    margin-left: 0;
    list-style-type: none;
}

li[class^="icon-"]:before, li[class*=" icon-"]:before {
    text-indent: -2em;
    text-align: center;
}

li[class^="icon-"].icon-large:before, li[class*=" icon-"].icon-large:before {
    text-indent: -1.3333333333333333em;
}

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
.icon-glass:before                { content: "\f000"; }
.icon-music:before                { content: "\f001"; }
.icon-search:before               { content: "\f002"; }
.icon-envelope:before             { content: "\f003"; }
.icon-heart:before                { content: "\f004"; }
.icon-star:before                 { content: "\f005"; }
.icon-star-empty:before           { content: "\f006"; }
.icon-user:before                 { content: "\f007"; }
.icon-film:before                 { content: "\f008"; }
.icon-th-large:before             { content: "\f009"; }
.icon-th:before                   { content: "\f00a"; }
.icon-th-list:before              { content: "\f00b"; }
.icon-ok:before                   { content: "\f00c"; }
.icon-remove:before               { content: "\f00d"; }
.icon-zoom-in:before              { content: "\f00e"; }

.icon-zoom-out:before             { content: "\f010"; }
.icon-off:before                  { content: "\f011"; }
.icon-signal:before               { content: "\f012"; }
.icon-cog:before                  { content: "\f013"; }
.icon-trash:before                { content: "\f014"; }
.icon-home:before                 { content: "\f015"; }
.icon-file:before                 { content: "\f016"; }
.icon-time:before                 { content: "\f017"; }
.icon-road:before                 { content: "\f018"; }
.icon-download-alt:before         { content: "\f019"; }
.icon-download:before             { content: "\f01a"; }
.icon-upload:before               { content: "\f01b"; }
.icon-inbox:before                { content: "\f01c"; }
.icon-play-circle:before          { content: "\f01d"; }
.icon-repeat:before               { content: "\f01e"; }

/* \f020 doesn't work in Safari. all shifted one down */
.icon-refresh:before              { content: "\f021"; }
.icon-list-alt:before             { content: "\f022"; }
.icon-lock:before                 { content: "\f023"; }
.icon-flag:before                 { content: "\f024"; }
.icon-headphones:before           { content: "\f025"; }
.icon-volume-off:before           { content: "\f026"; }
.icon-volume-down:before          { content: "\f027"; }
.icon-volume-up:before            { content: "\f028"; }
.icon-qrcode:before               { content: "\f029"; }
.icon-barcode:before              { content: "\f02a"; }
.icon-tag:before                  { content: "\f02b"; }
.icon-tags:before                 { content: "\f02c"; }
.icon-book:before                 { content: "\f02d"; }
.icon-bookmark:before             { content: "\f02e"; }
.icon-print:before                { content: "\f02f"; }

.icon-camera:before               { content: "\f030"; }
.icon-font:before                 { content: "\f031"; }
.icon-bold:before                 { content: "\f032"; }
.icon-italic:before               { content: "\f033"; }
.icon-text-height:before          { content: "\f034"; }
.icon-text-width:before           { content: "\f035"; }
.icon-align-left:before           { content: "\f036"; }
.icon-align-center:before         { content: "\f037"; }
.icon-align-right:before          { content: "\f038"; }
.icon-align-justify:before        { content: "\f039"; }
.icon-list:before                 { content: "\f03a"; }
.icon-indent-left:before          { content: "\f03b"; }
.icon-indent-right:before         { content: "\f03c"; }
.icon-facetime-video:before       { content: "\f03d"; }
.icon-picture:before              { content: "\f03e"; }

.icon-pencil:before               { content: "\f040"; }
.icon-map-marker:before           { content: "\f041"; }
.icon-adjust:before               { content: "\f042"; }
.icon-tint:before                 { content: "\f043"; }
.icon-edit:before                 { content: "\f044"; }
.icon-share:before                { content: "\f045"; }
.icon-check:before                { content: "\f046"; }
.icon-move:before                 { content: "\f047"; }
.icon-step-backward:before        { content: "\f048"; }
.icon-fast-backward:before        { content: "\f049"; }
.icon-backward:before             { content: "\f04a"; }
.icon-play:before                 { content: "\f04b"; }
.icon-pause:before                { content: "\f04c"; }
.icon-stop:before                 { content: "\f04d"; }
.icon-forward:before              { content: "\f04e"; }

.icon-fast-forward:before         { content: "\f050"; }
.icon-step-forward:before         { content: "\f051"; }
.icon-eject:before                { content: "\f052"; }
.icon-chevron-left:before         { content: "\f053"; }
.icon-chevron-right:before        { content: "\f054"; }
.icon-plus-sign:before            { content: "\f055"; }
.icon-minus-sign:before           { content: "\f056"; }
.icon-remove-sign:before          { content: "\f057"; }
.icon-ok-sign:before              { content: "\f058"; }
.icon-question-sign:before        { content: "\f059"; }
.icon-info-sign:before            { content: "\f05a"; }
.icon-screenshot:before           { content: "\f05b"; }
.icon-remove-circle:before        { content: "\f05c"; }
.icon-ok-circle:before            { content: "\f05d"; }
.icon-ban-circle:before           { content: "\f05e"; }

.icon-arrow-left:before           { content: "\f060"; }
.icon-arrow-right:before          { content: "\f061"; }
.icon-arrow-up:before             { content: "\f062"; }
.icon-arrow-down:before           { content: "\f063"; }
.icon-share-alt:before            { content: "\f064"; }
.icon-resize-full:before          { content: "\f065"; }
.icon-resize-small:before         { content: "\f066"; }
.icon-plus:before                 { content: "\f067"; }
.icon-minus:before                { content: "\f068"; }
.icon-asterisk:before             { content: "\f069"; }
.icon-exclamation-sign:before     { content: "\f06a"; }
.icon-gift:before                 { content: "\f06b"; }
.icon-leaf:before                 { content: "\f06c"; }
.icon-fire:before                 { content: "\f06d"; }
.icon-eye-open:before             { content: "\f06e"; }

.icon-eye-close:before            { content: "\f070"; }
.icon-warning-sign:before         { content: "\f071"; }
.icon-plane:before                { content: "\f072"; }
.icon-calendar:before             { content: "\f073"; }
.icon-random:before               { content: "\f074"; }
.icon-comment:before              { content: "\f075"; }
.icon-magnet:before               { content: "\f076"; }
.icon-chevron-up:before           { content: "\f077"; }
.icon-chevron-down:before         { content: "\f078"; }
.icon-retweet:before              { content: "\f079"; }
.icon-shopping-cart:before        { content: "\f07a"; }
.icon-folder-close:before         { content: "\f07b"; }
.icon-folder-open:before          { content: "\f07c"; }
.icon-resize-vertical:before      { content: "\f07d"; }
.icon-resize-horizontal:before    { content: "\f07e"; }

.icon-bar-chart:before            { content: "\f080"; }
.icon-twitter-sign:before         { content: "\f081"; }
.icon-facebook-sign:before        { content: "\f082"; }
.icon-camera-retro:before         { content: "\f083"; }
.icon-key:before                  { content: "\f084"; }
.icon-cogs:before                 { content: "\f085"; }
.icon-comments:before             { content: "\f086"; }
.icon-thumbs-up:before            { content: "\f087"; }
.icon-thumbs-down:before          { content: "\f088"; }
.icon-star-half:before            { content: "\f089"; }
.icon-heart-empty:before          { content: "\f08a"; }
.icon-signout:before              { content: "\f08b"; }
.icon-linkedin-sign:before        { content: "\f08c"; }
.icon-pushpin:before              { content: "\f08d"; }
.icon-external-link:before        { content: "\f08e"; }

.icon-signin:before               { content: "\f090"; }
.icon-trophy:before               { content: "\f091"; }
.icon-github-sign:before          { content: "\f092"; }
.icon-upload-alt:before           { content: "\f093"; }
.icon-lemon:before                { content: "\f094"; }
.icon-phone:before                { content: "\f095"; }
.icon-check-empty:before          { content: "\f096"; }
.icon-bookmark-empty:before       { content: "\f097"; }
.icon-phone-sign:before           { content: "\f098"; }
.icon-twitter:before              { content: "\f099"; }
.icon-facebook:before             { content: "\f09a"; }
.icon-github:before               { content: "\f09b"; }
.icon-unlock:before               { content: "\f09c"; }
.icon-credit-card:before          { content: "\f09d"; }
.icon-rss:before                  { content: "\f09e"; }

.icon-hdd:before                  { content: "\f0a0"; }
.icon-bullhorn:before             { content: "\f0a1"; }
.icon-bell:before                 { content: "\f0a2"; }
.icon-certificate:before          { content: "\f0a3"; }
.icon-hand-right:before           { content: "\f0a4"; }
.icon-hand-left:before            { content: "\f0a5"; }
.icon-hand-up:before              { content: "\f0a6"; }
.icon-hand-down:before            { content: "\f0a7"; }
.icon-circle-arrow-left:before    { content: "\f0a8"; }
.icon-circle-arrow-right:before   { content: "\f0a9"; }
.icon-circle-arrow-up:before      { content: "\f0aa"; }
.icon-circle-arrow-down:before    { content: "\f0ab"; }
.icon-globe:before                { content: "\f0ac"; }
.icon-wrench:before               { content: "\f0ad"; }
.icon-tasks:before                { content: "\f0ae"; }

.icon-filter:before               { content: "\f0b0"; }
.icon-briefcase:before            { content: "\f0b1"; }
.icon-fullscreen:before           { content: "\f0b2"; }

.icon-group:before                { content: "\f0c0"; }
.icon-link:before                 { content: "\f0c1"; }
.icon-cloud:before                { content: "\f0c2"; }
.icon-beaker:before               { content: "\f0c3"; }
.icon-cut:before                  { content: "\f0c4"; }
.icon-copy:before                 { content: "\f0c5"; }
.icon-paper-clip:before           { content: "\f0c6"; }
.icon-save:before                 { content: "\f0c7"; }
.icon-sign-blank:before           { content: "\f0c8"; }
.icon-reorder:before              { content: "\f0c9"; }
.icon-list-ul:before              { content: "\f0ca"; }
.icon-list-ol:before              { content: "\f0cb"; }
.icon-strikethrough:before        { content: "\f0cc"; }
.icon-underline:before            { content: "\f0cd"; }
.icon-table:before                { content: "\f0ce"; }

.icon-magic:before                { content: "\f0d0"; }
.icon-truck:before                { content: "\f0d1"; }
.icon-pinterest:before            { content: "\f0d2"; }
.icon-pinterest-sign:before       { content: "\f0d3"; }
.icon-google-plus-sign:before     { content: "\f0d4"; }
.icon-google-plus:before          { content: "\f0d5"; }
.icon-money:before                { content: "\f0d6"; }
.icon-caret-down:before           { content: "\f0d7"; }
.icon-caret-up:before             { content: "\f0d8"; }
.icon-caret-left:before           { content: "\f0d9"; }
.icon-caret-right:before          { content: "\f0da"; }
.icon-columns:before              { content: "\f0db"; }
.icon-sort:before                 { content: "\f0dc"; }
.icon-sort-down:before            { content: "\f0dd"; }
.icon-sort-up:before              { content: "\f0de"; }

.icon-envelope-alt:before         { content: "\f0e0"; }
.icon-linkedin:before             { content: "\f0e1"; }
.icon-undo:before                 { content: "\f0e2"; }
.icon-legal:before                { content: "\f0e3"; }
.icon-dashboard:before            { content: "\f0e4"; }
.icon-comment-alt:before          { content: "\f0e5"; }
.icon-comments-alt:before         { content: "\f0e6"; }
.icon-bolt:before                 { content: "\f0e7"; }
.icon-sitemap:before              { content: "\f0e8"; }
.icon-umbrella:before             { content: "\f0e9"; }
.icon-paste:before                { content: "\f0ea"; }
.icon-lightbulb:before            { content: "\f0eb"; }
.icon-exchange:before             { content: "\f0ec"; }
.icon-cloud-download:before       { content: "\f0ed"; }
.icon-cloud-upload:before         { content: "\f0ee"; }

.icon-user-md:before              { content: "\f0f0"; }
.icon-stethoscope:before          { content: "\f0f1"; }
.icon-suitcase:before             { content: "\f0f2"; }
.icon-bell-alt:before             { content: "\f0f3"; }
.icon-coffee:before               { content: "\f0f4"; }
.icon-food:before                 { content: "\f0f5"; }
.icon-file-alt:before             { content: "\f0f6"; }
.icon-building:before             { content: "\f0f7"; }
.icon-hospital:before             { content: "\f0f8"; }
.icon-ambulance:before            { content: "\f0f9"; }
.icon-medkit:before               { content: "\f0fa"; }
.icon-fighter-jet:before          { content: "\f0fb"; }
.icon-beer:before                 { content: "\f0fc"; }
.icon-h-sign:before               { content: "\f0fd"; }
.icon-plus-sign-alt:before        { content: "\f0fe"; }

.icon-double-angle-left:before    { content: "\f100"; }
.icon-double-angle-right:before   { content: "\f101"; }
.icon-double-angle-up:before      { content: "\f102"; }
.icon-double-angle-down:before    { content: "\f103"; }
.icon-angle-left:before           { content: "\f104"; }
.icon-angle-right:before          { content: "\f105"; }
.icon-angle-up:before             { content: "\f106"; }
.icon-angle-down:before           { content: "\f107"; }
.icon-desktop:before              { content: "\f108"; }
.icon-laptop:before               { content: "\f109"; }
.icon-tablet:before               { content: "\f10a"; }
.icon-mobile-phone:before         { content: "\f10b"; }
.icon-circle-blank:before         { content: "\f10c"; }
.icon-quote-left:before           { content: "\f10d"; }
.icon-quote-right:before          { content: "\f10e"; }

.icon-spinner:before              { content: "\f110"; }
.icon-circle:before               { content: "\f111"; }
.icon-reply:before                { content: "\f112"; }
.icon-github-alt:before           { content: "\f113"; }
.icon-folder-close-alt:before     { content: "\f114"; }
.icon-folder-open-alt:before      { content: "\f115"; }