
            /* Header Logo */




        header div.logo > a, .ie8 header div.logo > a {

            width: 420px;

            height: 75px;

            background: transparent url(https://www.bressmanlaw.com/wp-content/uploads/2013/08/BressmanLogo-420px.png) center center no-repeat;

        }



        @media only screen and (-webkit-min-device-pixel-ratio: 1.5) {

            header div.logo > a, .ie8 header div.logo > a {

                background-image: url(https://www.bressmanlaw.com/wp-content/uploads/2013/08/BressmanLogo1.png);

                background-size: 420px 75px;

            }

        }






        @media screen and (max-width: 767px) {

            header div.logo > a {

                width: 160px;

                height: 36px;

                background-image: url(https://www.bressmanlaw.com/wp-content/uploads/2013/08/BressmanLogo-160px.png);

            }

        }



        @media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 767px) {

            header div.logo > a {

                background-image: url(https://www.bressmanlaw.com/wp-content/uploads/2013/08/BressmanLogo-420px1.png);

                background-size: 160px 36px;

            }

        }

 a, a:visited, .widget_rss h3 a:hover, body a:hover, body a:visited:hover, .main .tabs > li > a, .tabs > li > a, blockquote, span.pullquote, div.video-embed-shortcode:hover, div#map_canvas:hover, div.recent-posts-carousel h5 a:hover, div.recent-posts-carousel article.item div.description a, div.recent-posts-carousel  article.item div.description a:visited, ul#filters li div:hover, article.item div.description a:hover, .comment a, .comment a:visited, .comment a:hover, .comment .message a.reply:hover, .paginators ul.page-numbers li a.prev:hover, .paginators ul.page-numbers li a.next:hover {

            /*  color: ; */

        }



        html.no-touch span.image-overlay, div.video-embed-shortcode:hover, div#map_canvas:hover {

            /*  border-color: ; */

        }



        a.image-link span.overlay-thumbnail {

            /*  background : ; */

        }



        input:focus, textarea:focus, .search-widget > form.search-form > fieldset.has-focus {

            /*  border-color: rgba(, , , 0.8);*/

            /*  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(, , , 0.6);*/

            /*  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(, , , 0.6);*/

            /*   box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(, , , 0.6);*/

        }



        .search-widget > form.search-form > fieldset.has-focus button {

            /*     border-color: rgba(, , , 0.8);*/

        }

        html{background: #a9a49a;}html.std-selector body span.call-us-button a.btn { background-color: #3F3F3F;}div.menu-wrapper { background-color: #e66e0f;}ul.topmenu li a strong { color:#f5f5f5;}div.menu-wrapper ul.topmenu > li:hover > a strong, div.menu-wrapper ul.topmenu > li.sfHover > a strong { color:#ffffff;}div.prime-page h1, div.prime-page h2, div.prime-page h3, div.prime-page h4, div.prime-page h5, div.prime-page h6 { color:#3F3F3F;}div.prime-page a, div.prime-page a:hover, div.prime-page a:visited { color:#848077;}div.divider {border-top-color: #848077;}div#sidebar > article > div.sidebar-widget > h3 { color:#848077;}html.std-selector body div#sidebar a, html.std-selector body div#sidebar p a, html.std-selector body div#sidebar .widget p a, html.std-selector body div#sidebar a:hover, html.std-selector body div#sidebar p a:hover, html.std-selector body div#sidebar .widget p a:hover, html.std-selector body div#sidebar a:active, html.std-selector body div#sidebar p a:active, html.std-selector body div#sidebar .widget p a:active, html.std-selector body div#sidebar a:visited, html.std-selector body div#sidebar p a:visited, html.std-selector body div#sidebar .widget p a:visited { color:#848077;}


                 div[role="document"] {

                font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

            }

             div[role="document"] {

                font-size: 15px;

            }

h1, h2, h3, h4, span.pullquote, blockquote, .dropcap {
    font-family: "Open Sans";
    line-height:1.3em;
}

ul.topmenu > li {
    margin-left: 0;
}

ul.topmenu > li > a {
    padding-left: 11.5px;
    padding-right: 11.5px;
font-size:16px;
}



html.skin-grey body span.call-us-button a.btn:hover {
    background-color: #E66E0F;
}


html.skin-grey div.header-bg-fill {
    background: radial-gradient(ellipse farthest-corner at center center , #D7D1C3 0%, #6C6961 100%) repeat scroll 0 0 transparent;
}


html {
    background: none repeat scroll 0 0 #3F3F3F;
}


footer {
    background: none repeat scroll 0 0 #1C1C1C;
    text-shadow: none;
    color: #F5F5F5;
}


footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
    color: #CCCCCC;
}

#lefthalf {
float: left;
}

#righthalf {
float:right;
}




input, textarea, select, .uneditable-input {
    width: 300px;
}

div#subheader h1 {
    margin: 0;
}

div#sidebar > article > div.sidebar-widget > h3 {
    font-family: "Open Sans";
    font-size:15px;
    font-weight:600;
}

.container_12 .grid_12 {
    height: 60px;
}


div#subheader {
    margin-top: 10px;
}


#testimonial {
    background-color: #9D998E;
    color: #ffffff;
    margin-top: 10px;
    padding: 20px;
font-size:14px;
font-weight:500;
border:1px solid #3F3F3F;
}

html.skin-grey ul.topmenu ul.sub-menu li.sfHover > a, html.no-touch.skin-grey div.menu-wrapper ul.topmenu ul.sub-menu li:hover > a {
    background-color: #3f3f3f;
}


input:invalid, textarea:invalid {
    background-color: #F1D5BF;
}


input:valid, textarea:valid {
    background-color: #eeeeee;
}


h1, h2, h3, h4, span.pullquote, blockquote, .dropcap {
    font-family: "Open Sans";
    font-weight: bold;
}


div.header-content {
    float: right;
    list-style: none outside none;
    margin: 15px 0 0;
    padding: 0 0 1px 19px;
}


header .logo {
    display: inline-block;
    float: left;
    margin-bottom: 15px;
    width: 420px;
}

div#sidebar {
    padding: 0 25px 0 30px;
}

div#subheader h1 {
     font-size:26px;
}

/*
WisdmLabs changes start

Added code for hiding free book image in the widget for the free books page
*/

body.free-book #wdm-free-book-img{
display: none;
}






