/**********************************************************************************
Working CSS File
Styles should be added here when SCSS is unavailable and then added to the main SCSS
structure as soon as possible.
***********************************************************************************/


div#custom_html-3:after {
    content: '';
    display: table;
    clear: both;
}

div#custom_html-3 {
	box-shadow: none;
}


.entry-content h2 {
	clear: both;
}
.page-featured-image {
    margin-right: 20px;
    margin-bottom: 20px;
}


@media screen and (max-width: 768px) {
	.wsp-pages-list li {
		margin: 12px 0;
	}
}