*{
    margin: 0;
    padding: 0;
    outline: none;
}

body{
    font-size: 1rem;
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
}

a{
    color: #375d82;
}

.site-header{
    z-index: 10;
}

.site-inner{
    max-width: 1400px;
}

header.header .row{
    max-width: 1400px;
}

body.home .site-inner{
    max-width: 100%;
    padding: 0px;
}

body.home .content-sidebar-wrap{
    display: block;
}

header.header{
    position: fixed;
    display: block;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.4);
    padding: 10px 0px;
    transition: all .3s;
    z-index: 999;
}

body.admin-bar header.header{
    top: 32px;
}

.headerPhone{
    display: block;
    position: relative;
    text-align: right;
    margin-top: 0px;
}

.headerPhone a{
    color: #fff;
    font-size: 1.5rem;
}

.headerPhone span.hPtext{
    color: #6d7780;
    font-size: 1rem;
}

.middleHeader{
    padding-bottom: 10px;
}

.headerNav{
    display: block;
    position: relative;
    text-align: right;
}

.nav.top-nav li:hover a{
    background-color: #333;
}

.menu-item-2159 .sub-menu, .dynamic-sub-menu{
    width: auto !important;
}

.nav li.menu-item-2159 ul.sub-menu{
    list-style-position: inside;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    margin-left: 0px !important;
}

.nav.top-nav ul{
    background-color: #333;
}

.nav li ul.sub-menu li a, .nav li ul.children li a{
    width: auto;
    min-width: 220px;
    max-width: 220px;
}

.nav li ul.sub-menu li{
    width: 100%;
    display: block;
}

.nav li ul.sub-menu li a{
    text-align: left;
    font-size: 0.8rem;
    font-weight: 400;
}

.nav li ul.sub-menu li a::after{
    display: none;
}

.nav.top-nav li a{
    position: relative;
    font-size: .85rem;
}

.nav.top-nav li{
    position: relative;
}

.nav.top-nav li.menu-item-has-children a::after{
    display: inline-block;
    position: relative;
    content: '';
    width: 7px;
    height: 14px;
    background: url('../images/triangleDown.svg') no-repeat center;
    background-size: 7px 7px;
    top: 1px;
    right: -3px;
    color: #fff;
    background-color: transparent;
    font-size: 0.55rem;
    margin-left: 4px;
    transition: all .3s;
}

.nav.top-nav li.menu-item-has-children:hover a::after{
    transform: rotate(180deg);
    color: #e46a10;
}

.nav.top-nav li:hover a{
    color: #e46a10;
}

.nav.top-nav li ul.sub-menu a::after{
    display: none;
}

.nav.top-nav li ul.sub-menu a{
    color: #fff;
    display: block;
}

.menu-item-28 .sub-menu{
    width: auto !important;
}

.nav.top-nav li ul.sub-menu a:hover{
    color: #e46a10;
}

header.header.solidBg,
header.header.solidBgInner{
    background-color: #1e2e41;
}

.homeBanner{
    display: block;
    position: relative;
	background: url(/wp-content/uploads/2020/01/davidbressman-home-hero-bg-min-scaled.jpg) no-repeat center top;
/*     background: url('../images/homepage/homepage-top-bg.jpg') no-repeat center top; */
    background-size: cover;
    width: 100%;
    height: 829px;
    min-height: 10px;
    z-index: 1;
}

.homeBanner::before{
    display: block;
    position: absolute;
/*     content: ''; */
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    top: 0px;
    left: 0px;
    z-index: 1;
}

.latestTestimonial{
    display: block;
    position: relative;
    padding-top: 165px;
}
@media screen and (max-width: 768px) {
	.homeBanner {
		height: auto;
		background: url('../images/homepage/homepage-top-bg.jpg') no-repeat center top;
	}
	.homeBanner::before {
		content: '';
	}
	
	
}

@media screen and (max-width: 1200px) {
	body .tmText,
	body .tmName {
		padding-left: 0;
		padding-right: 0;
	}
}

.homeBanner .container{
    position: relative;
    z-index: 2;
}



.site_logo img {
	height: 50px;
}

.tmText{
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 2rem;
    font-style: italic;
    line-height: 2rem;
    color: #fff;
    padding: 0px 300px;
    text-align: justify;
}

.tmName{
    display: block;
    text-align: right;
    color: #fff;
    font-size: 1rem;
    padding: 20px 300px;
}

.attorneyLeft{
    text-align: left;
    position: relative;
}

.attorneyRight{
    text-align: right;
    position: relative;
}

.attorneyRight img{
    position: relative;
    bottom: 0px;
}

.attorneysPhotos{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.attorneyMiddle{
    padding-bottom: 100px;
    text-align: center;
}

.attorneyBlock{
    width: 33.3333%;
}

.testimonialsViewAllLink{
    display: block;
    position: relative;
    padding-bottom: 50px;
}

.homepage-section-2__content{
    display: block;
    font-size: 0.9rem;
}

span.homepage-section-2__subtitle{
    font-weight: 500;
    font-size: 1.6rem;
}

input.wpcf7-form-control.wpcf7-submit{
    padding: 0px;
    background-color: transparent;
}

.button-orange{
    padding: 20px 20px;
    width: auto;
    height: auto;
    border: none;
}

.button-orange.button .text-outer br{
    display: none;
}

.button-orange.button p{
    margin: 0px;
}

.homepage-section-5{
    margin-top: -50px;
}

.height{
    display: block;
    position: relative;
    height: 100px;
}

.section4,
.section6{
    position: relative;
    background-color: #f3f3f3;
    z-index: 10;
}

.section4{
    z-index: 99;
}

.site-footer{
    background-color: transparent;
    padding: 0px;
}

.page-footer__contact-form-wrapper .col-md-6 .wpcf7-form-control-wrap{
    display: block;
    position: relative;
    margin-bottom: 20px;
}

.page-footer__contact-form-wrapper .button-orange.button{
    width: 100%;
    padding: 10px 20px;
    margin-top: 20px;
}

.page-footer__contact-form-wrapper textarea{
    height: 100px;
    min-height: 105px;
}

.widget-wrap input,
.widget-wrap textarea{
    margin-bottom: 15px;
}

.widget-wrap .text-inner input{
    margin: 0;
}

.widget-wrap{
    padding: 0px !important;
}

p#breadcrumbs{
    font-size: 1rem;
    margin-top: 20px;
}

.innerPage{
    display: block;
    position: relative;
    margin-top: 40px;
}

.page-template-testimonials p.review-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 5px;
    font-size: 1rem;
}

.page-template-testimonials img.single-review-image {
    float: left;
    margin-right: 30px;
}

.widget{
    box-shadow: none;
}

#custom_html-3 .widget-title{
    background-color: transparent;
    color: #0c2a3a;
}

.location-widget-title{
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    border-radius: 8px 8px 0 0;
    font-family: "Cormorant Garamond", sans-serif;
    padding: 10px 15px;
    color: #fff;
    background: #e46a10;
    border-bottom: 1px solid #0e151e;
}

li.single-location-link{
	display: block;
    position: relative;
}

li.single-location-link:last-child{
    overflow: hidden;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

li.single-location-link a{
	display: inherit;
    background-color: #1e2e41 !important;
    color: #fff !important;
}

li.single-location-link a:hover{
    background-color: #0e151e !important;
}

.entry-content p.rs-related-link-block,
.entry-content p.rs-content-cta{
    background-color: #e46a10;
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
}

.entry-content p.rs-related-link-block a,
.entry-content p.rs-content-cta a{
    color: #fff;
    text-decoration: underline;
}

.entry-content p.rs-related-link-block a:hover,
.entry-content p.rs-content-cta a:hover{
    text-decoration: none;
}

body.page-template-default .entry-content{
    margin-top: 40px;
}

.content-sidebar-wrap{
    margin-top: 180px;
}

body.home .content-sidebar-wrap{
    margin-top: 0px;
}

h1.entry-title{
	display: block;
	margin-bottom: 20px;
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
}

.page-template-page-centered-title h1.entry-title{
    text-align: center;
}

.one-half h2,
.one-half h2 a{
    font-family: 'Oswald', sans-serif;
}

.homepage-section-2 .homepage-section-title__inner{
    font-size: 2.6rem;
}

span.homepage-section-2__subtitle{
    text-align: center;
}

body.page-template-faqs-fullwidth .content-sidebar-wrap .content{
    width: 100%;
}

body.page-template-faqs-fullwidth .content-sidebar-wrap{
    display: block;
}

.faqs_content{
    display: block;
    position: relative;
    min-height: 400px;
}

.faqs_content button{
    border-radius: 0px;
    background-color: transparent !important;
}

.faqs_content .filters-button-group{
    padding: 0 15px 5px !important;
}

.page-featured-image{
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

figure.single-entry-content-thumbnail{
    width: 200px;
}

figcaption{
    font-size: 0.7rem;
}

ul.bp_list,
ul.bp_list li{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#inner-footer .one-half input[type="email"].wpcf7-text,
#inner-footer .one-half input[type="text"].wpcf7-text{
    margin-bottom: 20px;
}

.faq-filter-list figure figcaption{
    display: none;
}

.homepage-section-2__row-2 .one-half input{
    margin-bottom: 25px;
}

.faq-filter-listing figure{
    margin: 0px !important;
}

.faq-filter-portfolio-wrapper .faq-filter-image-link img{
    width: 100%;
    height: 225px;
    object-fit: cover;
}

.faq-meta{
    text-align: center;
    font-size: 1rem;
}

.faq-meta a{
    font-size: 1rem !important;
}

.faq-page-listing{
    padding-bottom: 10px !important;
}

.location-widget-inner{
    padding: 0;
}

ul.location-widget-links.location-listing{
    margin: 0;
}

.widget-wrap h4.widget-title,
.widget_text h4.widget-title,
.location-widget-inner h4.widget-title{
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    border-radius: 8px 8px 0 0;
    font-family: "Cormorant Garamond",sans-serif;
    padding: 10px 15px;
    color: #fff;
    background: #e46a10;
    border-bottom: 1px solid #0e151e;
    margin-bottom: 0px;
}

.location-widget-outer h3.widgettitle{
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    border-radius: 8px 8px 0 0;
    font-family: "Cormorant Garamond",sans-serif;
    padding: 10px 15px;
    color: #fff;
    background: #e46a10;
    border-bottom: 1px solid #0e151e;
    margin-bottom: 0;
}

.entry-content img{
    padding: 0;
    height: 100% !important;
}

.entry{
    margin-bottom: 10px;
}

h1.homepageTitle{
    display: inline-block;
    margin: 0px;
}

.archive-entry-content-thumbnail {
    width: 170px;
    margin: 8px 20px 20px 0;
    height: 100px;
}






































@media screen and (max-width: 992px){
    .entry-content .row{
        padding-left: 15px;
        padding-right: 15px;
    }
    #inner-footer .row .row .row{
        padding-left: 0px;
        padding-right: 0px;
    }
    .page-footer__disclaimer-section{
        left: 0px;
        right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    #inner-footer .row{
        margin-left: 0px;
        margin-right: 0px;
    }
    .content-sidebar-wrap{
        margin-top: 40px;
    }
    button.mobile_btn{
        display: block;
        position: relative;
        padding: 0px 0px;
        background-color: transparent;
        color: #fff;
        margin: 0px;
        font-size: 1.5rem;
        border: none;
        text-align: center;
        width: 100%;
        outline: none;
    }
    a.mobile_btn{
        color: #fff;
        font-size: 1.5rem;
        display: block;
        text-align: center;
    }
    .mobile_menu_layer{
        display: block;
        position: fixed;
        width: 280px;
        height: 100%;
        top: 0px;
        right: 0px;
        background-color: #1e2e41;
        box-shadow: 0 0 4px #000;
        transition: all .3s;
        transform: translateX(calc(100% + 20px));
        z-index: 90;
    }
    .mobile_menu_layer.active{
        transform: translateX(0);
    }
    ul.menu-main-mobile{
        list-style-type: none;
        margin: 80px 0 0 0;
        padding: 0px;
        width: 100%;
        height: 80vh;
        overflow-y: auto;
    }
    ul.menu-main-mobile li{
        display: block;
    }
    ul.menu-main-mobile li a{
        display: block;
        color: #fff;
        text-decoration: none;
        font-size: 1.1rem;
        padding: 10px;
    }
    ul.menu-main-mobile li a:hover{
        background-color: rgba(0,0,0,0.2);
    }
    ul.menu-main-mobile li ul.sub-menu li a{
        padding: 5px 10px 5px 30px;
        font-size: .8rem;
        opacity: .7;
    }
    .attorneysPhotos{
        display: block;
    }
    .attorneyBlock{
        width: 100%;
    }
    .attorneyBlock.attorneyLeft,
    .attorneyBlock.attorneyRight{
        display: none;
    }
    p{
        font-size: 1.2rem;
    }
    .single-review{
        text-align: center;
        border-bottom: 1px solid #ccc;
        margin-bottom: 40px;
    }
    .review-date{
        margin-bottom: 20px;
    }
    .faq-filter-portfolio-wrapper .faq-filter-listing{
        position: relative;
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 40px;
    }
    .faq-filter-list{
        display: block;
        position: relative;
        padding-top: 40px;
        margin-top: 40px;
    }
    .faq-filter-list figure.single-entry-content-thumbnail{
        width: 100%;
        display: block;
        margin: 0px;
    }
    .entry-content .page-featured-image,
    .entry-content .page-featured-image img,
    .entry-content img.alignright, .entry-content img.alignleft{
        width: 100%;
    }
    .entry-content a{
        font-size: 1.2rem;
    }
    .entry-content .bp_list li{
        display: block;
        margin: 20px 0px;
    }
    .page-template-testimonials p.review-content{
        display: block;
        font-size: 1.2rem;
    }
    table{
        display: block;
    }
    .entry-content ul.attorney-list{
        margin: 0px;
        padding: 0px;
    }
}
div.wpcf7-validation-errors, div.wpcf7-acceptance-missing{
	color: #ffffff;
}
#wpcf7-f37-o2 input.wpcf7-form-control.wpcf7-submit, #wpcf7-f2412-o2 .wpcf7-form-control.wpcf7-submit{
	background: #e46a10!important;
    display: block!important;
    padding: 10px 30px !important;
    margin: 0 auto!important;
}
.wpcf7-form-control-wrap{
	margin-bottom: 15px
}
.wpcf7-form-control-wrap input, .wpcf7-form-control-wrap textarea{
	margin-bottom: 0;
}
#inner-footer .one-half input[type=email].wpcf7-text, #inner-footer .one-half input[type=text].wpcf7-text{
	margin-bottom: 0;
}
div.wpcf7-validation-errors, div.wpcf7-acceptance-missing{
	margin-top: 10px;
}
.homepage-section-2__row-2 .one-half input{
	margin-bottom: 0;
}
.homepage-section-2__row-2 .one-half{
	margin-bottom: 25px;
}
