<h1 id="changelog">Changelog</h1>
<p>All notable changes to this project will be documented in this file.</p>
<h2 id="-unreleased-unreleased-">[Unreleased][unreleased]</h2>
<ul>
<li><h2 id="2-0-8-2015-06-01">2.0.8 - 2015-06-01</h2>
</li>
</ul>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li>Fix color-picker field not enqueueing the colorpicker script. (<a href="https://github.com/WebDevStudios/CMB2/issues/333">#333</a>)</li>
</ul>
<h2 id="2-0-7-2015-05-28">2.0.7 - 2015-05-28</h2>
<h3 id="enhancements">Enhancements</h3>
<ul>
<li>Ability to use non-repeatable group fields by setting the <code>&#39;repeatable&#39;</code> field param to <code>false</code> when registering a group field type. Props <a href="https://github.com/marcusbattle">marcusbattle</a>, (<a href="https://github.com/WebDevStudios/CMB2/pull/159">#159</a>).</li>
<li>Add and enqeueue a front-end specific CSS file which adds additional styles which are typically covered by wp-admin css. (<a href="https://github.com/WebDevStudios/CMB2/issues/311">#311</a>)</li>
<li>Better handling of the CMB2 javascript (and CSS) required dependencies array. Dependencies are now only added conditionally based on the field types that are actually visible. (<a href="https://github.com/WebDevStudios/CMB2/issues/136">#136</a>)</li>
<li><strong>THIS IS A BREAKING CHANGE:</strong> The <code>group</code> field type&#39;s <code>&#39;show_on_cb&#39;</code> property now receives the <code>CMB2_Field</code> object instance as an argument instead of the <code>CMB2</code> instance. If you&#39;re using the <code>&#39;show_on_cb&#39;</code> property for a <code>group</code> field, please adjust accordingly. <em>note: you can still retrieve the <code>CMB2</code> instance via the <code>cmb2_get_metabox</code> helper function.</em></li>
<li>New dynamic hook, <code>&quot;cmb2_save_{$object_type}_fields_{$this-&gt;cmb_id}&quot;</code>, to complement the existing <code>&quot;cmb2_save_{$object_type}_fields&quot;</code> hook.</li>
<li>New CMB2 property, <code>enqueue_js</code>, to disable the enqueueing of the CMB2 Javascript.</li>
<li>German translation provided by Friedhelm Jost.</li>
</ul>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li>Fix incorrect repeatable group title number. (<a href="https://github.com/WebDevStudios/CMB2/pull/310">#310</a>)</li>
<li>Fix obscure bug which prevented group field arguments from being passed to the sub-fields (like <code>show_names</code> and <code>context</code>).</li>
<li>Fixed occasional issue when adding a group row, the previous row&#39;s content would be cloned. (<a href="https://github.com/WebDevStudios/CMB2/pull/257">#257</a>)</li>
</ul>
<h2 id="2-0-6-2015-04-30">2.0.6 - 2015-04-30</h2>
<h3 id="enhancements">Enhancements</h3>
<ul>
<li>New metabox/form parameter, <code>show_on_cb</code>, allows you to conditionally display a cmb metabox/form via a callback. The <code>$cmb</code> object gets passed as a parameter to the callback. This complements the <code>&#39;show_on_cb&#39;</code> parameter that already exists for individual fields. Using this callback is similar to using the <code>&#39;cmb2_show_on&#39;</code> filter, but only applies to that specific metabox and it is recommended to use this callback instead as it minimizes th risk that your filter will affect other metaboxes.</li>
<li>Taxonomy types no longer save a value. The value getting saved was causing confusion and is not meant to be used. To use the saved taxonomy data, you need to use the WordPress term api, <code>get_the_terms</code>, <code>get_the_term_list</code>, etc.</li>
<li>Add <code>&#39;multiple&#39;</code> field parameter to store values in individual rows instead of serialized array. Will only work if field is not repeatable or a repeatable group. Props <a href="https://github.com/JohnyGoerend">JohnyGoerend</a>. (<a href="https://github.com/WebDevStudios/CMB2/pull/262">#262</a>, <a href="https://github.com/WebDevStudios/CMB2/issues/206">#206</a>, <a href="https://github.com/WebDevStudios/CMB2/issues/45">#45</a>).</li>
<li>Portuguese (Brazil) translation provided by <a href="https://github.com/lucascdsilva">@lucascdsilva</a> - <a href="https://github.com/WebDevStudios/CMB2/pull/293">#293</a>.</li>
<li>Spanish (Spain) translation updated by <a href="https://github.com/yivi">@yivi</a> - <a href="https://github.com/WebDevStudios/CMB2/pull/272">#272</a>.</li>
<li>Added group field callback parameters, <code>&#39;before_group&#39;</code>, <code>&#39;before_group_row&#39;</code>, <code>&#39;after_group_row&#39;</code>, <code>&#39;after_group&#39;</code> to complement the <code>&#39;before_row&#39;</code>, <code>&#39;before&#39;</code>, <code>&#39;after&#39;</code>, <code>&#39;after_row&#39;</code> field parameters.</li>
<li>Better styling for <code>title</code> fields and <code>title</code> descriptions on options pages.</li>
<li>Add a <code>sanitization_cb</code> field parameter check for the <code>group</code> field type.</li>
<li>Better function/file doc-blocks to provide better documentation for automated documentation tools. See: <a href="http://cmb2.io/api/">cmb2.io/api</a>.</li>
<li><code>cmb2_print_metabox_form</code>, <code>cmb2_metabox_form</code>, and <code>cmb2_get_metabox_form</code> helper functions now accept two new parameters:<ul>
<li>an <code>&#39;object_type&#39;</code> parameter to explictly set that in the <code>$cmb</code> object.</li>
<li>an <code>&#39;enqueue_js&#39;</code> parameter to explicitly disable the CMB JS enqueue. This is handy if you&#39;re not planning on using any of the fields which require JS (like color/date pickers, wysiwyg, file, etc).</li>
</ul>
</li>
</ul>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li>Fix issue with oembed fields in repeatable groups where changing video changed it for all fields in a group.</li>
<li>Fix empty arrays (like in the group field) saving as a value.</li>
<li>Move <code>&#39;cmb2_override_meta_value&#39;</code> and <code>&quot;cmb2_override_{$field_id}_meta_value&quot;</code> filters to the <code>CMB2_Field::get_data()</code> method so that the filters are applied every time the data is requested. <strong>THIS IS A BREAKING CHANGE:</strong> The parameters for those filters have changed a bit. Previously, the filters accepted 5 arguments, <code>$value</code>, <code>$object_id</code>, <code>$field_args</code>, <code>$object_type</code>, <code>$field</code>. They have changed to accept 4 arguments instead, <code>$value</code>, <code>$object_id</code>, <code>$args</code>, <code>$field</code>, where <code>$args</code> is an array that contains the following:<ul>
<li>@type string $type     The current object type</li>
<li>@type int    $id       The current object ID</li>
<li>@type string $field_id The ID of the field being requested</li>
<li>@type bool   $repeat   Whether current field is repeatable</li>
<li>@type bool   $single   Whether current field is a single database row</li>
</ul>
</li>
</ul>
<h2 id="2-0-5-2015-03-17">2.0.5 - 2015-03-17</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li>Fix grouped fields display (first field was being repeated), broken in 2.0.3.</li>
</ul>
<h2 id="2-0-4-2015-03-16">2.0.4 - 2015-03-16</h2>
<h3 id="enhancements">Enhancements</h3>
<ul>
<li><code>select</code>, <code>radio</code>, <code>radio_inline</code> field types now all accept the <code>&#39;show_option_none&#39;</code> field parameter. This parameter allows you to set the text to display for showing a &#39;no selection&#39; option. Default will be <code>false</code>, which means a &#39;none&#39; option will not be added. Set to <code>true</code> to use the default text, &#39;None&#39;, or specify another value, i.e. &#39;No selection&#39;.</li>
</ul>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li>Fix back-compatibility when adding group field sub-fields via old array method (vs using the <code>CMB2:add_group_field()</code> method). Thanks to <a href="https://github.com/norcross">norcross</a> for reporting.</li>
<li>Fix occasional jQuery issues with group-field indexes.</li>
</ul>
<h2 id="2-0-3-2015-03-15">2.0.3 - 2015-03-15</h2>
<h3 id="enhancements">Enhancements</h3>
<ul>
<li>New constant, <code>CMB2_DIR</code>, which stores the file-path to the CMB2 directory.</li>
<li><code>text_date</code>, <code>text_time</code>, <code>text_date_timestamp</code>, <code>text_datetime_timestamp</code>, and <code>text_datetime_timestamp_timezone</code> field types now take an arguments array so they can be extended by custom field types.</li>
<li>Removed auto-scroll when adding groups. To re-add the feature, use the <a href="https://github.com/WebDevStudios/CMB2-Snippet-Library/blob/master/javascript/cmb2-auto-scroll-to-new-group.php">snippet/plugin here</a>. (<a href="https://github.com/WebDevStudios/CMB2/issues/205">#205</a>)</li>
<li>Updated Timepicker utilizing the <a href="https://github.com/trentrichardson">@trentrichardson</a> jQuery Timepicker add-on (<a href="https://github.com/trentrichardson/jQuery-Timepicker-Addon">https://github.com/trentrichardson/jQuery-Timepicker-Addon</a>), and updated Datepicker styles. Props <a href="https://github.com/JonMasterson">JonMasterson</a>. (<a href="https://github.com/WebDevStudios/CMB2/issues/204">#204</a>, <a href="https://github.com/WebDevStudios/CMB2/issues/206">#206</a>, <a href="https://github.com/WebDevStudios/CMB2/issues/45">#45</a>).</li>
<li>Added a callback option for the field default value. The callback gets passed an array of all the field parameters as the first argument, and the field object as the second argument. (which means you can get the post id using <code>$field-&gt;object_id</code>). (<a href="https://github.com/WebDevStudios/CMB2/issues/233">#233</a>).</li>
<li>New <code>CMB2::get_field()</code> method and <code>cmb2_get_field</code> helper function for retrieving a <code>CMB2_Field</code> object from the array of registered fields for a metabox.</li>
<li>New <code>CMB2::get_sanitized_values()</code> method and <code>cmb2_get_metabox_sanitized_values</code> helper function for retrieving sanitized values from an array of values (usually <code>$_POST</code> data).</li>
<li>New <code>&#39;save_fields&#39;</code> metabox property that can be used to disable (by setting <code>&#39;save_fields&#39; =&gt; false</code>) the automatic saving of the fields when the form is submitted. These can be useful when you want to handle the saving of the fields yourself, or want to use submitted data for other purposes like generating new posts, or sending emails, etc.</li>
</ul>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li>Fix commented out text_datetime_timestamp_timezone field registration example in <code>example-functions.php</code>. Props <a href="https://github.com/cliffordp">cliffordp</a>, (<a href="https://github.com/WebDevStudios/CMB2/pull/203">#203</a>).</li>
<li>Fix sidebar styling for money fields and fields with textareas. (<a href="https://github.com/WebDevStudios/CMB2/issues/234">#234</a>)</li>
<li>Fix <code>CMB2_Sanitize</code> class to properly use the stripslashed value (which was added in <a href="https://github.com/WebDevStudios/CMB2/pull/162">#162</a> but never used). Props <a href="https://github.com/dustyf">dustyf</a>, (<a href="https://github.com/WebDevStudios/CMB2/pull/241">#241</a>).</li>
</ul>
<h2 id="2-0-2-2015-02-15">2.0.2 - 2015-02-15</h2>
<h3 id="enhancements">Enhancements</h3>
<ul>
<li>Use the more appropriate <code>add_meta_boxes</code> hook for hooking in metaboxes to post-edit screen. Thanks <a href="https://github.com/inspiraaz">@inspiraaz</a> for reporting. (<a href="https://github.com/WebDevStudios/CMB2/issues/161">#161</a>)</li>
<li>Add a <code>row_classes</code> field param which allows you to add additional classes to the cmb-row wrap. This parameter can take a string, or array, or can take a callback that returns a string or array. The callback will receive <code>$field_args</code> as the first argument, and the CMB2_Field <code>$field</code> object as the second argument. Reported/requested in <a href="https://github.com/WebDevStudios/CMB2/issues/68">#68</a>.</li>
<li>New constant, <code>CMB2_LOADED</code>, which you can use to check if CMB2 is loaded for your plugins/themes with CMB2 dependency.</li>
<li>New hooks, <a href="https://github.com/WebDevStudios/CMB2-Snippet-Library/blob/master/filters-and-actions"><code>cmb2_init_before_hookup</code> and <code>cmb2_after_init</code></a>.</li>
<li>New API for adding metaboxes and fields, demonstrated in <a href="https://github.com/WebDevStudios/CMB2/blob/master/example-functions.php"><code>example-functions.php</code></a>. In keeping with backwards-compatibility, the <code>cmb2_meta_boxes</code> filter method will still work, but is not recommended. New API includes <code>new_cmb2_box</code> helper function to generate a new metabox, and returns a <code>$cmb</code> object to add new fields (via the <code>CMB2::add_field()</code> and <code>CMB2::add_group_field()</code> methods).</li>
<li>New CMB2 method, <a href="https://github.com/WebDevStudios/CMB2-Snippet-Library/blob/master/filters-and-actions/cmb2_init_%24cmb_id-remove-field.php"><code>CMB2::remove_field()</code></a>.</li>
<li>New CMB2_Boxes method, <a href="https://github.com/WebDevStudios/CMB2-Snippet-Library/blob/master/filters-and-actions/cmb2_init_before_hookup-remove-cmb2-metabox.php"><code>CMB2_Boxes::remove()</code></a>.</li>
<li>When clicking on a file/image in the <code>file</code>, or <code>file_list</code> type, the media modal will open with that image selected. Props <a href="https://github.com/johnsonpaul1014">johnsonpaul1014</a>, (<a href="https://github.com/WebDevStudios/CMB2/pull/120">#120</a>).</li>
</ul>
<h2 id="2-0-1-2015-02-02">2.0.1 - 2015-02-02</h2>
<p>2.0.1 is the official version after beta, and includes all the changes from 2.0.0 (beta).</p>
<h2 id="2-0-0-beta-2014-08-16">2.0.0(beta) - 2014-08-16</h2>
<p>2.0.0 is the official version number for the transition to CMB2, and 2.0.1 is the official version after beta. It is a complete rewrite. Improvements and fixes are listed below. <strong>Note: This release requires WordPress 3.8+</strong></p>
<h3 id="enhancements">Enhancements</h3>
<ul>
<li>Converted <code>&lt;table&gt;</code> markup to more generic <code>&lt;div&gt;</code> markup to be more extensible and allow easier styling.</li>
<li>Much better handling and display of repeatable groups.</li>
<li>Entirely translation-ready <a href="http://wp-translations.org/project/cmb2/">with full translations</a> in Spanish, French (Props <a href="https://github.com/fredserva">@fredserva</a> - <a href="https://github.com/WebDevStudios/CMB2/pull/127">#127</a>), Finnish (Props <a href="https://github.com/onnimonni">@onnimonni</a> - <a href="https://github.com/WebDevStudios/CMB2/pull/108">#108</a>), Swedish (Props <a href="https://github.com/EyesX">@EyesX</a> - <a href="https://github.com/WebDevStudios/CMB2/pull/141">#141</a>), and English.</li>
<li>Add cmb fields to new user page. Props <a href="https://github.com/GioSensation">GioSensation</a>, (<a href="https://github.com/WebDevStudios/Custom-Metaboxes-and-Fields-for-WordPress/pull/645">#645</a>).</li>
<li>Improved and additional <a href="https://github.com/WebDevStudios/CMB2/blob/master/includes/helper-functions.php">helper-functions</a>.</li>
<li>Added new features and translation for datepicker. Props <a href="https://github.com/kalicki">kalicki</a>, (<a href="https://github.com/WebDevStudios/Custom-Metaboxes-and-Fields-for-WordPress/pull/657">#657</a>).</li>
<li>General code standards cleanup. Props <a href="https://github.com/gregrickaby">gregrickaby</a>, (<a href="https://github.com/WebDevStudios/CMB2/pull/17">#17</a> &amp; others).</li>
<li>Use SASS for development. Props <a href="https://github.com/gregrickaby">gregrickaby</a>, (<a href="https://github.com/WebDevStudios/CMB2/pull/18">#18</a>).</li>
<li>New <code>hidden</code> field type.</li>
<li><a href="https://github.com/WebDevStudios/CMB2/wiki/Tips-&amp;-Tricks#override-text-strings-in-field">Ability to override text strings in fields via field options parameter</a>.</li>
<li>Added composer.json. Props <a href="https://github.com/nlemoine">nlemoine</a>, (<a href="https://github.com/WebDevStudios/CMB2/pull/19">#19</a>).</li>
<li>New field &#39;hooks&#39; can take <a href="https://github.com/WebDevStudios/CMB2/wiki/Tips-&amp;-Tricks#inject-static-content-in-a-field">static text/html</a> or a <a href="https://github.com/WebDevStudios/CMB2/wiki/Tips-&amp;-Tricks#inject-dynamic-content-in-a-field-via-a-callback">callback</a>.</li>
<li>New <code>preview_size</code> parameter for <code>file</code> field type. Takes an array or named image size.</li>
<li>Empty index.php file to all folders (for more security). Props <a href="https://github.com/brunoramalho">brunoramalho</a>, (<a href="https://github.com/WebDevStudios/CMB2/pull/41">#41</a>).</li>
<li>Clean up styling. Props <a href="https://github.com/brunoramalho">brunoramalho</a>, (<a href="https://github.com/WebDevStudios/CMB2/pull/43">#43</a>) and <a href="https://github.com/senicar">senicar</a>.</li>
<li>Collapsible field groups. Props <a href="https://github.com/cluke009">cluke009</a>, (<a href="https://github.com/WebDevStudios/CMB2/pull/59">#59</a>).</li>
<li>Allow for override of update/remove for CMB2_Field. Props <a href="https://github.com/sc0ttkclark">sc0ttkclark</a>, (<a href="https://github.com/WebDevStudios/CMB2/pull/65">#65</a>).</li>
<li>Use class button-disabled instead of disabled=&quot;disabled&quot; for <a> buttons. Props <a href="https://github.com/sc0ttkclark">sc0ttkclark</a>, (<a href="https://github.com/WebDevStudios/CMB2/pull/66">#66</a>).</li>
<li><a href="https://github.com/WebDevStudios/CMB2/wiki/Tips-&amp;-Tricks#using-the-dynamic-beforeafter-form-hooks">New before/after dynamic form hooks</a>.</li>
<li>Larger unit test coverage. Props to <a href="https://github.com/pmgarman">@pmgarman</a> for assistance. (<a href="https://github.com/WebDevStudios/CMB2/pull/90">#90</a> and <a href="https://github.com/WebDevStudios/CMB2/pull/91">#91</a>)</li>
<li>Added helper function to update an option. Props <a href="https://github.com/mAAdhaTTah">mAAdhaTTah</a>, (<a href="https://github.com/WebDevStudios/CMB2/pull/110">#110</a>).</li>
<li>More JS hooks during repeat group shifting. Props <a href="https://github.com/AlchemyUnited">AlchemyUnited</a>, (<a href="https://github.com/WebDevStudios/CMB2/pull/125">#125</a>). </li>
<li><a href="https://github.com/WebDevStudios/CMB2/wiki/Tips-&amp;-Tricks#setting-a-metabox-to-closed-by-default">New metabox config option for defaulting to closed</a>.</li>
<li>New hooks, <a href="https://github.com/WebDevStudios/CMB2/wiki/Tips-&amp;-Tricks#using-cmb2-helper-functions-and-cmb2_init"><code>cmb2_init</code></a> and <code>cmb2_init_{$cmb_id}</code>.</li>
</ul>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li>New mechanism to ensure CMB2 only loads the most recent version of CMB2 in your system. This fixes the issue where another bundled version could conflict or take precendent over your up-to-date version.</li>
<li>Fix issue with field labels being hidden. Props <a href="https://github.com/mustardBees">mustardBees</a>, (<a href="https://github.com/WebDevStudios/CMB2/pull/48">#48</a>).</li>
<li>Address issues with autoloading before autoloader is setup. Props <a href="https://github.com/JPry">JPry</a>, (<a href="https://github.com/WebDevStudios/CMB2/pull/56">#56</a>).</li>
<li>Fixed &#39;show_on_cb&#39; for field groups. Props <a href="https://github.com/marcusbattle">marcusbattle</a>, (<a href="https://github.com/WebDevStudios/CMB2/pull/98">#98</a>).</li>
<li>Make get_object_terms work with and without object caching. Props <a href="https://github.com/joshlevinson">joshlevinson</a>, (<a href="https://github.com/WebDevStudios/CMB2/pull/105">#105</a>).</li>
<li>Don&#39;t use <code>__DIR__</code> in example-functions.php to ensure PHP 5.2 compatibility. Props <a href="https://github.com/bryceadams">bryceadams</a>, (<a href="https://github.com/WebDevStudios/CMB2/pull/129">#129</a>).</li>
<li>Added support for radio input swapping in repeatable fields. Props <a href="https://github.com/DevinWalker">DevinWalker</a>, (<a href="https://github.com/WebDevStudios/CMB2/pull/138">#138</a>, <a href="https://github.com/WebDevStudios/CMB2/pull/149">#149</a>).</li>
<li>Fix metabox form not being returned to caller. Props <a href="https://github.com/akshayagarwal">akshayagarwal</a>, (<a href="https://github.com/WebDevStudios/CMB2/pull/145">#145</a>).</li>
<li>Run stripslashes before saving data, since WordPress forces magic quotes. Props <a href="https://github.com/clifgriffin">clifgriffin</a>, (<a href="https://github.com/WebDevStudios/CMB2/pull/162">#162</a>).</li>
</ul>
<h2 id="1-3-0-never-released-merged-into-cmb2-">1.3.0 - (never released, merged into CMB2)</h2>
<h3 id="enhancements">Enhancements</h3>
<ul>
<li>Localize Date, Time, and Color picker defaults so that they can be overridden via the <code>cmb_localized_data</code> filter. (<a href="https://github.com/WebDevStudios/Custom-Metaboxes-and-Fields-for-WordPress/issues/528">#528</a>)</li>
<li>Change third parameter for &#39;cmb_metabox_form&#39; to be an args array. Optional arguments include <code>echo</code>, <code>form_format</code>, and <code>save_button</code>.</li>
<li>Add support for <code>show_option_none</code> argument for <code>taxonomy_select</code> and <code>taxonomy_radio</code> field types. Also adds the following filters: <code>cmb_all_or_nothing_types</code>, <code>cmb_taxonomy_select_default_value</code>, <code>cmb_taxonomy_select_{$this-&gt;_id()}_default_value</code>, <code>cmb_taxonomy_radio_{$this-&gt;_id()}_default_value</code>, <code>cmb_taxonomy_radio_default_value</code>. Props <a href="https://github.com/pmgarman">@pmgarman</a>, (<a href="https://github.com/WebDevStudios/Custom-Metaboxes-and-Fields-for-WordPress/pull/569">#569</a>).</li>
<li>Make the list items in the <code>file_list</code> field type drag &amp; drop sortable. Props <a href="https://github.com/twoelevenjay">twoelevenjay</a>, (<a href="https://github.com/WebDevStudios/Custom-Metaboxes-and-Fields-for-WordPress/pull/603">#603</a>).</li>
</ul>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li>Fixed typo in closing <code>&lt;/th&gt;</code> tag. Props <a href="https://github.com/CivicImages">@CivicImages</a>. (<a href="https://github.com/WebDevStudios/Custom-Metaboxes-and-Fields-for-WordPress/issues/616">#616</a>)</li>
</ul>
<h2 id="1-2-0-2014-05-03">1.2.0 - 2014-05-03</h2>
<h3 id="enhancements">Enhancements</h3>
<ul>
<li>Add support for custom date/time formats. Props <a href="https://github.com/Scrent">@Scrent</a>. (<a href="https://github.com/WebDevStudios/Custom-Metaboxes-and-Fields-for-WordPress/pull/506">#506</a>)</li>
<li>Simplify <code>wysiwyg</code> escaping and allow it to be overridden via the <code>escape_cb</code> parameter. (<a href="https://github.com/WebDevStudios/Custom-Metaboxes-and-Fields-for-WordPress/pull/491">#491</a>)</li>
<li>Add a &#39;Select/Deselect all&#39; button for the <code>multicheck</code> field type.</li>
<li>Add title option for <a href="https://github.com/WebDevStudios/CMB2/wiki/Field-Types#group">repeatable groups</a>. Title field takes an optional replacement hash, &quot;{#}&quot; that will be replaced by the row number.</li>
<li>New field parameter, <code>show_on_cb</code>, allows you to conditionally display a field via a callback. (<a href="https://github.com/WebDevStudios/Custom-Metaboxes-and-Fields-for-WordPress/issues/47">#47</a>)</li>
<li>Unit testing (the beginning). Props <a href="https://github.com/brichards">@brichards</a> and <a href="https://github.com/camdensegal">@camdensegal</a>.</li>
</ul>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li>Fixed issue where remove file button wouldn&#39;t clear the url field. (<a href="https://github.com/WebDevStudios/Custom-Metaboxes-and-Fields-for-WordPress/issues/514">#514</a>)</li>
<li><code>wysiwyg</code> fields now allow underscores. Fixes some wysiwyg display issues in WordPress 3.8. Props <a href="https://github.com/lswilson">@lswilson</a>. (<a href="https://github.com/WebDevStudios/Custom-Metaboxes-and-Fields-for-WordPress/issues/491">#491</a>)</li>
<li>Nonce field should only be added once per page. (<a href="https://github.com/WebDevStudios/Custom-Metaboxes-and-Fields-for-WordPress/issues/521">#521</a>)</li>
<li>Fix <code>in_array</code> issue when a post does not have any saved terms for a taxonomy multicheck. (<a href="https://github.com/WebDevStudios/Custom-Metaboxes-and-Fields-for-WordPress/issues/527">#527</a>)</li>
<li>Fixed error: &#39;Uninitialized string offset: 0 in cmb_Meta_Box_field.php...`. Props <a href="https://github.com/DevinWalker">@DevinWalker</a>. (<a href="https://github.com/WebDevStudios/Custom-Metaboxes-and-Fields-for-WordPress/issues/539">#539</a>, <a href="https://github.com/WebDevStudios/Custom-Metaboxes-and-Fields-for-WordPress/issues/549">#549</a>))</li>
<li>Fix missing <code>file</code> field description. (<a href="https://github.com/WebDevStudios/Custom-Metaboxes-and-Fields-for-WordPress/issues/543">#543</a>, <a href="https://github.com/WebDevStudios/Custom-Metaboxes-and-Fields-for-WordPress/issues/547">#547</a>)</li>
</ul>
<h2 id="1-1-3-2014-04-07">1.1.3 - 2014-04-07</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li>Update <code>cmb_get_field_value</code> function as it was passing the parameters to <code>cmb_get_field</code> in the wrong order.</li>
<li>Fix repeating fields not working correctly if meta key or prefix contained an integer. (<a href="https://github.com/WebDevStudios/Custom-Metaboxes-and-Fields-for-WordPress/issues/503">#503</a>)</li>
</ul>
<h2 id="1-1-2-2014-04-05">1.1.2 - 2014-04-05</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li>Fix issue with <code>cmb_Meta_Box_types.php</code> calling a missing method, <code>image_id_from_url</code>. (<a href="https://github.com/WebDevStudios/Custom-Metaboxes-and-Fields-for-WordPress/pull/502">#502</a>)</li>
</ul>
<h2 id="1-1-1-2014-04-03">1.1.1 - 2014-04-03</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li>Radio button values were not showing saved value. (<a href="https://github.com/WebDevStudios/Custom-Metaboxes-and-Fields-for-WordPress/issues/500">#500</a>)</li>
</ul>
<h2 id="1-1-0-2014-04-02">1.1.0 - 2014-04-02</h2>
<h3 id="enhancements">Enhancements</h3>
<ul>
<li><a href="https://github.com/WebDevStudios/CMB2/wiki/Field-Types#group">Repeatable groups</a></li>
<li>Support for more fields to be repeatable, including oEmbed field, and date, time, and color picker fields, etc.</li>
<li>Codebase has been revamped to be more modular and object-oriented. </li>
<li>New filter, <code>&quot;cmb_{$element}_attributes&quot;</code> for modifying an element&#39;s attributes.</li>
<li>Every field now supports an <code>attributes</code> parameter that takes an array of attributes. <a href="https://github.com/WebDevStudios/CMB2/wiki/Field-Types#attributes">Read more</a>.</li>
<li>Removed <code>cmb_std_filter</code> in favor of <code>cmb_default_filter</code>. <strong>THIS IS A BREAKING CHANGE</strong></li>
<li>Better handling of labels in sidebar. They are now placed on top of the input rather than adjacent.</li>
<li>Added i18n compatibility to text_money. props <a href="https://github.com/ArchCarrier">@ArchCarrier</a>, (<a href="https://github.com/WebDevStudios/Custom-Metaboxes-and-Fields-for-WordPress/pull/485">#485</a>)</li>
<li>New helper functions: <code>cmb_get_field</code> and <code>cmb_get_field_value</code> for getting access to CMB&#39;s field object and/or value.</li>
<li>New JavaScript events, <code>cmb_add_row</code> and <code>cmb_remove_row</code> for hooking in and manipulating the new row&#39;s data.</li>
<li>New filter, <code>cmb_localized_data</code>, for modifiying localized data passed to the CMB JS.</li>
</ul>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li>Resolved occasional issue where only the first character of the label/value was diplayed. props <a href="https://github.com/mustardBees">@mustardBees</a>, (<a href="https://github.com/WebDevStudios/Custom-Metaboxes-and-Fields-for-WordPress/pull/486">#486</a>)</li>
</ul>
<h2 id="1-0-2-2014-03-03">1.0.2 - 2014-03-03</h2>
<h3 id="enhancements">Enhancements</h3>
<ul>
<li>Change the way the <code>&#39;cmb_validate_{$field[&#39;type&#39;]}&#39;</code> filter works.
It is now passed a null value vs saved value. If null is returned, default sanitization will follow. <strong>THIS IS A BREAKING CHANGE</strong>. If you&#39;re already using this filter, take note.</li>
<li>All field types that take an option array have been simplified to take <code>key =&gt; value</code> pairs (vs <code>array( &#39;name&#39; =&gt; &#39;value&#39;, &#39;value&#39; =&gt; &#39;key&#39;, )</code>). This effects the &#39;select&#39;, &#39;radio&#39;, &#39;radio_inline&#39; field types. The &#39;multicheck&#39; field type was already using the <code>key =&gt; value</code> format. Backwards compatibility has been maintained for those using the older style.</li>
<li>Added default value option for <code>taxonomy_select</code> field type. props <a href="https://github.com/darlantc">@darlantc</a>, (<a href="https://github.com/WebDevStudios/Custom-Metaboxes-and-Fields-for-WordPress/pull/473">#473</a>)</li>
<li>Added <code>preview_size</code> parameter for <code>file_list</code> field type. props <a href="https://github.com/IgorCode">@IgorCode</a>, (<a href="https://github.com/WebDevStudios/Custom-Metaboxes-and-Fields-for-WordPress/pull/471">#471</a>)</li>
<li>Updated <code>file_list</code> images to be displayed horizontally instead of vertically. props <a href="https://github.com/IgorCode">@IgorCode</a>, (<a href="https://github.com/WebDevStudios/Custom-Metaboxes-and-Fields-for-WordPress/pull/467">#467</a>)</li>
<li>Use <code>get_the_terms</code> where possible since the data is cached.</li>
</ul>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li>Fixed wysiwyg escaping slashes. props <a href="https://github.com/gregrickaby">@gregrickaby</a>, (<a href="https://github.com/WebDevStudios/Custom-Metaboxes-and-Fields-for-WordPress/pull/465">#465</a>)</li>
<li>Replaced <code>__DIR__</code>, as <code>dirname( __FILE__ )</code> is easier to maintain back-compatibility.</li>
<li>Fixed missing table styling on new posts. props <a href="https://github.com/mustardBees">@mustardBees</a>, (<a href="https://github.com/WebDevStudios/Custom-Metaboxes-and-Fields-for-WordPress/pull/438">#438</a>)</li>
<li>Fix undeclared JS variable. <a href="https://github.com/veelen">@veelen</a>, (<a href="https://github.com/WebDevStudios/Custom-Metaboxes-and-Fields-for-WordPress/pull/451">#451</a>)</li>
<li>Fix <code>file_list</code> errors when removing all files and saving.</li>
<li>Set correct <code>object_id</code> to be used later in <code>cmb_show_on</code> filter. <a href="https://github.com/lauravaq">@lauravaq</a>, (<a href="https://github.com/WebDevStudios/Custom-Metaboxes-and-Fields-for-WordPress/pull/445">#445</a>)</li>
<li>Fix sanitization recursion memeory issues.</li>
</ul>
<h2 id="1-0-1-2014-01-24">1.0.1 - 2014-01-24</h2>
<h3 id="enhancements">Enhancements</h3>
<ul>
<li>Now works with option pages and site settings. (<a href="https://github.com/WebDevStudios/CMB2/wiki/Using-CMB-to-create-an-Admin-Theme-Options-Page">view example in wiki</a>)</li>
<li>two filters to override the setting and getting of options, <code>cmb_override_option_get_$option_key</code> and <code>cmb_override_option_save_$option_key</code> respectively. Handy for using plugins like <a href="https://github.com/voceconnect/wp-large-options/">WP Large Options</a> (<a href="http://vip.wordpress.com/plugins/wp-large-options/">also here</a>).</li>
<li>Improved styling on taxonomy (*tease*) and options pages and for new 3.8 admin UI.</li>
<li>New sanitization class to sanitize data when saved.</li>
<li>New callback field parameter, <code>sanitization_cb</code>, for performing your own sanitization.</li>
<li>new <code>cmb_Meta_Box_types::esc()</code> method that handles escaping data for display.</li>
<li>New callback field parameter, <code>escape_cb</code>, for performing your own data escaping, as well as a new filter, <code>&#39;cmb_types_esc_&#39;. $field[&#39;type&#39;]</code>.</li>
</ul>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li>Fixed wysiwyg editor button padding. props <a href="https://github.com/corvannoorloos">@corvannoorloos</a>, (<a href="https://github.com/WebDevStudios/Custom-Metaboxes-and-Fields-for-WordPress/pull/391">#391</a>)</li>
<li>A few php &lt; 5.3 errors were addressed.</li>
<li>Fields with quotation marks no longer break the input/textarea fields.</li>
<li>metaboxes for Attachment pages now save correctly. Thanks <a href="https://github.com/nciske">@nciske</a> for reporting. (<a href="https://github.com/WebDevStudios/Custom-Metaboxes-and-Fields-for-WordPress/issues/412">#412</a>)</li>
<li>Occasionally fields wouldn&#39;t save because of the admin show_on filter.</li>
<li>Smaller images loaded to the file field type will no longer be blown up larger than their dimensions.</li>
</ul>
<h2 id="1-0-0-2013-11-30">1.0.0 - 2013-11-30</h2>
<ul>
<li>Added <code>text_datetime_timestamp_timezone</code> type, a datetime combo field with an additional timezone drop down, props <a href="https://github.com/dessibelle">@dessibelle</a></li>
<li>Added <code>select_timezone</code> type, a standalone time zone select dropdown. The time zone select can be used with standalone <code>text_datetime_timestamp</code> if desired. Props <a href="https://github.com/dessibelle">@dessibelle</a></li>
<li>Added <code>text_url</code> type, a basic url field. Props <a href="https://github.com/dessibelle">@dessibelle</a></li>
<li>Added <code>text_email</code> type, a basic email field. Props <a href="https://github.com/dessibelle">@dessibelle</a></li>
<li>Added ability to display metabox fields in frontend. Default is true, but can be overriden using the <code>cmb_allow_frontend filter</code>. If set to true, an entire metabox form can be output with the <code>cmb_metabox_form( $meta_box, $object_id, $echo )</code> function. Props <a href="https://github.com/dessibelle">@dessibelle</a>, <a href="https://github.com/messenlehner">@messenlehner</a> &amp; <a href="https://github.com/jtsternberg">@jtsternberg</a>.</li>
<li>Added hook <code>cmb_after_table</code> after all metabox output. Props <a href="https://github.com/wpsmith">@wpsmith</a></li>
<li><code>file_list</code> now works like a repeatable field. Add as many files as you want. Props <a href="https://github.com/coreymcollins">@coreymcollins</a></li>
<li><code>text</code>, <code>text_small</code>, <code>text_medium</code>, <code>text_url</code>, <code>text_email</code>, &amp; <code>text_money</code> fields now all have the option to be repeatable. Props <a href="https://github.com/jtsternberg">@jtsternberg</a></li>
<li>Custom metaboxes can now be added for user meta. Add them on the user add/edit screen, or in a custom user profile edit page on the front-end. Props <a href="https://github.com/tw2113">@tw2113</a>, <a href="https://github.com/jtsternberg">@jtsternberg</a></li>
</ul>
<h2 id="0-9-4">0.9.4</h2>
<ul>
<li>Added field &quot;before&quot; and &quot;after&quot; options for each field. Solves issue with &#39;$&#39; not being the desired text_money monetary symbol, props <a href="https://github.com/GaryJones">@GaryJones</a></li>
<li>Added filter for &#39;std&#39; default fallback value, props <a href="https://github.com/messenlehner">@messenlehner</a></li>
<li>Ensure oEmbed videos fit in their respective metaboxes, props <a href="https://github.com/jtsternberg">@jtsternberg</a></li>
<li>Fixed issue where an upload field with &#39;show_names&#39; disabled wouldn&#39;t have the correct button label, props <a href="https://github.com/jtsternberg">@jtsternberg</a></li>
<li>Better file-extension check for images, props <a href="https://github.com/GhostToast">@GhostToast</a></li>
<li>New filter, <code>cmb_valid_img_types</code>, for whitelisted image file-extensions, props <a href="https://github.com/jtsternberg">@jtsternberg</a></li>
</ul>
<h2 id="0-9-3">0.9.3</h2>
<ul>
<li>Added field type and field id classes to each cmb table row, props <a href="https://github.com/jtsternberg">@jtsternberg</a></li>
</ul>
<h2 id="0-9-2">0.9.2</h2>
<ul>
<li>Added post type comparison to prevent storing null values for taxonomy selectors, props <a href="https://github.com/norcross">@norcross</a></li>
</ul>
<h2 id="0-9-1">0.9.1</h2>
<ul>
<li>Added <code>oEmbed</code> field type with ajax display, props <a href="https://github.com/jtsternberg">@jtsternberg</a></li>
</ul>
<h2 id="0-9">0.9</h2>
<ul>
<li><strong>Note: This release requires WordPress 3.3+</strong></li>
<li>Cleaned up scripts being queued, props <a href="https://github.com/jaredatch">@jaredatch</a></li>
<li>Cleaned up and reorganized jQuery, props <a href="https://github.com/GaryJones">@GaryJones</a></li>
<li>Use $pagenow instead of custom $current_page, props <a href="https://github.com/jaredatch">@jaredatch</a></li>
<li>Fixed CSS, removed inline styles, now all in style.css, props <a href="https://github.com/jaredatch">@jaredatch</a></li>
<li>Fixed multicheck issues (issue #48), props <a href="https://github.com/jaredatch">@jaredatch</a></li>
<li>Fixed jQuery UI datepicker CSS conflicting with WordPress UI elements, props <a href="https://github.com/jaredatch">@jaredatch</a></li>
<li>Fixed zeros not saving in fields, props <a href="https://github.com/GaryJones">@GaryJones</a></li>
<li>Fixed improper labels on radio and multicheck fields, props <a href="https://github.com/jaredatch">@jaredatch</a></li>
<li>Fixed fields not rendering properly when in sidebar, props <a href="https://github.com/jaredatch">@jaredatch</a></li>
<li>Fixed bug where datepicker triggers extra space after footer in Firefox (issue #14), props <a href="https://github.com/jaredatch">@jaredatch</a></li>
<li>Added jQuery UI datepicker packaged with 3.3 core, props <a href="https://github.com/jaredatch">@jaredatch</a></li>
<li>Added date time combo picker, props <a href="https://github.com/jaredatch">@jaredatch</a></li>
<li>Added color picker, props <a href="https://github.com/jaredatch">@jaredatch</a></li>
<li>Added readme.md markdown file, props <a href="https://github.com/jaredatch">@jaredatch</a></li>
</ul>
<h2 id="0-8-2012-01-19">0.8 - 2012-01-19</h2>
<ul>
<li>Added jQuery timepicker, props <a href="https://github.com/norcross">@norcross</a></li>
<li>Added &#39;raw&#39; textarea to convert special HTML entities back to characters, props <a href="https://github.com/norcross">@norcross</a></li>
<li>Added missing examples on example-functions.php, props <a href="https://github.com/norcross">@norcross</a></li>
</ul>
<h2 id="0-7">0.7</h2>
<ul>
<li>Added the new wp_editor() function for the WYSIWYG dialog box, props <a href="https://github.com/jcpry">@jcpry</a></li>
<li>Created &#39;cmb_show_on&#39; filter to define your own Show On Filters, props <a href="https://github.com/billerickson">@billerickson</a></li>
<li>Added page template show_on filter, props <a href="https://github.com/billerickson">@billerickson</a></li>
<li>Improvements to the &#39;file&#39; field type, props <a href="https://github.com/randyhoyt">@randyhoyt</a></li>
<li>Allow for default values on &#39;radio&#39; and &#39;radio_inline&#39; field types, props <a href="https://github.com/billerickson">@billerickson</a></li>
</ul>
<h2 id="0-6-1">0.6.1</h2>
<ul>
<li>Enabled the ability to define your own custom field types (issue #28). props <a href="https://github.com/randyhoyt">@randyhoyt</a></li>
</ul>
<h2 id="0-6">0.6</h2>
<ul>
<li>Added the ability to limit metaboxes to certain posts by id. props <a href="https://github.com/billerickson">@billerickson</a></li>
</ul>
<h2 id="0-5">0.5</h2>
<ul>
<li>Fixed define to prevent notices. props <a href="https://github.com/destos">@destos</a></li>
<li>Added text_date_timestap option. props <a href="https://github.com/andrewyno">@andrewyno</a></li>
<li>Fixed WYSIWYG paragraph breaking/spacing bug. props <a href="https://github.com/wpsmith">@wpsmith</a></li>
<li>Added taxonomy_radio and taxonomies_select options. props <a href="https://github.com/c3mdigital">@c3mdigital</a></li>
<li>Fixed script causing the dashboard widgets to not be collapsible.</li>
<li>Fixed various spacing and whitespace inconsistencies</li>
</ul>
<h2 id="0-4">0.4</h2>
<ul>
<li>Think we have a release that is mostly working. We&#39;ll say the initial release :)</li>
</ul>
