<h1 id="contributing-to-cmb2">Contributing to CMB2</h1>
<p>Thank you for your interest in contributing back to CMB2. Please help us review your issues and/or merge your pull requests by following the below guidelines.</p>
<h4 id="note-the-issues-section-is-for-bug-reports-and-feature-requests-only-">NOTE: The issues section is for bug reports and feature requests only.</h4>
<p><em>Support is not offered for this library, and the likelihood that the maintainers will respond is very low. If you need help, please use <a href="http://stackoverflow.com/search?q=cmb">stackoverflow</a>, or the <a href="http://wordpress.org/support/plugin/cmb2">wordpress.org plugin forums</a>.</em></p>
<h2 id="before-reporting-a-bug">Before reporting a bug</h2>
<ol>
<li>Search <a href="https://github.com/WebDevStudios/CMB2/issues">issues</a> to see if the issue has been previously reported.</li>
<li>Install the trunk version of CMB2 and test there.</li>
</ol>
<h2 id="how-to-report-a-bug">How to report a bug</h2>
<ol>
<li>Specify the version number for both WordPress and CMB2.</li>
<li>Describe the problem in detail. Explain what happened, and what you expected would happen.</li>
<li>Provide a small test-case and a link to a <a href="https://gist.github.com/">gist</a> containing your entire metabox registration code.</li>
<li>If helpful, include a screenshot. Annotate the screenshot for clarity.</li>
</ol>
<h2 id="how-to-contribute-to-cmb2">How to contribute to CMB2</h2>
<p>All contributions welcome. If you would like to submit a pull request, please follow the steps below.</p>
<ol>
<li>Make sure you have a GitHub account.</li>
<li>Fork the repository on GitHub.</li>
<li><strong>Check out the trunk version of CMB2.</strong> If you submit to the master branch, the PR will be closed with a link back to this document.</li>
<li><strong>Verify your issue still exists in the trunk branch.</strong></li>
<li>Make changes to your clone of the repository.<ol>
<li>Please follow the <a href="https://make.wordpress.org/core/handbook/coding-standards">WordPress code standards</a>.</li>
<li>If possible, and if applicable, please also add/update unit tests for your changes.</li>
<li>Please add documentation to any new functions, methods, actions and filters.</li>
<li>When committing, reference your issue (if present) and include a note about the fix.</li>
</ol>
</li>
<li><a href="https://help.github.com/articles/creating-a-pull-request/">Submit a pull request</a>.</li>
</ol>
<p><strong>Note:</strong> You may gain more ground and avoid unecessary effort if you first open an issue with the proposed changes, but this step is not necessary.</p>
<h2 id="additional-resources">Additional Resources</h2>
<ul>
<li><a href="https://github.com/WebDevStudios/CMB2/wiki">CMB2 Documentation Wiki</a></li>
<li><a href="https://github.com/WebDevStudios/CMB2-Snippet-Library">CMB2 Snippet Library</a></li>
<li><a href="http://cmb2.io/api/">CMB2 API Documentation</a></li>
<li><a href="http://help.github.com/">General GitHub Documentation</a></li>
<li><a href="http://help.github.com/send-pull-requests/">GitHub Pull Request documentation</a></li>
<li><a href="http://phpunit.de/manual/current/en/writing-tests-for-phpunit.html">PHPUnit Tests Guide</a></li>
</ul>
