/*---------------------------
General Button Styles
-----------------------------*/

.button {

}

.button-orange {
    display: inline-block;
    text-align: center;
    color: #fff;
    border-radius: 1px;
    border: 1px solid $bressman-orange;
    transition: all 0.2s;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    top: 0;
    font-size: 1.1em;
    font-family: 'Exo 2', $sans-serif;
    font-weight: bold;
    padding: 1.05em 1.5em;
    background: linear-gradient(to right, #e46a10 0%,#ffa25d 50%,#e46a10 100%);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
    z-index: 10;
    overflow: hidden;

    &__gradient-helper {
        opacity: 0;
        transition: all 0.2s;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: linear-gradient(to right, lighten(#e46a10, 12%) 0%, #ffa25d 25%, #ffa25d 50%, #ffa25d 75%, lighten(#e46a10, 12%) 100%);
    }

    .text-outer {
        font: 400 1.25em/1 'Exo 2', $sans-serif;
        transition: all 0.2s;
        text-shadow:
            0 0.03em 0em #ffffff,
            0 0 0 #444,
            0 0.02em 0.02em #ff6600;
        position: relative;
        z-index: 6;
        display: inline-block;
        vertical-align: top;
        transition: 0;
    }

    .text-inner {
        position: relative;
        z-index: 5;
        color: transparent;
        display: inline-block;
        vertical-align: top;
        transition: all 0.2;
        //letter-spacing: 1px;

        @supports (-ms-ime-align: auto) {
            color: #fff;
        }

        @media screen and (min-width:0\0) and (min-resolution: +72dpi) {
            color: #fff;
        }
    }

    &:hover {
        top: -3px;
        box-shadow: 0px 3px 3px rgba(0,0,0,0.4);
        color: #fff;
        opacity: 1;

        .button-orange__gradient-helper{
            opacity: 1;
        }
    }



    //Alternate Effects

    &--border-radius {
        border-radius: 4px !important;
    }

    &--zoom-effect {
        transform: scale(1);
        top: 0;

        &:hover {
            transform: scale(1.02);
            box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
            top: 0;
        }
    }


} //End .button--orange


