/*--------------------------------------------
Searchbox Styles
---------------------------------------------*/

.sb-slidebar {
    .search-box:after {
        right: 18px;
    }
    .search-box {
        padding-right: 15px;
    }
}

.search-box {

    height: auto;
    padding: 10px;
    margin-bottom: 0;
    position: relative;
    transition: all 400ms ease;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    color: $black;
    background:$slideNavtopLevelBackgroundColor;
    border-bottom: 1px solid $slideNavLinkBottomBorder;

    &:hover, &:focus {
        background: $slideNavtopLevelBackgroundHoverColor;
    }

    input {
        width: 100%;
        padding: 8px 50px 8px 12px;
        margin: 0;
        display: block;
        position: relative;
        z-index: 0;
        max-width: none;

        &.search-submit {

            opacity: 0;
            position: absolute;
            top: 10px;
            height: 37px;
            right: 10px;
            width: 40px;
            border-radius: 3px;
            z-index: 30;
            padding-right: 0;
        }

    }
}

.search-box:after {
    content: '\f002';
    position: absolute;
    top: 15px;
    right: 10px;
    width: 30px;
    color: #bbb;
    cursor: pointer;
    font-size: 18px;
    text-align: right;
    padding-right: 2%;
    padding-top: 0;
    z-index: 0;
    font-family: fontawesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.3s;
}


.search-box:hover:after, .search-box:focus:after {
    color: #333;
}
.search-box.show {
    position: fixed;
    top: 50px;
    z-index: 5;
        transition: all 400ms ease;

}
.desktop-search {
    display: none;
}

.admin-bar {
    .search-box.show {
        top: 96px;
    }
}

.no-shadow {
    box-shadow: none;
}





@media screen and (min-width: 768px){

    .desktop-search {
        display: block;
    }

    .desktop-search.search-box {
        background: transparent;
        height: auto;
        padding: 10PX;
        margin-bottom: 0;
        margin-right: 0;
        padding-right: 0;
        left: auto;
        float: right;
        transition: all 400ms linear;
        box-shadow: none;
        color: $black;
        margin-top: 7px;
        border-bottom: 0;
        max-width: 220px;

        input {
            z-index: 0;

            &.search-submit {
                z-index: 2;
            }
        }
    }
}