/*--------------------------------------------
Sticky Footer
---------------------------------------------*/

html, body {
    height: 100%;
}

/* .sticky-footer-container {
    display: table;
    height: 100%;
    width: 100%;
    table-layout: fixed;
}

#page-footer {
    display: table-row;
    height: 1px;
}
 */