/*--------------------------------------------
Typography
---------------------------------------------*/


//Font Stacks
$sans-serif:        "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
$alt-sans-serif:    "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;
$alt-serif:         'Cormorant Garamond', "Georgia", Cambria, Times New Roman, Times, serif;


@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Bold.eot');
    src: url('../fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Oswald-Bold.woff') format('woff'),
        url('../fonts/Oswald-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.eot');
    src: url('../fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Oswald-Regular.woff') format('woff'),
        url('../fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Light.eot');
    src: url('../fonts/Oswald-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Oswald-Light.woff') format('woff'),
        url('../fonts/Oswald-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
  font-family: 'Exo 2';
  src: url('../fonts/Exo2-MediumItalic.eot');
  src: url('../fonts/Exo2-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Exo2-MediumItalic.woff') format('woff'),
    url('../fonts/Exo2-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Exo 2';
  src: url('../fonts/Exo2-BlackItalic.eot');
  src: url('../fonts/Exo2-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Exo2-BlackItalic.woff') format('woff'),
    url('../fonts/Exo2-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('../fonts/CormorantGaramond-Regular.eot');
  src: url('../fonts/CormorantGaramond-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CormorantGaramond-Regular.woff') format('woff'),
    url('../fonts/CormorantGaramond-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('../fonts/CormorantGaramond-BoldItalic.eot');
  src: url('../fonts/CormorantGaramond-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CormorantGaramond-BoldItalic.woff') format('woff'),
    url('../fonts/CormorantGaramond-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-ExtraBold.eot');
  src: url('../fonts/LibreFranklin-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LibreFranklin-ExtraBold.woff') format('woff'),
    url('../fonts/LibreFranklin-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-MediumItalic.eot');
  src: url('../fonts/LibreFranklin-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LibreFranklin-MediumItalic.woff') format('woff'),
    url('../fonts/LibreFranklin-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Exo 2';
  src: url('../fonts/Exo2-Light.eot');
  src: url('../fonts/Exo2-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Exo2-Light.woff') format('woff'),
    url('../fonts/Exo2-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url('../fonts/Exo2-ThinItalic.eot');
  src: url('../fonts/Exo2-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Exo2-ThinItalic.woff') format('woff'),
    url('../fonts/Exo2-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Exo 2';
  src: url('../fonts/Exo2-Italic.eot');
  src: url('../fonts/Exo2-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Exo2-Italic.woff') format('woff'),
    url('../fonts/Exo2-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Exo 2';
  src: url('../fonts/Exo2-Regular.eot');
  src: url('../fonts/Exo2-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Exo2-Regular.woff') format('woff'),
    url('../fonts/Exo2-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url('../fonts/Exo2-Bold.eot');
  src: url('../fonts/Exo2-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Exo2-Bold.woff') format('woff'),
    url('../fonts/Exo2-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url('../fonts/Exo2-Thin.eot');
  src: url('../fonts/Exo2-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Exo2-Thin.woff') format('woff'),
    url('../fonts/Exo2-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-ExtraBoldItalic.eot');
  src: url('../fonts/LibreFranklin-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LibreFranklin-ExtraBoldItalic.woff') format('woff'),
    url('../fonts/LibreFranklin-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Exo 2 Semi';
  src: url('../fonts/Exo2-SemiBoldItalic.eot');
  src: url('../fonts/Exo2-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Exo2-SemiBoldItalic.woff') format('woff'),
    url('../fonts/Exo2-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-Bold.eot');
  src: url('../fonts/LibreFranklin-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LibreFranklin-Bold.woff') format('woff'),
    url('../fonts/LibreFranklin-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('../fonts/CormorantGaramond-LightItalic.eot');
  src: url('../fonts/CormorantGaramond-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CormorantGaramond-LightItalic.woff') format('woff'),
    url('../fonts/CormorantGaramond-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-ThinItalic.eot');
  src: url('../fonts/LibreFranklin-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LibreFranklin-ThinItalic.woff') format('woff'),
    url('../fonts/LibreFranklin-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-Regular.eot');
  src: url('../fonts/LibreFranklin-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LibreFranklin-Regular.woff') format('woff'),
    url('../fonts/LibreFranklin-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-Black.eot');
  src: url('../fonts/LibreFranklin-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LibreFranklin-Black.woff') format('woff'),
    url('../fonts/LibreFranklin-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2 Extra';
  src: url('../fonts/Exo2-ExtraBoldItalic.eot');
  src: url('../fonts/Exo2-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Exo2-ExtraBoldItalic.woff') format('woff'),
    url('../fonts/Exo2-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('../fonts/CormorantGaramond-SemiBoldItalic.eot');
  src: url('../fonts/CormorantGaramond-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CormorantGaramond-SemiBoldItalic.woff') format('woff'),
    url('../fonts/CormorantGaramond-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('../fonts/CormorantGaramond-Medium.eot');
  src: url('../fonts/CormorantGaramond-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CormorantGaramond-Medium.woff') format('woff'),
    url('../fonts/CormorantGaramond-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-Thin.eot');
  src: url('../fonts/LibreFranklin-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LibreFranklin-Thin.woff') format('woff'),
    url('../fonts/LibreFranklin-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-SemiBoldItalic.eot');
  src: url('../fonts/LibreFranklin-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LibreFranklin-SemiBoldItalic.woff') format('woff'),
    url('../fonts/LibreFranklin-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Exo 2 Extra';
  src: url('../fonts/Exo2-ExtraLight.eot');
  src: url('../fonts/Exo2-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Exo2-ExtraLight.woff') format('woff'),
    url('../fonts/Exo2-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-SemiBold.eot');
  src: url('../fonts/LibreFranklin-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LibreFranklin-SemiBold.woff') format('woff'),
    url('../fonts/LibreFranklin-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-ExtraLightItalic.eot');
  src: url('../fonts/LibreFranklin-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LibreFranklin-ExtraLightItalic.woff') format('woff'),
    url('../fonts/LibreFranklin-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Exo 2 Extra';
  src: url('../fonts/Exo2-ExtraLightItalic.eot');
  src: url('../fonts/Exo2-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Exo2-ExtraLightItalic.woff') format('woff'),
    url('../fonts/Exo2-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Exo 2';
  src: url('../fonts/Exo2-LightItalic.eot');
  src: url('../fonts/Exo2-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Exo2-LightItalic.woff') format('woff'),
    url('../fonts/Exo2-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('../fonts/CormorantGaramond-Light.eot');
  src: url('../fonts/CormorantGaramond-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CormorantGaramond-Light.woff') format('woff'),
    url('../fonts/CormorantGaramond-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url('../fonts/Exo2-Black.eot');
  src: url('../fonts/Exo2-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Exo2-Black.woff') format('woff'),
    url('../fonts/Exo2-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url('../fonts/Exo2-Medium.eot');
  src: url('../fonts/Exo2-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Exo2-Medium.woff') format('woff'),
    url('../fonts/Exo2-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-Italic.eot');
  src: url('../fonts/LibreFranklin-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LibreFranklin-Italic.woff') format('woff'),
    url('../fonts/LibreFranklin-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-LightItalic.eot');
  src: url('../fonts/LibreFranklin-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LibreFranklin-LightItalic.woff') format('woff'),
    url('../fonts/LibreFranklin-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-BlackItalic.eot');
  src: url('../fonts/LibreFranklin-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LibreFranklin-BlackItalic.woff') format('woff'),
    url('../fonts/LibreFranklin-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Exo 2 Semi';
  src: url('../fonts/Exo2-SemiBold.eot');
  src: url('../fonts/Exo2-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Exo2-SemiBold.woff') format('woff'),
    url('../fonts/Exo2-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url('../fonts/Exo2-BoldItalic.eot');
  src: url('../fonts/Exo2-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Exo2-BoldItalic.woff') format('woff'),
    url('../fonts/Exo2-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-Medium.eot');
  src: url('../fonts/LibreFranklin-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LibreFranklin-Medium.woff') format('woff'),
    url('../fonts/LibreFranklin-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-BoldItalic.eot');
  src: url('../fonts/LibreFranklin-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LibreFranklin-BoldItalic.woff') format('woff'),
    url('../fonts/LibreFranklin-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('../fonts/CormorantGaramond-SemiBold.eot');
  src: url('../fonts/CormorantGaramond-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CormorantGaramond-SemiBold.woff') format('woff'),
    url('../fonts/CormorantGaramond-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('../fonts/CormorantGaramond-Italic.eot');
  src: url('../fonts/CormorantGaramond-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CormorantGaramond-Italic.woff') format('woff'),
    url('../fonts/CormorantGaramond-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Exo 2 Extra';
  src: url('../fonts/Exo2-ExtraBold.eot');
  src: url('../fonts/Exo2-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Exo2-ExtraBold.woff') format('woff'),
    url('../fonts/Exo2-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('../fonts/CormorantGaramond-MediumItalic.eot');
  src: url('../fonts/CormorantGaramond-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CormorantGaramond-MediumItalic.woff') format('woff'),
    url('../fonts/CormorantGaramond-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-ExtraLight.eot');
  src: url('../fonts/LibreFranklin-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LibreFranklin-ExtraLight.woff') format('woff'),
    url('../fonts/LibreFranklin-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-Light.eot');
  src: url('../fonts/LibreFranklin-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LibreFranklin-Light.woff') format('woff'),
    url('../fonts/LibreFranklin-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('../fonts/CormorantGaramond-Bold.eot');
  src: url('../fonts/CormorantGaramond-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CormorantGaramond-Bold.woff') format('woff'),
    url('../fonts/CormorantGaramond-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

