/*--------------------------------------------
Theme Variables
---------------------------------------------*/


/*--------------------------------------------
Colors
---------------------------------------------*/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #4F6061;
$white:             #fff;
$light-gray:        #f8f9fa;
$gray:              #eaedf2;
$meta-gray:         #9fa6b4;
$tan:               #eceee5;
$green:             #7dd667;
$bones-pink:        #f01d4f;
$blue:              #2980b9;
$border-color:      #ccc;
$disabled-gray:     #cfcfcf;


//Text Colors

$text-color:        #2a2a2a;
$alt-text-color: 	#888;


//Theme Colors

$bressman-orange:           #e46a10;
$bressman-light-orange:     #ffa25d;
$bressman-dark-blue:        #1e2e41;



//Link Colors

$link-color:        #375d82;
$link-hover:        darken($link-color, 9%);

//Secondary Link Color Used For Search Links

$secondary-link-color: #336D99;
$secondary-link-color-hover: darken($secondary-link-color, 9%);

//Main Page Section Colors
//Note Header Background is Ignored & set in _header.scss
$header-background: #16a085;
$footer-background: #16a085;
$body-background: 	#f3f3f3;



//Footer Phone Colors
$footer-phone-main-bg: $link-color;
$footer-phone-hover-bg: $link-hover;

//Desktop Nav Color Variables

$navbarBackgroundColor: 				transparent;

$topLevelLinkColor:	 					#fff;
$topLevelBackgroundColor: 				$navbarBackgroundColor;
$topLevelLinkHoverColor:				$bressman-orange;
$topLevelBackgroundHoverColor: 			transparent;

$secondLevelLinkColor:	 				#fff;
$secondLevelBackgroundColor:			#333;
$secondLevelLinkHoverColor:				$bressman-orange;
$secondLevelBackgroundHoverColor: 		#333;

//To enable independent current item styles set the following variables to unique values
$topLevelCurrentMenuItemLinkColor: 				$bressman-orange;
$topLevelCurrentMenuItemBackgroundColor:          transparent; //$desktopTopLevelBackgroundColor;
$topLevelCurrentMenuItemLinkHoverColor: 			$bressman-orange;
$topLevelCurrentMenuItemBackgroundHoverColor:    transparent;

//These Styles also apply to the search box if it is used
$mobileNavBoxLinkColor: 				white;
$mobileNavBoxLinkHoverColor:   			$mobileNavBoxLinkColor;
$mobileNavBoxBackgroundColor: 			#555;
$mobileNavBoxBackgroundHoverColor:  	darken($mobileNavBoxBackgroundColor, 6%);


//Slide Out Nav Color Variables

$slideNavHeaderBackgroundColor: 			#2d2d2d;
$slidNavHeaderTextColor:					$white;

$slidebarBackgroundColor:					#333;

$slideNavtopLevelLinkColor: 				$white;
$slideNavtopLevelLinkHoverColor: 			$white;
$slideNavtopLevelBackgroundColor:			#444;
$slideNavtopLevelBackgroundHoverColor: 		#666;

$slideNavsecondLevelLinkColor: 				$white;
$slideNavsecondLevelLinkHoverColor: 		$white;
$slideNavsecondLevelBackgroundColor: 		#555;
$slideNavsecondLevelBackgroundHoverColor: 	#666;

$slideNavLinkBottomBorder: 					#5a5a5a;
