<h1 id="cmb-test-suite-travis-http-img-shields-io-travis-webdevstudios-cmb2-svg-style-flat-">CMB Test Suite <a href=""><img src="http://img.shields.io/travis/WebDevStudios/CMB2.svg?style=flat" alt="Travis"></a></h1>
<p>The CMB Test Suite uses PHPUnit to help us maintain the best possible code quality.</p>
<h2 id="travis-ci-automated-testing">Travis-CI Automated Testing</h2>
<p>The master branch of CMB is automatically tested on <a href="http://travis-ci.org">travis-ci.org</a>. The image above will show you the latest test&#39;s output. Travis-CI will also automatically test all new Pull Requests to make sure they will not break our build.</p>
<h2 id="quick-start-for-manual-runs-">Quick Start (For Manual Runs)</h2>
<h3 id="1-clone-this-repository">1. Clone this repository</h3>
<pre><code class="lang-bash">git clone git@github.com:WebDevStudios/CMB2.git ./
</code></pre>
<h3 id="2-install-phpunit-https-github-com-sebastianbergmann-phpunit-installation-">2. <a href="https://github.com/sebastianbergmann/phpunit#installation">Install PHPUnit</a></h3>
<p>This might be tricky. We recommend using <a href="http://brew.sh/">homebrew</a> because it lets you install lots of things very easily.</p>
<p>If you use homebrew, you can just run <code>brew install phpunit</code>.</p>
<h3 id="3-initialize-local-testing-environment">3. Initialize local testing environment</h3>
<p>If you haven&#39;t already installed the WordPress testing library, we have a helpful script to do so for you.</p>
<p>Note: you&#39;ll need to already have <code>svn</code>, <code>wget</code>, and <code>mysql</code> available.</p>
<p>Change to the CMB directory:</p>
<pre><code class="lang-bash">cd CMB2
</code></pre>
<pre><code class="lang-bash">bash tests/bin/install-wp-tests.sh wordpress_test root &#39;&#39; localhost latest
</code></pre>
<ul>
<li><code>wordpress_test</code> is the name of the test database (<strong>all data will be deleted!</strong>)</li>
<li><code>root</code> is the MySQL user name</li>
<li><code>&#39;&#39;</code> is the MySQL user password</li>
<li><code>localhost</code> is the MySQL server host</li>
<li><code>latest</code> is the WordPress version; could also be <code>3.7</code>, <code>3.6.2</code> etc.</li>
</ul>
<h3 id="4-run-the-tests-manually">4. Run the tests manually</h3>
<p>Note: MySQL must be running in order for tests to run.</p>
<pre><code class="lang-bash">phpunit
</code></pre>
<h3 id="5-bonus-round-run-tests-automatically-before-each-commit">5. Bonus Round: Run tests automatically before each commit</h3>
<p>All you need to do is run these two commands, and then priort to accepting any commit grunt will run phpunit.
If a test fails, the commit will be rejected, giving you the opportunity to fix the problem first.</p>
<pre><code class="lang-bash">npm install
grunt githooks
</code></pre>
<p><strong>Note:</strong> You&#39;ll need to install <a href="https://www.npmjs.org/">npm</a> if that&#39;s not available. You could also install this via <a href="http://brew.sh/">homebrew</a> using <code>brew install npm</code>.</p>
