/******************************************************************
Admin Page Styles
******************************************************************/

#custom_page_metabox {
	display: none;
}

.show {
	display: block !important;
}
