/*---------------------------------
General Form Overrides
----------------------------------*/

.wdwc-contact-form {
  padding-bottom: 0px;

  p{
    margin-bottom: 10px;
  }

  textarea{
    height: 100%;
    max-height: 75px;
  }

  .HomeFormSubmit{
    text-align: center;
  }

  input, textarea{
    color: #111;
  }

} //End .wdwc-contact-form

/*---------------------------------
Responsive iFrames for homepage video
----------------------------------*/

.iframe-wrapper {
  position: relative;
  height: 0;
  overflow: hidden;
}

/* 16x9 Aspect Ratio */
.iframe-wrapper-16x9 {
  padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */
.iframe-wrapper-4x3 {
  padding-bottom: 75%;
}

.iframe-wrapper iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

//Fixing Homepage Top Appearance on Tablet
@media screen and (max-width: 959px) and (min-width: 768px){
  .page-id-2 .visible-tablet {
    h3{
      padding-top: 0 !important;
      margin-top: 3px !important;
      font-size: 14px !important;

    }
  }
}

/*---------------------------------
General Reviews Page
----------------------------------*/
#frontpageslider-container{
    @include clearfix();
    height: auto;
}
img.single-review-image {
  max-width: 85px;
  border: 1px solid #e66e0f;
  border-radius: 2px;
  padding: 5px;
}
h3.review-name-content{
  margin-bottom: 0;
  margin-top: 5px;
}
.review-date {
    font-size: 10px;
}

.review-video-tagLine{
  padding-bottom: 20px;
}

.review-video-wrapper{
 position: relative;
  height: 0;
  overflow: hidden;
padding-bottom: 56.25%;
}

.review-video-wrapper iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 767px){
  .span4.sidebar-wrapper.review-sidebar{
    top: 60px;
  }
  .review-footerStatement {
    max-width: 600px;
  }
  img.single-review-image {
    float: left;
    margin-right: 10px;
  }
  .review-name {
    display: inline-flex;
  }
  .review-rating {
    margin: 5px 0 0 15px;
  }
  p.review-content {
    display: flex;
    padding: 10px 5px;
  }
}

@media screen and (max-width: 767px){
  .single-review{
    text-align: center;
  }
  p.review-content{
    text-align: justify;
    font-size: 1.15em;
  }
}



//Updating Top background color
div.frontpage-slider-wrapper{
  background: #ece6e1 !important;
}


/*---------------------------------
New Homepage Video + Form Top Section
- To not use JS for pagespeed purposes
----------------------------------*/

.homepage-header-wrapper {
  margin-bottom: 0 !important; // to overwrite .main
  border-radius: 0 !important; // to overwrite .main
}

.homepage-header-section {
  @include clearfix();
  padding: 20px;
  background: #ece6e1;


  @media screen and (min-width: 768px){
    padding-left: 45px;
    padding-right: 30px;
  }

  //Grid Styles
  &__video {
    width: 100%;
    text-align: center;

    @media screen and (min-width: 768px){
      width: 60%;
      padding-right: 30px;
      float: left;
      text-align: left;
      padding-top: 15px;
    }

    @media screen and (max-width: 480px){
      display: none;
    }
  }

  &__contact-form {
    width: 100%;
    text-align: center;

    @media screen and (min-width: 768px){
      width: 40%;
      padding-left: 20px;
      float: left;
      text-align: left;
    }
  }

  //General Styles
  &__form-heading {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 0px;
    text-shadow: #ffffff 0px 0px 8px;
    color: #222222;
    text-align: center;
    margin-top: 0;

    @media screen and (min-width: 481px){
      margin-top: 15px;
    }
  }

} //End .homepage-header-section


/*---------------------------------
Fixing Social Link Appearance on Mobile
----------------------------------*/

div.social-links{

  @media screen and (max-width: 767px){
    display: flex;
  }

  @media screen and (max-width: 480px){

    .btn{
      position: relative;
      overflow: hidden;
      //To Cover Up Broken Looking Text
      &:before{
        position: absolute;
        background: #3f3f3f;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        text-align: center;
        font-size: 38px;
        line-height: 74px;
      }
    }
  }
} //End .social-links

/*--------------------------------------------
Page Navigation Styles
---------------------------------------------*/

.pagination, .wp-prev-next {
    margin: 1.5em 0;
}
.pagination{
text-align: center;

ul {
  display: inline-block;
  background-color: #fff;
  white-space: nowrap;
  padding: 0;
  clear: both;
  border-radius: 3px;
}

li {
  padding: 0;
  margin: 0;
  float: left;
  display: inline;
  overflow: hidden;
  border-right: 1px solid #ccc;

  &:nth-last-of-type(1) {
    border-right: 0;
  }
}

a, span{
  margin: 0;
  text-decoration: none;
  padding: 0;
  line-height: 1em;
  font-size: 1em;
  font-weight: normal;
  padding: 0.75em;
  min-width: 1em;
  display: block;
  color: #848077;

  &:hover, &:focus {
    background-color: #d8670e;
    color: #fff !important;
    text-decoration: none !important;
  }
}

.current{
    cursor: default;
    color: #555;

    &:hover, &:focus {
        background-color: #fff;
        color: #555;
    }
}

} /* end .bones_page_navi */

/* fallback previous & next links */
.wp-prev-next {

    ul {}

    .prev-link {
        float: left;
    }

    .next-link {
        float: right;
    }

} /* end .wp-prev-next */

/* hiding pop up */
#apexchat_invitation_container_wrapper, #apexchat_invitation_mask, #apexchat_static_tab{
  display: none !important;
}


.personal-injury-grid{
  display: flex;
  flex-wrap: wrap;
  text-align: center;

  @media screen and (max-width: 480px){
    flex-direction: column;
  }

  &__single{
    flex: 1;
    margin: 10px;
    background: #ece6e1;
    padding: 20px 10px;
    text-decoration: none;
    border-radius: 3px;

    &:hover{
      text-decoration: none;
      color: #D8670E !important;
    }

    .fa{
      display: block;
      font-size: 3em;
      margin-bottom: 10px;
    }

  }
}

/* Awards grid */
.awards{
  display: flex;
  flex-wrap: wrap;
  text-align: center;

  &__single{
    flex: 1;
    padding: 10px;
  }
}

.free-book{

  &__form{
    display: flow-root;
  }
}

.sidebar-contact-form{
  input, textarea{
    width: 100%;
  }
}

// Hide contact form on freebook page
.page-id-12 #text-10{
  display: none;
}


/*---------------------------------
Hiding Sidebar Contact Form on Homepage
----------------------------------*/

.home {
  #text-10 {
    display: none;
  }
}


/*---------------------------------
Infographic embed style
----------------------------------*/


code{
    background: #e0e0e0;
    color: #444;
    padding: 15px;
    display: block;
    font-size: 16px;
    border-radius: 4px;
}